@using Teamwork.Model.Operaciones
@model List<ProcesoCargaMasiva>

@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Solicitud Asistencia";
}

<div style="width: 100%; height: 60px;"></div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;" id="content__cargamasiva">
    <div class="row ml-auto mr-auto" style="width:92%">
        @Html.ButtonAdministracion(
                       "button",
                       new string[] {
                           "class='dspl-inline-block new-family-teamwork'",
                           "onclick='handleReturnMenuCargaMasiva()'"
                       },
                       new string[]
                       {
                           "min-width: 50px",
                           "border: none",
                           "text-align: center",
                           "font-weight: 100",
                           "border: 0",
                           "margin: none",
                           "background-color: transparent!important"
                       },
                       new string[]
                       {
                           "<span class='dspl-inline-block'><span style='width: 50px; height: 50px; border-radius: 50%; display: flex; align-items: center; text-align: center;' class='btn btn-teamwork pdt-5 pdr-5 pdb-5 pdl-5'><img src='../Resources/flecha-izquierda.svg' width='30' height='30' style='position: relative; left: 10%;' /></span></span>" +
                           "<span class='new-family-teamwork' style='position: relative; float: right; margin-left: 10px; margin-top: 10px; font-size: 20px; font-wight: 100;'>Volver a Menu Cargas Masivas</span>"
                       },
                       true
                   )
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 50px;">
        <div class="row ml-auto mr-auto" style="width:92%">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h2 class="new-family-teamwork" style="font-weight:100;">
                    Carga Masiva Reloj Control
                </h2>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center" style="margin-bottom: -10px;">
                <select id="select__plantillaCarga" class="form-control ta-center" onchange="handleChangePlantillaRelojControl()" style="width: 350px; display: inline-block;">
                    <option value="">Seleccione Plantilla Carga Masiva...</option>
                    <option value="NTM=">Reloj Control</option>
                    <option value="NTE=">GeoVictoria</option>
                </select>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center" style="margin-bottom: 30px;">
                @{ Html.RenderPartial("Containers/CargaMasiva/_Plantilla", Model); }
            </div>


            
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/ajaxFunciones")
@Scripts.Render("~/bundles/utils")
@Scripts.Render("~/bundles/solicitudcontrato")
@*@Scripts.Render("~/bundles/cargamasiva")*@
@Scripts.Render("~/bundles/asistencia")
@Scripts.Render("~/bundles/cargamasivarelojcontrol")



