<div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-10">
    <h1 class="family-teamwork"><i class="glyphicon-tw-5 glyphicon-tw-grafico"></i> Dashboard</h1>
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        @foreach (AplicacionOperaciones.Models.Finiquitos.Dashboard item in ViewBag.RenderizadoDashboard)
        {
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 @ViewBag.PositionShowDashboardIzq" style="min-height: 150px; padding-left: 0; padding-right: 0;">
                @using (Ajax.BeginForm("Finiquitos", "Bajas", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "finiquitos",
                    OnBegin = "onBegin",
                    OnSuccess = "onSuccess",
                    LoadingElementId = "loader"
                }, new { @style = "display: block;" }))
                {
                    <input type="text" name="pagination" value="MS01" class="dspl-none" />
                    <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                        <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 19px;">Finiquitos</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg" style="font-size: 23px;">Pendientes de Verficación</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg">Se encuentran disponibles para verificación del cálculo</p>
                        <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 50px;"><b>@item.PendientesVerificacion</b></h1>
                    </button>
                }
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 button__finiquitos__pendientes @ViewBag.PositionShowDashboardDer" style="min-height: 150px; padding-left: 0; padding-right: 0;">
                <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                    <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 19px;">Finiquitos</p>
                    <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg" style="font-size: 23px;">Pendientes de Confirmación</p>
                    <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg">Se encuentran disponibles para confirmación de pago</p>
                    <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 50px;"><b>@item.PendientesConfirmacion</b></h1>
                </button>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 @ViewBag.PositionShowDashboardDer" style="min-height: 150px; padding-left: 0; padding-right: 0;">
                @using (Ajax.BeginForm("Complementos", "Bajas", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "finiquitos",
                    OnBegin = "onBegin",
                    OnSuccess = "onSuccess",
                    LoadingElementId = "loader"
                }, new { @style = "display: block;" }))
                {
                    <input type="text" class="dspl-none" name="dataFilter" value="SENDPP" />
                    <input type="text" class="dspl-none" name="typefilter" value="Estado" />
                    <input type="text" name="pagination" value="MS01" class="dspl-none" />
                    <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                        <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 19px;">Complementos</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg" style="font-size: 23px;">Pendientes de Confirmación</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg">Se encuentran disponibles para confirmación de pago</p>
                        <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 50px;"><b>@item.PendientesConfirmacionCmp</b></h1>
                    </button>
                }
            </div>
        }

    </div>
</div>