<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <embed src="@ViewBag.ReferenciaViewCaratula" style="width: 100%; height: 600px;" />
        <div style="margin-top: -500px; width: 100%; height: 500px; text-align: center;">
            <img src="~/Resources/pdfcolorreal-x2.png" style="width: 50px; display: block; margin: auto;" />
            <h1 class="family-teamwork">Cargando PDF<br />Espere un momento...</h1>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="family-teamwork ta-center">Debe seleccionar un metodo de pago</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-30">
                <table style="width: 80%;" cellspacing="10" class="m-auto ">
                    <tbody>
                        <tr class="br-1-solid-200x3 bl-1-solid-200x3 bb-1-solid-200x3 bt-1-solid-200x3">
                            <td class="ta-center">
                                <label class="switch">
                                    <input type="radio" class="typePayments" name="typePayments" value="Cheque">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>
                                <p class="family-teamwork mt-5">VERIFICAR COMO PAGO POR</p>
                                <h1 class="family-teamwork mt-20neg color-70x3" style="font-size: 25px;"><b>CHEQUE</b></h1>
                            </td>
                            <td>
                                <img src="~/Resources/cheque.png" style="width: 50px;" class="m-auto dspl-block" />
                            </td>
                        </tr>
                        <tr class="br-1-solid-200x3 bl-1-solid-200x3 bb-1-solid-200x3 bt-1-solid-200x3">
                            <td class="ta-center">
                                <label class="switch">
                                    <input type="radio" class="typePayments" name="typePayments" value="TEF">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>
                                <p class="family-teamwork mt-5">VERIFICAR COMO PAGO POR</p>
                                <h1 class="family-teamwork mt-20neg color-70x3" style="font-size: 25px;"><b>TRANSFERENCIA</b></h1>
                            </td>
                            <td><img src="~/Resources/transferencia-bancaria.png" style="width: 50px;" class="m-auto dspl-block" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-20">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-10">
                        <p class="family-teamwork">Importante: una vez verificado por usted, se enviara a la confirmación con la autorización correspondiente para enviarlo a proceso de pago.</p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                        @using (Ajax.BeginForm("VerificacionPagoFiniquito", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            LoadingElementId = "loader"
                        }, new { @style = "display: block;" }))
                        {
                            <input type="text" name="codigoFiniquito" value="@ViewBag.ReferenciaCodigoFiniquito" class="dspl-none" />
                            <input type="text" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" class="dspl-none" />
                            <input type="text" name="tipoPago" value="CHQ" class="dspl-none" />
                            <input type="text" name="codigoPago" value="" class="dspl-none" />
                            <button type="submit" class="btn btn-success dspl-none" id="btnConfirmarCheque"
                                    style="border-radius: 0; height: 60px; width: 100%; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-check" style="display: inline-block; width: 40px; height: 40px; margin-top: 2px;"></i>
                                <span style="display: inline-block; margin-top: -35px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 20px; font-style: normal; display: block; margin-bottom: -8px;">Seleccionar</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 16px; font-style: normal; display: block;">Metodo Pago</i>
                                </span>
                            </button>
                        }

                        @using (Ajax.BeginForm("VerificacionPagoFiniquito", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            LoadingElementId = "loader"
                        }, new { @style = "display: block;" }))
                        {
                            <input type="text" name="codigoFiniquito" value="@ViewBag.ReferenciaCodigoFiniquito" class="dspl-none" />
                            <input type="text" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" class="dspl-none" />
                            <input type="text" name="tipoPago" value="TEF" class="dspl-none" />
                            <input type="text" name="codigoPago" value="" class="dspl-none" />
                            <button type="submit" class="btn btn-success dspl-none" id="btnConfirmarTEF"
                                    style="border-radius: 0; height: 60px; width: 100%; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-check" style="display: inline-block; width: 40px; height: 40px; margin-top: 2px;"></i>
                                <span style="display: inline-block; margin-top: -35px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 20px; font-style: normal; display: block; margin-bottom: -8px;">Seleccionar</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 16px; font-style: normal; display: block;">Metodo Pago</i>
                                </span>
                            </button>
                        }
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                        <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger" 
                           style="display: block; border-radius: 0; height: 60px; width: 100%; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-cancel" style="display: inline-block; width: 40px; height: 40px; margin-top: 2px;"></i>
                            <span style="display: inline-block; margin-top: -35px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 20px; font-style: normal; display: block; margin-bottom: -6px;">Cancelar y</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 16px; font-style: normal; display: block;">Cerrar</i>
                            </span>
                        </a>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>