@if ((string)ViewBag.HTMLLoaderError != "")
{
    @Html.Partial("_CompletoGeneric")
}

@if (ViewBag.ReferenciaRedireccionamiento != "")
{
    <script>
        window.location.href = "@ViewBag.ReferenciaRedireccionamiento";
    </script>
}
<table style="width: 100%;">
    <tbody>
        @foreach (AplicacionOperaciones.Models.Finiquitos.Finiquitos item in (List<AplicacionOperaciones.Models.Finiquitos.Finiquitos>)ViewBag.RenderizadoFiniquitos)
        {
            {
                ViewBag.PrevisualizarCaratulaFiniquito = item.ViewCaratula;
                ViewBag.PrevisualizarDocumentoFiniquito = item.ViewDocumento;
                ViewBag.PrevisualizarCartaBaja = item.ViewCarta;
            }
            <tr class="@item.Border br-1-solid-200x3 bb-1-solid-200x3 bt-1-solid-200x3 mb-5">
                <td style="width: 120px; border-left: none; border-right: none;" class="ta-center">
                    <p class="@item.GlyphiconColor family-teamwork color-fx3 fw-bold m-auto" style="font-size: 20px; width: 80px; height: 80px; display: inline-block; border-radius: 50%; vertical-align: middle; display: flex; align-items: center; text-align: center;">
                        <span style="width: 100%; text-align: center; display: block;">@item.Folio</span>
                    </p>
                </td>
                <td style="border-left: none; border-right: none;">
                    <a href="@item.DetalleFiniquito" style="width: 100%; display: block;">
                        <h1 class="family-teamwork color-100x3 fw-bold" style="font-size: 18px;">@Html.Raw(item.NombreSolicitud)</h1>
                        <p class="family-teamwork color-100x3 mt-5neg">Creado @item.Creado</p>
                        <p class="family-teamwork color-100x3 mt-15neg">Creado por <i class="fw-bold fst-normal">@item.CreadoPor</i></p>
                        <p class="family-teamwork color-100x3 mt-15neg">CargoMod: @item.CargoMod &bull; Cargo: @item.Cargo</p>
                        <p class="family-teamwork color-100x3 mt-15neg">Causal <i class="fw-bold fst-normal">@item.Causal</i></p>
                        <p class="family-teamwork color-100x3 mt-15neg">Monto Total Finiquito <i class="fw-bold fst-normal">$ @item.TotalFiniquito</i></p>
                        <p class="family-teamwork color-100x3 mt-15neg">Comentarios de Seguimiento: <i class="fw-bold fst-normal">@Html.Raw(item.Comentarios)</i></p>
                    </a>
                </td>
                <td style="width: 40%; border-left: none; border-right: none;">
                    @if ((string)item.OptAnular == "S")
                    {
                        using (Ajax.BeginForm("AnularFiniquito", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "finiquitos",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                            <button type="submit" class="btn btn-anulado"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Anular</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">Simulación</i>
                                </span>
                            </button>
                        }

                    }

                    @if ((string)item.OptMoverFiniquito == "S")
                    {
                        using (Ajax.BeginForm("MoverFiniquito", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "finiquitos",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                            <button type="submit" class="btn btn-success"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-calcular" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Mover Simulación</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">A Cálculo Finiquito</i>
                                </span>
                            </button>
                        }

                    }

                    @if ((string)item.OptViewDocumento == "S")
                    {
                        <a href="@item.ViewDocumento" class="btn btn-danger" target="_blank"
                           style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-pdf" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Visualizar Doc.</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">Simulación</i>
                            </span>
                        </a>
                    }

                    @if ((string)item.OptViewCaratula == "S")
                    {
                        <a href="@item.ViewCaratula" class="btn btn-danger" target="_blank"
                           style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-pdf" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Visualizar Caratula</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">Simulación</i>
                            </span>
                        </a>
                    }

                    @if ((string)item.OptViewCarta == "S")
                    {
                        <a href="@item.ViewCarta" class="btn btn-danger" target="_blank"
                           style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-pdf" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Visualizar Carta Baja</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">Simulación</i>
                            </span>
                        </a>
                    }

                    @if ((string)item.OptLiquidacionSueldo == "S")
                    {
                        using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            OnSuccess = "ModalPaymentShow",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="secuencia" value="FNQ" />
                            <input type="text" class="dspl-none" name="option" value="LiquidacionSueldos" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                            <button type="submit" class="btn btn-danger"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-pdf" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Liquidaciones</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">De Sueldo</i>
                                </span>
                            </button>
                        }
                    }

                </td>
            </tr>
        }
    </tbody>  
</table>

@if (!(bool)ViewBag.HasFiniquitoIndividual)
{
    <div class="mt-40 mb-100 ta-center">
        @Html.Partial("Teamwork/_PaginationsSimulaciones")
    </div>
}
else
{
    <div class="row mt-30">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
                <i class="glyphicon-tw-5 glyphicon-tw-pdfReal"></i> Previsualización de Carta de Baja
            </h1>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="height: 700px;">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <embed src="@ViewBag.PrevisualizarCartaBaja" style="width: 100%; height: 700px;" />
                    <div style="margin-top: -600px; width: 100%; height: 600px; text-align: center;">
                        <img src="~/Resources/pdfcolorreal-x2.png" style="width: 50px; display: block; margin: auto;" />
                        <h1 class="family-teamwork">Cargando PDF<br />Espere un momento...</h1>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
                <i class="glyphicon-tw-5 glyphicon-tw-pdfReal"></i> Previsualización de Caratula y Documento de finiquito
            </h1>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="height: 900px;">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <embed src="@ViewBag.PrevisualizarCaratulaFiniquito" style="width: 100%; height: 700px;" />
                    <div style="margin-top: -600px; width: 100%; height: 600px; text-align: center;">
                        <img src="~/Resources/pdfcolorreal-x2.png" style="width: 50px; display: block; margin: auto;" />
                        <h1 class="family-teamwork">Cargando PDF<br />Espere un momento...</h1>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <embed src="@ViewBag.PrevisualizarDocumentoFiniquito" style="width: 100%; height: 700px;" />
                    <div style="margin-top: -600px; width: 100%; height: 600px; text-align: center;">
                        <img src="~/Resources/pdfcolorreal-x2.png" style="width: 50px; display: block; margin: auto;" />
                        <h1 class="family-teamwork">Cargando PDF<br />Espere un momento...</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
