<div class="col-12 col-sm-12 col-md-4 col-lg-3">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-10">
            <h2 class="family-teamwork">Configuración de la Noticia</h2>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row mt-10neg">
        <div class="col-lg-1"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-10">
            <h4 class="family-teamwork">▶ Secciones disponibles</h4>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-10">
            <table style="width: 100%;" class="family-teamwork">
                <tbody>
                    <tr class="dspl-none">
                        <td>
                            <label class="switch" style="display: inline-block;">
                                <input type="checkbox" class="seccionNoticia" value="S" data-item="contentIlustracion" />
                                <span class="slider teamwork"></span>
                            </label>
                        </td>
                        <td class="pdl-5">
                            <h5>Ilustración referecial Noticia</h5>
                            <p>Agregar imagen referecial de encabezado para la noticia</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="switch" style="display: inline-block;">
                                <input type="checkbox" class="seccionNoticia" value="N" data-item="contentEnlace" checked="checked" disabled="disabled" />
                                <span class="slider teamwork"></span>
                            </label>
                        </td>
                        <td class="pdl-5">
                            <h5>Enlace de Noticia</h5>
                            <p>Agregar enlace externo para redireccionamiento de la pagina</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="switch" style="display: inline-block;">
                                <input type="checkbox" class="seccionNoticia" value="N" data-item="contentTitulo" checked="checked" disabled="disabled" />
                                <span class="slider teamwork"></span>
                            </label>
                        </td>
                        <td class="pdl-5">
                            <h5>Titulo de Noticia</h5>
                            <p>Agregar titulo para la noticia, disponible en feed de noticias</p>
                        </td>
                    </tr>
                    <tr class="dspl-none">
                        <td>
                            <label class="switch" style="display: inline-block;">
                                <input type="checkbox" class="seccionNoticia" value="S" data-item="contentSubTitulo" />
                                <span class="slider teamwork"></span>
                            </label>
                        </td>
                        <td class="pdl-5">
                            <h5>Subtitulo de Noticia</h5>
                            <p>Agregar subtitulo para la noticia, que será disponible al momento de revisar la noticia</p>
                        </td>
                    </tr>
                    <tr class="dspl-none">
                        <td>
                            <label class="switch" style="display: inline-block;">
                                <input type="checkbox" class="seccionNoticia" value="S" data-item="contentCuerpo" />
                                <span class="slider teamwork"></span>
                            </label>
                        </td>
                        <td class="pdl-5">
                            <h5>Cuerpo de Noticia</h5>
                            <p>Agregar el cuerpo de la noticia, indicando detalle, ilustraciones y más.</p>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-lg-1"></div>
    </div>

</div>
<div class="col-12 col-sm-12 col-md-8 col-lg-9">
    <div>
        <div class="row mt-10">
            <div class="col-lg-1"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                <h1 class="family-teamwork">▶ Programación y disponibilización de Noticia</h1>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row mt-10 dspl-none">
            <div class="col-lg-1"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                <label class="switch" style="display: inline-block; position: relative; top: -5px;">
                    <input type="checkbox" id="vencimiento" value="S" checked="checked" />
                    <span class="slider teamwork"></span>
                </label>
                <h5 class="family-teamwork dspl-inline-block mr-30">Con Vencimiento</h5>

                <label class="switch" style="display: inline-block; position: relative; top: -5px;">
                    <input type="checkbox" id="programable" value="N" />
                    <span class="slider teamwork"></span>
                </label>
                <h5 class="family-teamwork dspl-inline-block">Programar Disponibilización de Noticia</h5>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row mt-10">
            <div class="col-lg-1"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                <div id="contentSinVencimiento" class="dspl-none">
                    <div class="alert alert-info family-teamwork" role="alert">
                        <b>La noticia será disponibilizada en el feed de noticias desde <u>hoy</u> en adelante.</b>
                    </div>
                    <div class="alert alert-warning family-teamwork" role="alert">
                        Importante: al no tener vencimiento la noticia no podrá ser eliminada de manera automatica por el sistema, por lo cual tendrá que recurrir a la eliminación manual por este mismo administrador.
                    </div>
                </div>
                <div class="alert alert-warning family-teamwork" role="alert" id="contentConVencimiento">
                    <b> La noticia será disponibilizada en el feed de noticias desde <u>hoy</u> hasta las <u>23:59:59 horas de la fecha de término</u></b>
                </div>
                <div class="alert alert-info family-teamwork dspl-none" role="alert" id="contentProgramableConVencimiento">
                    <b>La noticia será programada para ser disponibilizada en el feed de noticias desde las <u>00:00:00 horas de la fecha de inicio</u> hasta las <u>23:59:59 horas de la fecha de término</u></b>
                </div>
                <div id="contentProgramableSinVencimiento" class="dspl-none">
                    <div class="alert alert-info family-teamwork" role="alert">
                        <b>La noticia será programada para ser disponibilizada en el feed de noticias desde las <u>00:00:00 horas de la fecha de inicio</u> en adelante.</b>
                    </div>
                    <div class="alert alert-warning family-teamwork" role="alert">
                        Importante: al no tener vencimiento la noticia no podrá ser eliminada de manera automatica por el sistema, por lo cual tendrá que recurrir a la eliminación manual por este mismo administrador.
                    </div>
                </div>

                <div class="row mt-20">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 dspl-none" id="contentFechaInicio">
                        <h4 class="family-teamwork mt-10neg">Indicar la fecha de inicio de la noticia</h4>
                        <input type="text" id="fechaInicio" class="family-teamwork form-control FECHA" placeholder="Ejemplo fecha de inicio: DD-MM-AAAA" readonly="readonly" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6" id="contentFechaTermino">
                        <h4 class="family-teamwork mt-10neg">Indicar la fecha de termino de la noticia</h4>
                        <input type="text" id="fechaTermino" class="family-teamwork form-control FECHA" placeholder="Ejemplo fecha de término: DD-MM-AAAA" readonly="readonly" />
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div id="contentIlustracion" class="dspl-none">
        @Html.Partial("Teamwork/_ContentNoticiasEditorIlustracion")
    </div>
    <div id="contentEnlace">
        @Html.Partial("Teamwork/_ContentNoticiasEditorEnlace")
    </div>
    <div id="contentTitulo">
        @Html.Partial("Teamwork/_ContentNoticiasEditorTitulo")
    </div>
    <div id="contentSubTitulo" class="dspl-none">
        @Html.Partial("Teamwork/_ContentNoticiasEditorSubTitulo")
    </div>
    <div id="contentCuerpo" class="dspl-none">
        @Html.Partial("Teamwork/_ContentNoticiasEditorCuerpo")
    </div>
    <div class="ta-center mt-20 mb-100">
        <a href="#" id="btnPublicarNoticia" class="btn btn-success dspl-inline-block" style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
            <span style="display: inline-block; margin-top: -7px;">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Publicar Noticia</i>
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">En Feed</i>
            </span>
        </a>
    </div>
</div>
<script>
    $(document).on("click", ".eventRestore", function (e) {
        e.preventDefault();
        window.location.reload();
    });

    $(".seccionNoticia").on("click", function () {
        if ($(this).val() === "S") {
            $("#" + $(this).attr("data-item")).removeClass("dspl-none");
            $(this).attr("value", "N");
        }
        else
        {
            $("#" + $(this).attr("data-item")).addClass("dspl-none");
            $(this).attr("value", "S");
        }
    });

    $("#vencimiento").on("click", function () {
        switch ($("#programable").is(':checked')) {
            case true:
                switch ($(this).is(':checked')) {
                    case true:

                        $("#contentProgramableConVencimiento").removeClass("dspl-none");

                        $("#contentConVencimiento").addClass("dspl-none");
                        $("#contentSinVencimiento").addClass("dspl-none");
                        $("#contentProgramableSinVencimiento").addClass("dspl-none");

                        $("#contentFechaTermino").removeClass("dspl-none");
                        $("#contentFechaInicio").removeClass("dspl-none");

                        break;
                    default:
                        $("#contentProgramableSinVencimiento").removeClass("dspl-none");

                        $("#contentSinVencimiento").addClass("dspl-none");
                        $("#contentConVencimiento").addClass("dspl-none");
                        $("#contentProgramableConVencimiento").addClass("dspl-none");

                        $("#contentFechaTermino").addClass("dspl-none");
                        $("#contentFechaInicio").removeClass("dspl-none");
                        break;
                }
                break;
            default:
                switch ($(this).is(':checked')) {
                    case true:
                        $("#contentConVencimiento").removeClass("dspl-none");

                        $("#contentSinVencimiento").addClass("dspl-none");
                        $("#contentProgramableConVencimiento").addClass("dspl-none");
                        $("#contentProgramableSinVencimiento").addClass("dspl-none");

                        $("#contentFechaTermino").removeClass("dspl-none");
                        $("#contentFechaInicio").addClass("dspl-none");

                        break;
                    default:
                        $("#contentSinVencimiento").removeClass("dspl-none");

                        $("#contentConVencimiento").addClass("dspl-none");
                        $("#contentProgramableConVencimiento").addClass("dspl-none");
                        $("#contentProgramableSinVencimiento").addClass("dspl-none");

                        $("#contentFechaTermino").addClass("dspl-none");
                        $("#contentFechaInicio").addClass("dspl-none");
                        break;
                }
                break;
        }
    });

    $("#programable").on("click", function () {
        switch ($("#vencimiento").is(':checked')) {
            case true:
                switch ($(this).is(':checked')) {
                    case true:
                        $("#contentProgramableConVencimiento").removeClass("dspl-none");

                        $("#contentConVencimiento").addClass("dspl-none");
                        $("#contentSinVencimiento").addClass("dspl-none");
                        $("#contentProgramableSinVencimiento").addClass("dspl-none");

                        $("#contentFechaTermino").removeClass("dspl-none");
                        $("#contentFechaInicio").removeClass("dspl-none");
                        break;
                    default:
                        $("#contentConVencimiento").removeClass("dspl-none");

                        $("#contentProgramableSinVencimiento").addClass("dspl-none");
                        $("#contentProgramableConVencimiento").addClass("dspl-none");
                        $("#contentSinVencimiento").addClass("dspl-none");

                        $("#contentFechaTermino").removeClass("dspl-none");
                        $("#contentFechaInicio").addClass("dspl-none");
                        break;
                }
                break;
            default:
                switch ($(this).is(':checked')) {
                    case true:
                        $("#contentProgramableSinVencimiento").removeClass("dspl-none");

                        $("#contentProgramableConVencimiento").addClass("dspl-none");
                        $("#contentConVencimiento").addClass("dspl-none");
                        $("#contentSinVencimiento").addClass("dspl-none");

                        $("#contentFechaTermino").addClass("dspl-none");
                        $("#contentFechaInicio").removeClass("dspl-none");
                        break;
                    default:
                        $("#contentSinVencimiento").removeClass("dspl-none");
                        $("#contentProgramableSinVencimiento").addClass("dspl-none");
                        $("#contentProgramableConVencimiento").addClass("dspl-none");
                        $("#contentConVencimiento").addClass("dspl-none");

                        $("#contentFechaTermino").addClass("dspl-none");
                        $("#contentFechaInicio").addClass("dspl-none");
                        break;
                }
                break;
        }
    });

    $("#btnPublicarNoticia").on("click", function (e) {
        e.preventDefault();
        $("#loader").show();
        var validation = true;
        var titleSweetAlert = "";
        var messageSweetAlert = "";

        var ilustracion;

        if (CKEDITOR.instances['editorIlustracion'].getData().split('"').join("'") !== "") {
            ilustracion = CKEDITOR.instances['editorIlustracion'].getData().split('"').join("'");
        }
        else {
            ilustracion = "";
        }

        var vencimiento = false;
        var programable = false;

        if ($("#vencimiento").is(":checked")) {
            vencimiento = true;
        }
        
        if ($("#programable").is(":checked")) {
            vencimiento = true;
        }

        var fechaInicio = $("#fechaInicio").val();
        var fechaTermino = $("#fechaTermino").val();
        var enlace = $("#enlace").val();
        var enlaceTag = $("input[name='typeWindow']:checked").val();
        var noticia = $("#titulo").val();
        var subtitulo;

        if (CKEDITOR.instances['editorSubTitulo'].getData().split('"').join("'") !== "") {
            subtitulo = CKEDITOR.instances['editorSubTitulo'].getData().split('"').join("'")
        }
        else {
            subtitulo = "";
        }

        var body;

        if (CKEDITOR.instances['editorCuerpo'].getData().split('"').join("'") !== "") {
            body = CKEDITOR.instances['editorCuerpo'].getData().split('"').join("'");
        }
        else {
            body = "";
        }

        if (vencimiento) {
            if (fechaTermino === "") {
                validation = false;
                titleSweetAlert = "Falta completar un dato";
                messageSweetAlert = "Debe indicar una fecha de termino, para la vigencia correspondiente de la noticia";
            }
        }
        
        if (validation) {
            $.ajax({
                type: 'POST',
                url: '@ViewBag.ApplicationDomainTeamwork/AgregarNoticiaTeamwork',
                data: '{ ilustracion: "' + ilustracion + '", vencimiento: "' + vencimiento + '", programable: "' + programable + '", fechaInicio: "' + fechaInicio + '", fechaTermino: "' + fechaTermino +
                    '", enlace: "' + enlace + '", enlaceTag: "' + enlaceTag + '", noticia: "' + noticia + '", subtitulo: "' + subtitulo + '", body: "' + body + '" }',
                dataType: 'json',
                contentType: 'application/json',
                async: true,
                success: function (response) {
                    $("#contentNoticias").html(responde);
                    $("#loader").hide();
                },
                error: function (xhr) {
                    $("#contentNoticias").html(xhr.responseText);
                    $("#loader").hide();
                },
                complete: function () {

                }
            });
        }
        else
        {
            $("#loader").hide();
            swal({
                title: titleSweetAlert,
                text: messageSweetAlert,
                type: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Entiendo!',
                closeOnConfirm: false,
                closeOnCancel: false,
                allowOutsideClick: false
            }).then((result) => {
            });
        }
        
    });

</script>