<div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
    @if (ViewBag.ReferenciaMessagePagado != "")
    {
        <h1 class="family-teamwork" style="font-size: 20px;"><img src="~/Resources/corregir.png" class="ml-auto mr-auto dspl-inline-block" style="width: 30px;" /> @ViewBag.ReferenciaMessagePagado</h1>
    }
    <img src="~/Resources/ilustracionmatchchequedocumento.jpg" class="ml-auto mr-auto dspl-inline-block" style="width: 200px;">
    <h1 class="family-teamwork ta-center">¿Va a realizar el pago de otro finiquito?</h1>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="family-teamwork ta-center">Para pagar debe leer el codigo de barra de estos documentos</h2>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12">


    @using (Ajax.BeginForm("PagarCheque", "Recepcion", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "contentRecepcion",
        LoadingElementId = "loader"
    }, new { @style = "width: 100%; display: block; position: absolute;" }))
    {
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <img src="~/Resources/ilustracionlecturacheque.jpg" class="dspl-block m-auto" style="width: 200px;" />
                <h4 class="family-teamwork ta-center">Cheque Impreso</h4>
                <div class="ta-center">
                    @if (ViewBag.ReferenciaChequeIngresado != "")
                    {
                        <input type="text" name="codigoCheque" class="dspl-none" value="@ViewBag.ReferenciaChequeIngresado" id="codigoCheque" />
                        <img src="~/Resources/corregir.png" class="ml-auto mr-auto dspl-inline-block" style="width: 30px;" />
                    }

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <img src="~/Resources/ilustracionlecturadocumentos.jpg" class="dspl-block m-auto" style="width: 200px;" />
                <h4 class="family-teamwork ta-center">Finiquito o Caratula Finiquito</h4>
                <div class="ta-center">
                    @if (ViewBag.ReferenciaFiniquitoIngresado != "")
                    {
                        <input type="text" name="codigoFiniquito" class="dspl-none" value="@ViewBag.ReferenciaFiniquitoIngresado" id="codigoFiniquito" />
                        <img src="~/Resources/corregir.png" class="ml-auto mr-auto dspl-inline-block" style="width: 30px;" />
                    }

                </div>
            </div>
            <input type="submit" value="enviar2" class="dspl-none" id="btnMatch" />
        </div>
    }

</div>

@using (Ajax.BeginForm("Match", "Recepcion", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "contentRecepcion",
    LoadingElementId = "loader",
    OnSuccess = "validaMatch"
}, new { @style = "position: absolute; top: 0; display: block; height: 100%; width: 100%; left: 0;" }))
{
    <input type="text" name="codigoFiniquito" value="@ViewBag.ReferenciaFiniquitoIngresado" />
    <input type="text" name="codigoCheque" value="@ViewBag.ReferenciaChequeIngresado" />
    <input type="text" name="codigo" id="codigoDespacho" style="width: 100%; position: absolute; top: 0; left: 0; height: 100%; background-color: rgba(0, 0, 0, 0); color: rgba(0, 0, 0, 0);" autocomplete="off" />
    <input type="submit" value="ENVIAR" class="mt-100 dspl-block" style="z-index: 999999999999999; position: absolute;" />
}