<table class="table mt-20 ml-auto mr-auto" style="width: 100%;">
    <thead thead-light>
        <tr>
            <th>
                Rut
            </th>
            <th>
                Nombre
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (AplicacionOperaciones.Models.Proveedor item in ViewBag.ListadoProveedores)
        {
            <tr>
                <td>@item.Rut</td>
                <td>@item.Nombre</td>

                <td>
                    <a href="#" class="eventNuevoActProveedor btn btn-warning mt-4" data-rut="@item.Rut" data-nombre="@item.Nombre"
                       style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Actualizar</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block;">Proveedor</i>
                        </span>
                    </a>
                   
                    <a href="#" class="eventEliminarProveedor btn btn-danger mt-4" data-rut="@item.Rut" data-nombre="@item.Nombre"
                       style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-trash" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Eliminar</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block;">Proveedor</i>
                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="mt-50 mb-100 ta-center">
    @Html.Partial("Teamwork/_PaginationsProveedores")
</div>

@Html.Partial("Proveedor/_ModalConfirmarActualizarProveedor")
@Html.Partial("Proveedor/_ModalConfirmarEliminarProveedor")

@Scripts.Render("~/bundles/administrarproveedor")
@Scripts.Render("~/bundles/index")
@Scripts.Render("~/bundles/utils")