@switch ((string)ViewBag.StageAutorizacionPagoFiniquito)
{
    case "InitAutorizacionPagoFiniquito":
        <div class="row mt-100">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h2 class="dspl-inline-block family-teamwork fw-bold">Autorización Pago de Finiquito</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10" style="height: 400px;">
                <div style="width: 400px; height: 400px;" class="glyphicon-tw-barcodeLanding m-auto"></div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
        <div class="row mt-40neg">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h1 class="dspl-inline-block family-teamwork" id="loaderReaderBarcode">En espera de léctura de código de barra</h1>
            </div>
        </div>
        break;
    case "ReaderCorrectaReturnNew":
        <div class="row mt-100">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h2 class="dspl-inline-block family-teamwork fw-bold">Se ha autorizado exitosamente el pago del finiquito</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10" style="height: 400px;">
                <div style="width: 400px; height: 400px;" class="glyphicon-tw-barcodeLanding m-auto"></div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
        <div class="row mt-40neg">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h1 class="dspl-inline-block family-teamwork" id="loaderReaderBarcode">En espera de léctura de código de barra</h1>
            </div>
        </div>
        break;
    case "NoLecturaCodigoBarra":
        <h1 class="family-teamwork">Código de barra no valido</h1>
        using (Ajax.BeginForm("EventReadBarcode", "Bajas", new AjaxOptions()
        {
            HttpMethod = "",
            UpdateTargetId = "contentStageBarcode",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "activeEventReaderBarcode"
        }))
        {
            <input type="text" name="actionInit" class="dspl-none" value="S" />

            <button type="submit" class="btn btn-danger" style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Entiendo</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Volver a realizar la Lectura</i>
                </span>
            </button>
        }
        break;
    case "DatosTransaccion":
        switch ((string)ViewBag.ReturnStageAutorizacionPagoFiniquito)
        {
            case "101":
                <h3 class="family-teamwork">Ha seleccionado pago por @ViewBag.ReferenciaGlosaPago, favor revisar los datos que a continuación se muestran, seran los datos enviados a finanzas para el proceso de pago por @ViewBag.ReferenciaGlosaPago:</h3>
                using (Ajax.BeginForm("EventConfirmarPago", "Bajas", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "contentStageBarcode",
                    InsertionMode = InsertionMode.Replace,
                    OnBegin = "activeEventReaderBarcode"
                }))
                {
                    <input type="text" name="codigoFiniquito" class="dspl-none" value="@ViewBag.FolioReferencia" />
                    <input type="text" name="codigoPago" class="dspl-none" value="@ViewBag.ReferenciaCodigoPago" />
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <input type="text" name="destinatario" class="family-teamwork form-control" value="@ViewBag.ReferenciaNombreDestinatario" readonly required />
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <input type="text" name="rut" class="family-teamwork form-control" value="@ViewBag.ReferenciaRut" readonly required />
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <input type="text" name="numeroCuenta" class="family-teamwork form-control" value="@ViewBag.ReferenciaNumeroCuenta" readonly required />
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <input type="text" name="tipoCuenta" class="family-teamwork form-control" value="@ViewBag.ReferenciaTipoCuenta" readonly required />
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <input type="text" name="banco" class="family-teamwork form-control" value="@ViewBag.ReferenciaBanco" readonly required />
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <input type="text" name="montoFiniquito" class="family-teamwork form-control" value="@ViewBag.ReferenciaMontoFiniquito" readonly required />
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <textarea name="observaciones" class="family-teamwork form-control" required></textarea>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <button type="submit" class="btn btn-success" style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Autorizar Pago</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Por@ViewBag.ReferenciaGlosaPago</i>
                                </span>
                            </button>
                        </div>
                    </div>

                }
                break;
        }
        break;
    case "ConsultarFiniquito":
        <div class="row mt-30">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <embed src="@ViewBag.CaratulaFiniquitoPreview" height="700" width="600" class="m-auto dspl-block" />
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-5" style="height: 400px;">
                <h1 class="family-teamwork">Autorización de finiquito para pago</h1>
                <div id="contentAutorizacionPago">
                    @switch ((string)ViewBag.ReturnStageAutorizacionPagoFiniquito)
                    {
                        case "200":
                            <div class="row mt-20">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <h2 class="family-teamwork">Seleccione el método de pago</h2>
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                    @using (Ajax.BeginForm("EventConfirmarPago", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "contentStageBarcode",
                                        InsertionMode = InsertionMode.Replace,
                                        OnBegin = "activeEventReaderBarcode"
                                    }))
                                    {
                                        <input type="text" name="codigoFiniquito" class="dspl-none" value="@ViewBag.FolioReferencia" />
                                        <input type="text" name="codigoPago" class="dspl-none" value="CHQ" />
                                        <button type="submit" style="width: 90%; height: 100px; box-shadow: 0px 0px 5px rgba(0, 0,0, 0.3); background-color: #fff;" class="btn dspl-inline-block m-auto ta-center br-1-solid-200x3 bl-1-solid-200x3 bt-1-solid-200x3 bb-1-solid-200x3">
                                            <div class="glyphicon-tw-cheque2 ml-auto mr-auto mb-auto mt-6" style="width: 50px; height: 50px;"></div>
                                            <p class="family-teamwork" style="font-size: 18px;">Cheque</p>
                                        </button>
                                    }
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                    @using (Ajax.BeginForm("EventConfirmarPago", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "contentAutorizacionPago",
                                        InsertionMode = InsertionMode.Replace
                                    }))
                                    {
                                        <input type="text" name="codigoFiniquito" class="dspl-none" value="@ViewBag.FolioReferencia" />
                                        <input type="text" name="codigoPago" class="dspl-none" value="TRSF" />
                                        <button type="submit" style="width: 90%; height: 100px; box-shadow: 0px 0px 5px rgba(0, 0,0, 0.3); background-color: #fff;" class="btn dspl-inline-block m-auto ta-center br-1-solid-200x3 bl-1-solid-200x3 bt-1-solid-200x3 bb-1-solid-200x3">
                                            <div class="glyphicon-tw-transferencia2 ml-auto mr-auto mb-auto mt-6" style="width: 50px; height: 50px;"></div>
                                            <p class="family-teamwork" style="font-size: 18px;">Transferencia</p>
                                        </button>
                                    }
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                    <div style="width: 90%; height: 100px; box-shadow: 0px 0px 5px rgba(0, 0,0, 0.3);" class="m-auto ta-center br-1-solid-200x3 bl-1-solid-200x3 bt-1-solid-200x3 bb-1-solid-200x3">
                                        <div class="glyphicon-tw-efectivo2 ml-auto mr-auto mb-auto mt-6" style="width: 50px; height: 50px;"></div>
                                        <p class="family-teamwork" style="font-size: 18px;">Pago Manual</p>
                                    </div>
                                </div>
                            </div>
                            break;
                        case "401":
                            <h3 class="family-teamwork">@ViewBag.MetodoPagoReferencia</h3>
                            <h2 class="family-teamwork">@ViewBag.MontoReferencia</h2>
                            using (Ajax.BeginForm("EventReadBarcode", "Bajas", new AjaxOptions()
                            {
                                HttpMethod = "",
                                UpdateTargetId = "contentStageBarcode",
                                InsertionMode = InsertionMode.Replace,
                                OnSuccess = "activeEventReaderBarcode"
                            }))
                            {
                                <input type="text" name="actionInit" class="dspl-none" value="S" />

                                <button type="submit" class="btn btn-danger" style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                    <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                    <span style="display: inline-block; margin-top: -7px;">
                                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Entiendo</i>
                                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Volver a realizar la Lectura</i>
                                    </span>
                                </button>
                            }
                            break;
                        case "402":
                            <div class="row mt-20">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <p class="family-teamwork" style="font-size: 19px;">Este finiquito se encuentra pre-autorizado por <b>TRANSFERENCIA</b>, los datos del destinatario son los siguientes:</p>
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class="col-8 col-sm-8 col-md-5 col-lg-4">
                                    <div style="width: 90%; height: 100px; box-shadow: 0px 0px 5px rgba(0, 0,0, 0.3);" class="m-auto ta-center br-1-solid-200x3 bl-5-solid-9218492 bt-1-solid-200x3 bb-1-solid-200x3">
                                        <div class="glyphicon-tw-transferencia2 ml-auto mr-auto mb-auto mt-6" style="width: 50px; height: 50px;"></div>
                                        <p class="family-teamwork" style="font-size: 18px;">Transferencia</p>
                                    </div>
                                </div>
                                <div class="col-2 col-sm-2 col-md-3 col-lg-8">
                                    <table border="1" style="width: 100%;" cellpadding="2">
                                        <tbody>
                                            <tr>
                                                <td colspan="4" class="family-teamwork ta-center">Datos de transferencia</td>
                                            </tr>
                                            <tr>
                                                <td class="family-teamwork">Nombre</td>
                                                <td class="family-teamwork" colspan="3">SALAS ACEVEDO SEBASTIAN ANDRES</td>
                                            </tr>
                                            <tr>
                                                <td class="family-teamwork">Tipo de Cuenta</td>
                                                <td class="family-teamwork">CUENTA VISTA</td>
                                                <td class="family-teamwork">Nombre</td>
                                                <td class="family-teamwork">SALAS ACEVEDO SEBASTIAN ANDRES</td>
                                            </tr>
                                            <tr>
                                                <td class="family-teamwork">Tipo de Cuenta</td>
                                                <td class="family-teamwork" colspan="3">CUENTA VISTA</td>
                                            </tr>
                                            <tr>
                                                <td class="family-teamwork">Tipo de Cuenta</td>
                                                <td class="family-teamwork" colspan="3">CUENTA VISTA</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            break;
                    }
                </div>
            </div>
        </div>
        break;
}