@switch ((string)ViewBag.StageBarcodes)
{
    case "InitValidacionFiniquito":
        <div class="row mt-70">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h1 class="dspl-inline-block family-teamwork fw-bold">Validación Pago de Finiquito</h1>
                <h4 class="family-teamwork">
                    Aqui realizaras la validación de todos aquellos pagos de finiquitos que sean mayores a $ 500.000 pesos, los cuales una vez validados serán disponibilizados para que sean autorizados para iniciar
                    su proceso de pago correspondiente.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10" style="height: 400px;">
                <div style="width: 400px; height: 400px;" class="glyphicon-tw-barcodeLanding m-auto"></div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
        <div class="row mt-40neg">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h2 class="dspl-inline-block family-teamwork" id="loaderReaderBarcode">En espera de léctura</h2>
                <h4 class="family-teamwork">Realice la lectura sobre el codigo de barra que se disponibilizo en los documentos en la parte superior derecha.</h4>
            </div>
        </div>
        break;
    case "ConsultarFiniquito":
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 mt-10">
                <embed src="@ViewBag.CaratulaFiniquitoPreview" height="700" width="600" class="m-auto dspl-block" />
                <div class="ta-center ml-auto mr-auto mt-700neg" style="width: 600px; height: 700px;">
                    <i class="glyphicon-tw-pdfReal dspl-inline-block mt-250" style="width: 60px; height: 60px;"></i>
                    <h1 class="family-teamwork">Cargando PDF con caratula de finiquito<br />Espere un momento...</h1>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 mt-20" style="height: 400px;">
                <h2 class="family-teamwork">Validación de finiquito para autorización de pago</h2>
                <h4 class="family-teamwork">Seleccione el método de pago</h4>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        @using (Ajax.BeginForm("EventConfirmarPago", "Teamwork", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "contentStageBarcode",
                            InsertionMode = InsertionMode.Replace
                        }))
                        {
                            <input type="text" name="codigoFiniquito" class="dspl-none" value="@ViewBag.FolioReferencia" />
                            <input type="text" name="codigoPago" class="dspl-none" value="CHQ" />
                            <Button type="submit" class="dspl-block btn-success" style="width: 100%; height: 200px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;">
                                <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 22px;">Pago</h1>
                                <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px;">Cheque</h2>
                                <div class="glyphicon-tw-cheque ml-auto mr-auto mt-20" style="width: 50px; height: 50px;"></div>
                            </Button>
                        }
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        @using (Ajax.BeginForm("EventConfirmarPago", "Teamwork", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "contentStageBarcode",
                            InsertionMode = InsertionMode.Replace
                        }))
                        {
                            <input type="text" name="codigoFiniquito" class="dspl-none" value="@ViewBag.FolioReferencia" />
                            <input type="text" name="codigoPago" class="dspl-none" value="TRSF" />
                            <Button type="submit" class="dspl-block btn-success" style="width: 100%; height: 200px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;">
                                <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 22px;">Pago</h1>
                                <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px;">Transferencia</h2>
                                <div class="glyphicon-tw-transferbank ml-auto mr-auto mt-20" style="width: 50px; height: 50px;"></div>
                            </Button>
                        }
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        @using (Ajax.BeginForm("EventConfirmarPago", "Teamwork", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "contentStageBarcode",
                            InsertionMode = InsertionMode.Replace
                        }))
                        {
                            <input type="text" name="codigoFiniquito" class="dspl-none" value="@ViewBag.FolioReferencia" />
                            <input type="text" name="codigoPago" class="dspl-none" value="CASH" />
                            <Button type="submit" class="dspl-block btn-success" style="width: 100%; height: 200px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;">
                                <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 22px;">Pago</h1>
                                <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px;">Manual</h2>
                                <div class="glyphicon-tw-manualcash ml-auto mr-auto mt-20" style="width: 50px; height: 50px;"></div>
                            </Button>
                        }
                    </div>
                </div>
            </div>
        </div>

        break;
    case "BloqueoPago":
        <div class="row mt-30">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h3 class="family-teamwork">@ViewBag.MetodoPagoReferencia</h3>
                <h2 class="family-teamwork">@ViewBag.MontoReferencia</h2>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                @using (Ajax.BeginForm("EventReadBarcode", "Teamwork", new AjaxOptions()
                {
                    HttpMethod = "",
                    UpdateTargetId = "contentStageBarcode",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "activeEventReaderBarcode"
                }))
                {
                <input type="text" name="actionInit" class="dspl-none" value="S" />

                <button type="submit" class="btn btn-danger" style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Entiendo</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Volver a realizar la Lectura</i>
                    </span>
                </button>
                }
            </div>
        </div>
        break;
    case "ConfirmadoLecturaNueva":
        <div class="row mt-30">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h3 class="ta-center family-teamwork">
                    <i class="glyphicon-tw-pagado dspl-inline-block fw-bold" style="width: 70px; height: 70px;"></i> <br />
                    Se ha validado exitosamente el finiquito, se ha disponibilizado para que sea autorizado para su proceso de pago.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10" style="height: 400px;">
                <div style="width: 400px; height: 400px;" class="glyphicon-tw-barcodeLanding m-auto"></div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
        <div class="row mt-40neg">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h2 class="dspl-inline-block family-teamwork" id="loaderReaderBarcode">En espera de léctura</h2>
                <h4 class="family-teamwork">Realice la lectura sobre el codigo de barra que se disponibilizo en los documentos en la parte superior derecha.</h4>
            </div>
        </div>
        break;
}