@model AplicacionOperaciones.Models.Modal

<div class="col-12 col-sm-12 col-md-12 col-lg-12 errorModal" id="messageApplication">
    @if (ViewBag.ViewMessageApplication != "")
    {
        @Html.Partial((string)ViewBag.ViewMessageApplication)
    }
</div>
@foreach (AplicacionOperaciones.Models.Periodo item in ViewBag.ListadoPeriodo)
{
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="card mb-10 ml-auto mr-auto" style="width:99%;">
            <div class="card-body">
                <h4 class="card-title"> @item.Empresa</h4>
                <p class="card-text"></p>
                <p>@item.PeriodoVigente</p>

                @using (Ajax.BeginForm("ModalAgregarPeriodo", "Finanzas", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "modalBodyConfirmacion",
                    OnSuccess = "modalAbrirPeriodo",
                    OnBegin = "onBegin",
                    OnComplete = "OnComplete"
                }))
                {
                    <input type="text" name="nombreEmpresa" class="dspl-none" value="@item.Empresa" />
                    <input type="text" name="nombreEmpresaCodificado" class="dspl-none" value="@item.EmpresaCodificado" />
                    <input type="text" name="periodoVigente" class="dspl-none" value="@item.PeriodoVigente" />
                    <button id="btnAbrir" type="submit" class="btn btn-success mt-4"
                            style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Abrir</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block;">Periodo</i>
                        </span>
                    </button>
                }

                <a href="#" class="eventCerarPeriodo btn btn-danger mt-4" data-nombreEmpresa="@item.Empresa" data-vigente="@item.PeriodoVigente"
                   style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cerrar</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block;">Periodo</i>
                    </span>
                </a>
            </div>
        </div>
    </div>
}
<script>

    function onBegin() {

        $('#btnAbrir').attr("disabled", true);
    }

    function OnComplete() {
        $('#btnAbrir').attr("disabled", false);
    }

</script>