@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Procesos";
    
}

@if (ViewBag.CodeCorrect)
{
    <span id="loader" class="dspl-none">
        @Html.Partial("_LoaderTransaccion")
    </span>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-100 ml-auto mr-auto" style="width: 92%;" id="transaccionSuccess">
    </div>
    if (!ViewBag.RenderizaSolicitud)
    {
        if (ViewBag.RenderizaContratos)
        {
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-100 mb-20" id="renderizadoheader_contratos">
               @foreach(AplicacionOperaciones.Models.HeaderProcesos item in (List<AplicacionOperaciones.Models.HeaderProcesos>)ViewBag.RenderizadoHeaderProcesosContratos)
               {
                   Html.RenderPartial("_HeaderProcesos", new ViewDataDictionary() {
                        { "PostTitulo", item.PostTitulo },
                        { "htmlRenderizado", item.HtmlRenderizado },
                        { "htmlPagination", item.HtmlPagination },
                        { "HtmlSearchElement", item.HtmlSearchElement },
                        { "TipoSolicitud", item.TipoSolicitud },
                        { "ResultSearch", item.ResultSearch }
                    });
               }
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12" id="procesosContratos">
                @Html.Partial("Operaciones/_ProcesosContratos")
            </div>
        }

        if (ViewBag.RenderizaRenovaciones)
        {
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-50 mb-20" id="renderizadoheader_renovaciones">
                @foreach (AplicacionOperaciones.Models.HeaderProcesos item in (List<AplicacionOperaciones.Models.HeaderProcesos>)ViewBag.RenderizadoHeaderProcesosRenovaciones)
                {
                    Html.RenderPartial("_HeaderProcesos", new ViewDataDictionary() {
                        { "PostTitulo", item.PostTitulo },
                        { "htmlRenderizado", item.HtmlRenderizado },
                        { "htmlPagination", item.HtmlPagination },
                        { "HtmlSearchElement", item.HtmlSearchElement },
                        { "TipoSolicitud", item.TipoSolicitud },
                        { "ResultSearch", item.ResultSearch }
                    });
                }
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-100" id="procesosRenovacion">
                @Html.Partial("Operaciones/_ProcesosRenovaciones")
            </div>
        }
    }
    else
    {
        if (ViewBag.RenderizaContratoSolicitud)
        {
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-100 mb-20">
                @foreach (AplicacionOperaciones.Models.HeaderSolicitud item in (List<AplicacionOperaciones.Models.HeaderSolicitud>)ViewBag.RenderizadoHeaderSolicitudContratos)
                {
                    Html.RenderPartial("_HeaderSolicitudes", new ViewDataDictionary() {
                        { "PostTitulo", item.PostTitulo },
                        { "htmlRenderizado", item.HtmlRenderizado },
                        { "htmlPagination", item.HtmlPagination },
                        { "HtmlSearchElement", item.HtmlSearchElement },
                        { "TipoSolicitud", item.TipoSolicitud },
                        { "NombreProceso", item.NombreProceso },
                        { "Creado", item.Creado },
                        { "Estado", item.Estado },
                        { "Glyphicon", item.Glyphicon },
                        { "GlyphiconColor", item.GlyphiconColor },
                        { "EjecutivoKam", item.EjecutivoKam },
                        { "EjecutivoCreador", item.EjecutivoCreador },
                        { "Cliente", item.Cliente },
                        { "ResultSearch", item.ResultSearch },
                        { "RenderizaSolicitud", ViewBag.RenderizaSolicitud },
                        { "RenderizadoPrioridades", ViewBag.RenderizadoPrioridades }
                    });
                }
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-100" id="solicitudContrato">
                @foreach (AplicacionOperaciones.Models.Solicitud item in (List<AplicacionOperaciones.Models.Solicitud>)ViewBag.RenderizadoSolicitudContratos)
                {
                    if(item.Code == "200"){
                        Html.RenderPartial("_Solicitudes", new ViewDataDictionary() {
                            { "TipoEvento", item.TipoEvento },
                            { "Nombre", item.NombreSolicitud },
                            { "NombreProceso", item.NombreProceso },
                            { "CodigoSolicitud", item.CodigoSolicitud },
                            { "FechaCreacion", item.Creado },
                            { "CodificarCod", item.CodificarCod },
                            { "FechasCompromiso", item.FechasCompromiso },
                            { "Comentarios", item.Comentarios },
                            { "Prioridad", item.Prioridad },
                            { "Glyphicon", item.Glyphicon },
                            { "GlyphiconColor", item.GlyphiconColor },
                            { "BorderColor", item.BorderColor },
                            { "ColorFont", item.ColorFont },
                            { "RenderizadoOpciones" , item.RenderizadoOpciones },
                            { "OptDescargarDatosCargados" , item.OptDescargarDatosCargados },
                            { "OptAsignarSolicitud" , item.OptAsignarSolicitud },
                            { "OptDescargarSolicitudContratoIndividual" , item.OptDescargarSolicitudContratoIndividual },
                            { "OptHistorialSolicitud" , item.OptHistorialSolicitud },
                            { "OptRevertirAnulacion" , item.OptRevertirAnulacion },
                            { "OptDescargarErrorDatosCargados" , item.OptDescargarErrorDatosCargados },
                            { "OptAnularSolicitud" , item.OptAnularSolicitud },
                            { "OptRevertirTermino" , item.OptRevertirTermino }
                        });
                    }
                    else
                    {
                        Html.RenderPartial("_NoResultadosEncontrados", new ViewDataDictionary() {
                            { "Message", item.Message },
                            { "Clase", "" }
                        });
                    }
                }
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-50 ta-center mb-50" id="solicitudContratoPagination">
                @foreach (AplicacionOperaciones.Models.Pagination item in (List<AplicacionOperaciones.Models.Pagination>)ViewBag.RenderizadoPagSolicitudesContratos)
                {
                    if (item.Code == "200")
                    {
                        Html.RenderPartial("_Pagination", new ViewDataDictionary() {
                            { "FirstItem", item.FirstItem },
                            { "PreviousItem", item.PreviousItem },
                            { "Codificar", item.Codificar },
                            { "NumeroPagina", item.NumeroPagina },
                            { "NextItem", item.NextItem },
                            { "LastItem", item.LastItem },
                            { "TotalItems", item.TotalItems },
                            { "Active", item.Active },
                            { "TipoSolicitud", item.TipoSolicitud },
                            { "HtmlRenderizado", item.HtmlRenderizado },
                            { "HtmlPagination", item.HtmlPagination },
                            { "HtmlSearchElement", item.HtmlSearchElement },
                            { "HtmlEventAction", item.HtmlEventAction }
                        });
                    }
                }
            </div>
        }
        
        if(ViewBag.RenderizaRenovacionSolicitud)
        {
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-100 mb-20">
                @foreach (AplicacionOperaciones.Models.HeaderSolicitud item in (List<AplicacionOperaciones.Models.HeaderSolicitud>)ViewBag.RenderizadoHeaderSolicitudRenovaciones)
                {
                    Html.RenderPartial("_HeaderSolicitudes", new ViewDataDictionary() {
                        { "PostTitulo", item.PostTitulo },
                        { "htmlRenderizado", item.HtmlRenderizado },
                        { "htmlPagination", item.HtmlPagination },
                        { "HtmlSearchElement", item.HtmlSearchElement },
                        { "TipoSolicitud", item.TipoSolicitud },
                        { "NombreProceso", item.NombreProceso },
                        { "Creado", item.Creado },
                        { "Estado", item.Estado },
                        { "Glyphicon", item.Glyphicon },
                        { "GlyphiconColor", item.GlyphiconColor },
                        { "EjecutivoKam", item.EjecutivoKam },
                        { "EjecutivoCreador", item.EjecutivoCreador },
                        { "Cliente", item.Cliente },
                        { "ResultSearch", item.ResultSearch },
                        { "RenderizaSolicitud", ViewBag.RenderizaSolicitud },
                        { "RenderizadoPrioridades", ViewBag.RenderizadoPrioridades }
                    });
                }
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-100" id="solicitudRenovacion">
                @foreach (AplicacionOperaciones.Models.Solicitud item in (List<AplicacionOperaciones.Models.Solicitud>)ViewBag.RenderizadoSolicitudRenovaciones)
                {
                    if (item.Code == "200") {
                        Html.RenderPartial("_Solicitudes", new ViewDataDictionary() {
                            { "TipoEvento", item.TipoEvento },
                            { "Nombre", item.NombreSolicitud },
                            { "NombreProceso", item.NombreProceso },
                            { "CodigoSolicitud", item.CodigoSolicitud },
                            { "FechaCreacion", item.Creado },
                            { "CodificarCod", item.CodificarCod },
                            { "FechasCompromiso", item.FechasCompromiso },
                            { "Comentarios", item.Comentarios },
                            { "Prioridad", item.Prioridad },
                            { "Glyphicon", item.Glyphicon },
                            { "GlyphiconColor", item.GlyphiconColor },
                            { "BorderColor", item.BorderColor },
                            { "ColorFont", item.ColorFont },
                            { "RenderizadoOpciones" , item.RenderizadoOpciones },
                            { "OptDescargarDatosCargados" , item.OptDescargarDatosCargados },
                            { "OptAsignarSolicitud" , item.OptAsignarSolicitud },
                            { "OptDescargarSolicitudContratoIndividual" , item.OptDescargarSolicitudContratoIndividual },
                            { "OptHistorialSolicitud" , item.OptHistorialSolicitud },
                            { "OptRevertirAnulacion" , item.OptRevertirAnulacion },
                            { "OptDescargarErrorDatosCargados" , item.OptDescargarErrorDatosCargados },
                            { "OptAnularSolicitud" , item.OptAnularSolicitud },
                            { "OptRevertirTermino" , item.OptRevertirTermino }
                        });
                    }
                    else
                    {
                        Html.RenderPartial("_NoResultadosEncontrados", new ViewDataDictionary() {
                            { "Message", item.Message },
                            { "Clase", "" }
                        });
                    }
                }
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-50 ta-center mb-50" id="solicitudRenovacionPagination">
                @foreach (AplicacionOperaciones.Models.Pagination item in (List<AplicacionOperaciones.Models.Pagination>)ViewBag.RenderizadoPagSolicitudesRenovaciones)
                {
                    if (item.Code == "200")
                    {
                        Html.RenderPartial("_Pagination", new ViewDataDictionary() {
                            { "FirstItem", item.FirstItem },
                            { "PreviousItem", item.PreviousItem },
                            { "Codificar", item.Codificar },
                            { "NumeroPagina", item.NumeroPagina },
                            { "NextItem", item.NextItem },
                            { "LastItem", item.LastItem },
                            { "TotalItems", item.TotalItems },
                            { "Active", item.Active },
                            { "TipoSolicitud", item.TipoSolicitud },
                            { "HtmlRenderizado", item.HtmlRenderizado },
                            { "HtmlPagination", item.HtmlPagination },
                            { "HtmlSearchElement", item.HtmlSearchElement },
                            { "HtmlEventAction", item.HtmlEventAction }
                        });
                    }
                }
            </div>
        }
    }
    
    Html.RenderPartial("_ModalExpiracionSesion");
    Html.RenderPartial("_ModalConfirmarEvento");
    Html.RenderPartial("_ModalConfirmarEventoTerminado");
    Html.RenderPartial("_ModalConfirmarEventoRevertirTerminado");
    Html.RenderPartial("_ModalErrorReversionTermino");
    Html.RenderPartial("_ModalConfirmarEventoRevertirTerminadoInd");

    Html.RenderPartial("_ModalAnularSolicitud", new ViewDataDictionary() {
        { "RenderizadoMotivosAnulacion", ViewBag.RenderizadoMotivosAnulacion }
    });

    <span id="loaderProceso"></span>
    <span id="loaderSearch"></span>
}
else
{
    foreach (AplicacionOperaciones.Models.Error item in (List<AplicacionOperaciones.Models.Error>)ViewBag.Error)
    {
        @Html.Partial("_ErrorSistema", new ViewDataDictionary {
            { "Resultado", item.Message }
        });
    }
}

@Scripts.Render("~/bundles/ajaxfunciones")
@Scripts.Render("~/bundles/utils")
@Scripts.Render("~/bundles/procesos")
@Scripts.Render("~/bundles/procesosgeneric")
@Scripts.Render("~/bundles/solicitudesgeneric")