<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <table class="family-teamwork" style="width: 100%;">
        <tbody id="content__solicitudes__cargomod">
            @foreach (Teamwork.Model.Operaciones.SolicitudCargo item in ViewBag.RenderizadoSolicitudesCargoMod)
            {
                <tr class="@item.Border br-1-solid-200x3 bt-1-solid-200x3 bb-1-solid-200x3">
                    <td style="width: 100px;">
                        <p class="@item.GlyphiconColor family-teamwork color-fx3 fw-bold m-auto"
                           style="font-size: 20px; width: 50px; height: 50px; display: inline-block; border-radius: 50%; vertical-align: middle;
                                    display: flex; align-items: center; text-align: center;">
                            <i class="@item.Glyphicon" style="width: 30px; height: 30px; display: inline-block; margin: auto;"></i>
                        </p>
                    </td>
                    <td style="width: 60%;">
                        <a href="@item.EnlaceDetalleSolicitud" style="width: 100%; display: block;">
                            <h3 class="new-family-teamwork color-100x3" style="font-weight: 300;">@item.NombreSolicitud</h3>
                            <p class="new-family-teamwork color-100x3 mt-10neg" style="font-weight: 100;">Creado <b>@item.Creado</b></p>
                            <p class="new-family-teamwork color-100x3 mt-10neg" style="font-weight: 100;">Creado Por <b>@item.CreadoPor</b></p>
                            <p class="new-family-teamwork color-100x3 mt-15neg" style="font-weight: 100;">Empresa: <b>@item.Empresa</b> &bull; Cliente: <b>@item.Cliente</b></p>
                            <p class="new-family-teamwork color-100x3 mt-10neg" style="font-weight: 100;">Codigo Referencia: <b>@item.CodigoCargoMod</b></p>
                            <p class="new-family-teamwork color-100x3 mt-10neg" style="font-weight: 100;">Comentarios de Solicitud: <b>@item.Comentarios</b></p>
                        </a>
                    </td>
                    <td class="ta-right pdr-10">
                        @using (Ajax.BeginForm("CambioEstadoSolicitud", "Finanzas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "contentSolicitudes",
                            InsertionMode = InsertionMode.Replace,
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" name="origen" value="Solicitud" class="dspl-none" />
                            <input type="text" name="codigoCargoMod" value="@item.CodigoSolicitud" class="dspl-none" />
                            <input type="text" name="estado" value="PDAPROB" class="dspl-none" />
                            @Html.ButtonAdministracion(
                                "submit",
                                new string[] {
                                    "class='dspl-inline-block btn btn-success new-family-teamwork'"
                                },
                                new string[]
                                {
                                    "min-width: 50px",
                                    "height: 50px",
                                    "border: none",
                                    "border-radius: 25px",
                                    "text-align: center",
                                    "font-weight: 100",
                                    "margin-top: 10px"
                                },
                                new string[]
                                {
                                    "<img src='../Resources/solicitar.svg' width='20' height='20' style='position: relative; left: 1%; margin-top: -5%; margin-right: 3px;' />" +
                                    "<span style='position: relative; float: right;'>Solicitar</span>"
                                },
                                (item.OptSolicitar == "S") ? true : false
                            )
                        }

                        @using (Ajax.BeginForm("ModalHistorialCargoMod", "Finanzas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "contentPayment",
                            InsertionMode = InsertionMode.Replace,
                            LoadingElementId = "loader",
                            OnSuccess = "ModalPaymentShow"
                        }))
                        {
                            <input type="text" name="codigoCargoMod" value="@item.CodigoSolicitud" class="dspl-none" />
                            @Html.ButtonAdministracion(
                                "submit",
                                new string[] {
                                    "class='dspl-inline-block btn btn-create new-family-teamwork mr-5'"
                                },
                                new string[]
                                {
                                    "min-width: 50px",
                                    "height: 50px",
                                    "border: none",
                                    "font-size: 15px",
                                    "border-radius: 25px",
                                    "text-align: center",
                                    "font-weight: 100",
                                    "margin-top: 10px"
                                },
                                new string[]
                                {
                                    "<img src='../Resources/svgnuevos/reloj.svg' width='20' height='20' style='position: relative; left: 1%; margin-top: -5%; margin-right: 3px;' />" +
                                    "<span style='position: relative; float: right;'>Historial Cargo Mod</span>"
                                },
                                (item.OptHistorial == "S") ? true : false
                            )
                        }

                        @using (Ajax.BeginForm("ModalConfirmacionRechazoCargoMod", "Finanzas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "contentPayment",
                            InsertionMode = InsertionMode.Replace,
                            LoadingElementId = "loader",
                            OnSuccess = "ModalPaymentShow"
                        }))
                        {
                            <input type="text" name="origen" value="Solicitud" class="dspl-none" />
                            <input type="text" name="codigoCargoMod" value="@item.CodigoSolicitud" class="dspl-none" />
                            <input type="text" name="estado" value="RZ" class="dspl-none" />
                            @Html.ButtonAdministracion(
                                "submit",
                                new string[] {
                                    "class='dspl-inline-block btn btn-danger new-family-teamwork'"
                                },
                                new string[]
                                {
                                    "min-width: 50px",
                                    "height: 50px",
                                    "border: none",
                                    "border-radius: 25px",
                                    "text-align: center",
                                    "font-weight: 100",
                                    "margin-top: 10px"
                                },
                                new string[]
                                {
                                    "<img src='../Resources/rechazo.svg' width='20' height='20' style='position: relative; left: 1%; margin-top: -5%; margin-right: 3px;' />" +
                                    "<span style='position: relative; float: right;'>Rechazar</span>"
                                },
                                (item.OptRechazar == "S") ? true : false
                            )
                        }

                        @using (Ajax.BeginForm("ModalConfirmacionRechazoCargoMod", "Finanzas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "contentPayment",
                            InsertionMode = InsertionMode.Replace,
                            LoadingElementId = "loader",
                            OnSuccess = "ModalPaymentShow"
                        }))
                        {
                            <input type="text" name="origen" value="Solicitud" class="dspl-none" />
                            <input type="text" name="codigoCargoMod" value="@item.CodigoSolicitud" class="dspl-none" />
                            <input type="text" name="estado" value="RZR" class="dspl-none" />
                            @Html.ButtonAdministracion(
                                "submit",
                                new string[] {
                                    "class='dspl-inline-block btn btn-danger new-family-teamwork'"
                                },
                                new string[]
                                {
                                    "min-width: 50px",
                                    "height: 50px",
                                    "border: none",
                                    "border-radius: 25px",
                                    "text-align: center",
                                    "font-weight: 100",
                                    "margin-top: 10px"
                                },
                                new string[]
                                {
                                    "<img src='../Resources/rechazo.svg' width='20' height='20' style='position: relative; left: 1%; margin-top: -5%; margin-right: 3px;' />" +
                                    "<span style='position: relative; float: right;'>Rechazar</span>"
                                },
                                (item.OptRechazarRem == "S") ? true : false
                            )
                        }

                        @Html.ButtonAdministracion(
                            "submit",
                            new string[] {
                                "class='dspl-inline-block btn btn-warning color-fx3 new-family-teamwork'",
                                "onclick='handleClickRedirectAction(this)'",
                                "data-reference='" + item.EnlaceEditar + "'"
                            },
                            new string[]
                            {
                                "min-width: 50px",
                                "height: 50px",
                                "border: none",
                                "border-radius: 25px",
                                "text-align: center",
                                "font-weight: 100",
                                    "margin-top: 10px"
                            },
                            new string[]
                            {
                                "<img src='../Resources/editar.svg' width='20' height='20' style='position: relative; left: 1%; margin-top: -5%; margin-right: 3px;' />" +
                                "<span style='position: relative; float: right;'>Editar</span>"
                            },
                            (item.OptEditar == "S") ? true : false
                        )

                        @Html.ButtonAdministracion(
                            "submit",
                            new string[] {
                                "class='dspl-inline-block btn btn-danger new-family-teamwork'",
                                "onclick='handleClickRedirectAction(this, `_blank`)'",
                                "data-reference='" + item.EnlaceEstructura + "'"
                            },
                            new string[]
                            {
                                "min-width: 50px",
                                "height: 50px",
                                "border: none",
                                "border-radius: 25px",
                                "text-align: center",
                                "font-weight: 100",
                                    "margin-top: 10px"
                            },
                            new string[]
                            {
                                "<img src='../Resources/pdf.svg' width='20' height='20' style='position: relative; left: 1%; margin-top: -5%; margin-right: 3px;' />" +
                                "<span style='position: relative; float: right;'>Estructura</span>"
                            },
                            (item.OptPdf == "S") ? true : false
                        )

                        @using (Ajax.BeginForm("DeshacerSolicitud", "Finanzas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "contentSolicitudes",
                            InsertionMode = InsertionMode.Replace,
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" name="origen" value="Solicitud" class="dspl-none" />
                            <input type="text" class="dspl-none" name="codigoSolicitud" value="@item.CodigoSolicitud" />
                            @Html.ButtonAdministracion(
                                "submit",
                                new string[] {
                                    "class='dspl-inline-block btn btn-danger new-family-teamwork'"
                                },
                                new string[]
                                {
                                    "min-width: 50px",
                                    "height: 50px",
                                    "border: none",
                                    "border-radius: 25px",
                                    "text-align: center",
                                    "font-weight: 100",
                                    "margin-top: 10px"
                                },
                                new string[]
                                {
                                    "<img src='../Resources/eliminar.svg' width='20' height='20' style='position: relative; left: 1%; margin-top: -5%; margin-right: 3px;' />" +
                                "<span style='position: relative; float: right;'>Eliminar</span>"
                                },
                                (item.OptDesechar == "S") ? true : false
                            )
                        }

                        @using (Ajax.BeginForm("CambioEstadoSolicitud", "Finanzas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "contentDetail",
                            InsertionMode = InsertionMode.Replace,
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" name="origen" value="Detail" class="dspl-none" />
                            <input type="text" name="codigoCargoMod" value="@item.CodigoSolicitud" class="dspl-none" />
                            <input type="text" name="estado" value="FD" class="dspl-none" />
                            @Html.ButtonAdministracion(
                                    "submit",
                                    new string[] {
                                "class='dspl-inline-block btn btn-success new-family-teamwork mr-5'"
                                    },
                                    new string[]
                                    {
                                "min-width: 50px",
                                "height: 50px",
                                "border: none",
                                "font-size: 15px",
                                "border-radius: 25px",
                                "text-align: center",
                                "font-weight: 100",
                                    "margin-top: 50px"
                                    },
                                    new string[]
                                    {
                                "<img src='../Resources/solicitar.svg' width='20' height='20' style='position: relative; left: 1%; margin-top: -5%; margin-right: 3px;' />" +
                                "<span style='position: relative; float: right;'>Publicar y Enviar Firma Digital</span>"
                                    },
                                    (item.OptPublicar == "S") ? true : false
                                )

                        }

                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>

@Html.Partial("Bajas/_ModalPaymentMethods")

<script>
    function HideModalPayment() {
        $("#modalPaymentMethods").modal("hide");
    }

    function onBegin() { }

    function ModalPaymentShow() {
        $("#modalPaymentMethods").modal("show");
    }
</script>