<div>

    @foreach (Teamwork.Model.Finanzas.ProvisionMargen item in ViewBag.RenderizadoGastosGeneral)
    {
        <div class="pdt-5 pdb-5">
            <div style="font-size: 20px; width: 60%;" class="family-teamwork pdl-30 pdt-10 pdb-10 pdr-30 mb-5 dspl-inline-block" id="content__hidden__@item.CodigoVariable">
                @if (item.OptActivar == "N")
                {
                    @: <span class="success pdt-2 pdb-2 pdl-5 pdr-5 color-fx3 mr-5" style="font-size: 14px;">Activo</span>
                }

                @if (item.OptActivar == "S")
                {
                    @: <span class="anulado pdt-2 pdb-2 pdl-5 pdr-5 color-fx3 mr-5" style="font-size: 14px;">Desactivado</span>
                }

                @item.Descripcion
            </div>
            <div id="content__action__@item.CodigoVariable" style="display: none; width: 60%;">
                @using (Ajax.BeginForm("ProvMargenActualizar", "Finanzas", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "contentListaProvisionesGeneral",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loader"
                }, new { @style = "display: inline-block; width: 90%" }))
                {
                    <input type="text" class="dspl-none" value="G" name="type" />
                    <input type="text" class="dspl-none" value="@item.CodigoVariable" name="codigoConcepto" />
                    @Html.InputAdministrador(
                        "text",
                        new string[] {
                            "class='family-teamwork bb-1-solid-200x3 dspl-block mt-20'",
                            "id='input__add__" + item.CodigoVariable + "'",
                            "data-ownerlegends='legends__add__" + item.CodigoVariable + "'",
                            "onBlur='handleBlurInput(this)'",
                            "name='glosaNewConcepto'",
                            "required",
                            "autocomplete='off'",
                            "value='" + item.Descripcion + "'"
                        },
                        new string[] {
                            "padding: 10px 20px",
                            "outline: none",
                            "width: 100%",
                            "border-left: none",
                            "border-right: none",
                            "border-top: none"
                        },
                        "on",
                        new string[]
                        {
                            "<label class='family-teamwork dspl-block pdt-30 pdl-30 pdb-11 cursor-pointer' onclick='handleFocusInput(this)' style='position: absolute; width: 100%; font-size: 18px;' data-ownerfocus='input__add__" + item.CodigoVariable + "' id='legends__add__" + item.CodigoVariable + "'>Editando el nombre de la variable</label>"
                        }
                    )
                    <input type="submit" class="dspl-none" id="btn__trigger__@item.CodigoVariable" />
                }
            </div>
            <div style=" width: 39%; text-align: right;" class="dspl-inline-block">
                @Html.ButtonAdministracion(
                    "button",
                    new string[] {
                        "class='dspl-inline-block btn btn-warning'",
                        "id='btn__edit__" + item.CodigoVariable + "'",
                        "data-button-focus-view='legends__add__" + item.CodigoVariable + "'",
                        "data-button-action-view='btn__action__" + item.CodigoVariable + "'",
                        "data-button-cancel-view='btn__cancel__" + item.CodigoVariable + "'",
                        "data-content-others-hidden='content__others__" + item.CodigoVariable + "'",
                        "data-content-action-hidden='content__hidden__" + item.CodigoVariable + "'",
                        "data-content-action-view='content__action__" + item.CodigoVariable + "'",
                        "onclick='handleClickButtonAction(this)'"
                    },
                    new string[]
                    {
                        "width: 45px",
                        "height: 45px",
                        "border: none",
                        "border-radius: 50%",
                        "text-align: center"
                    },
                    new string[]
                    {
                        "<img src='../../Resources/editar.svg' width='25' height='25' style='position: relative; left: -15%; ' />"
                    },
                    (item.OptEditar == "S" && item.OptActivar == "N") ? true : false
                )

                @Html.ButtonAdministracion(
                    "button",
                    new string[] {
                        "class='dspl-inline-block btn btn-success'",
                        "id='btn__action__" + item.CodigoVariable + "'",
                        "data-button-action-trigger='btn__trigger__" + item.CodigoVariable + "'",
                        "onclick='handleClickButtonTrigger(this)'",
                    },
                    new string[]
                    {
                        "width: 45px",
                        "height: 45px",
                        "border: none",
                        "border-radius: 50%",
                        "text-align: center",
                        "display: none"
                    },
                    new string[]
                    {
                        "<img src='../../Resources/check.svg' width='25' height='25' style='position: relative; left: -17%; ' />"
                    },
                    (item.OptEditar == "S" && item.OptActivar == "N") ? true : false
                )

                @Html.ButtonAdministracion(
                    "button",
                    new string[] {
                        "class='dspl-inline-block btn btn-anulado'",
                        "id='btn__cancel__" + item.CodigoVariable + "'",
                        "data-button-action-hidden='btn__action__" + item.CodigoVariable + "'",
                        "data-content-others-hidden='content__others__" + item.CodigoVariable + "'",
                        "data-content-action-hidden='content__hidden__" + item.CodigoVariable + "'",
                        "data-button-edit-view='btn__edit__" + item.CodigoVariable + "'",
                        "data-content-action-view='content__action__" + item.CodigoVariable + "'",
                        "onclick='handleClickButtonCancel(this)'"
                    },
                    new string[]
                    {
                        "width: 45px",
                        "height: 45px",
                        "border: none",
                        "border-radius: 50%",
                        "text-align: center",
                        "display: none"
                    },
                    new string[]
                    {
                        "<img src='../../Resources/cancel.svg' width='20' height='20' style='position: relative; ' />"
                    },
                    (item.OptEditar == "S" && item.OptActivar == "N") ? true : false
                )

                <span id="content__others__@item.CodigoVariable">

                    @using (Ajax.BeginForm("ProvMargenEliminar", "Finanzas", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "contentListaProvisionesGeneral",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loader"
                    }))
                    {
                        <input type="text" class="dspl-none" value="G" name="type" />
                        <input type="text" class="dspl-none" value="@item.CodigoVariable" name="codigoConcepto" />
                        @Html.ButtonAdministracion(
                            "submit",
                            new string[] {
                                "class='dspl-inline-block btn btn-danger'"
                            },
                            new string[]
                            {
                                "width: 45px",
                                "height: 45px",
                                "border: none",
                                "border-radius: 50%",
                                "text-align: center"
                            },
                            new string[]
                            {
                                "<img src='../../Resources/eliminar.svg' width='25' height='25' style='position: relative; left: -15%; ' />"
                            },
                            (item.OptEliminar == "S") ? true : false
                        )
                    }

                    @using (Ajax.BeginForm("ProvMargenDesactivar", "Finanzas", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "contentListaProvisionesGeneral",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loader"
                    }))
                    {
                        <input type="text" class="dspl-none" value="G" name="type" />
                        <input type="text" class="dspl-none" value="@item.CodigoVariable" name="codigoConcepto" />
                        @Html.ButtonAdministracion(
                            "submit",
                            new string[] {
                                "class='dspl-inline-block btn btn-danger'"
                            },
                            new string[]
                            {
                                "width: 45px",
                                "height: 45px",
                                "border: none",
                                "border-radius: 50%",
                                "text-align: center"
                            },
                            new string[]
                            {
                                "<img src='../../Resources/off.svg' width='25' height='25' style='position: relative; left: -10%; ' />"
                            },
                            (item.OptDesactivar == "S") ? true : false
                        )
                    }

                    @using (Ajax.BeginForm("ProvMargenActivar", "Finanzas", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "contentListaProvisionesGeneral",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loader"
                    }))
                    {
                        <input type="text" class="dspl-none" value="G" name="type" />
                        <input type="text" class="dspl-none" value="@item.CodigoVariable" name="codigoConcepto" />
                        @Html.ButtonAdministracion(
                            "submit",
                            new string[] {
                                "class='dspl-inline-block btn btn-success'"
                            },
                            new string[]
                            {
                                "width: 45px",
                                "height: 45px",
                                "border: none",
                                "border-radius: 50%",
                                "text-align: center"
                            },
                            new string[]
                            {
                                "<img src='../../Resources/on.svg' width='25' height='25' style='position: relative; left: -10%; ' />"
                            },
                            (item.OptActivar == "S") ? true : false
                        )
                    }

                </span>
            </div>
        </div>
    }

</div>


<script async>

    handleClickButtonAction = (e) => {
        document.getElementById(e.dataset.contentActionHidden).style.display = 'none'
        document.getElementById(e.dataset.contentOthersHidden).style.display = 'none'
        document.getElementById(e.dataset.contentActionView).style.display = 'inline-block'
        document.getElementById(e.dataset.buttonActionView).style.display = 'inline-block'
        document.getElementById(e.dataset.buttonCancelView).style.display = 'inline-block'
        document.getElementById(e.dataset.buttonFocusView).click()
        e.style.display = 'none'
    }

    handleClickButtonTrigger = (e) => {
        document.getElementById(e.dataset.buttonActionTrigger).click()
    }

    handleClickButtonCancel = (e) => {
        e.style.display = 'none'
        document.getElementById(e.dataset.buttonActionHidden).style.display = 'none'
        document.getElementById(e.dataset.buttonEditView).style.display = 'inline-block'
        document.getElementById(e.dataset.contentOthersHidden).style.display = 'inline-block'
        document.getElementById(e.dataset.contentActionHidden).style.display = 'inline-block'
        document.getElementById(e.dataset.contentActionView).style.display = 'none'
    }

</script>

<script async>

    handleClickButtonActionG = (e) => {
        document.getElementById(e.dataset.contentActionHidden).style.display = 'none'
        document.getElementById(e.dataset.contentOthersHidden).style.display = 'none'
        document.getElementById(e.dataset.contentActionView).style.display = 'block'
        document.getElementById(e.dataset.buttonActionView).style.display = 'inline-block'
        document.getElementById(e.dataset.buttonCancelView).style.display = 'inline-block'
        e.style.display = 'none'
    }

    handleClickButtonTriggerG = (e) => {
        document.getElementById(e.dataset.buttonActionTrigger).click()
    }

    handleClickButtonCancelG = (e) => {
        e.style.display = 'none'
        document.getElementById(e.dataset.buttonActionHidden).style.display = 'none'
        document.getElementById(e.dataset.buttonEditView).style.display = 'inline-block'
        document.getElementById(e.dataset.contentOthersHidden).style.display = 'inline-block'
        document.getElementById(e.dataset.contentActionHidden).style.display = 'inline-block'
        document.getElementById(e.dataset.contentActionView).style.display = 'none'
    }

</script>
