
@if (ViewBag.OptionMoveWizards != null)
{
    <div class="row mt-100 ml-auto mr-auto" style="width: 92%;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="new-family-teamwork ta-center color-100x3" style="font-weight: 100;">Estamos cargando la etapa...</h2>
            <h5 class="new-family-teamwork ta-center" style="font-weight: 100;">Espere un momento, no tardamos.</h5>
        </div>
    </div>
    <script async>

        window.location.href = "@ViewBag.HttpRedirectWizards"

    </script>
}
else
{
    <div class="row mt-100 ml-auto mr-auto" style="width: 92%;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="new-family-teamwork ta-center color-100x3" style="font-weight: 100;">Etapa @ViewBag.WizardsActual: Seleccione Sueldo a Proporcionar</h2>
        </div>
    </div>
    if (ViewBag.HtmlMessageResult != null)
    {
        @: <span class="alert alert-success dspl-block m-auto new-family-teamwork htmlMessageResult" style="width: 92%; font-weight: 100;"><img src="../../../../Resources/check.svg" width="30" height="30" /> @Html.Raw(ViewBag.HtmlMessageResult)</span>
    }

    <div class="row mt-20 ml-auto mr-auto" style="width: 92%;">
        @foreach (Teamwork.Model.Finanzas.EstructuraCargo itemHeader in ViewBag.RenderizaHeaderEstructura)
        {
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                @using (Ajax.BeginForm("SiguienteWizards", "Operaciones", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "contentWizards",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loader"
                }, new { @style = "display: block; width: 100%" }))
                {
                    <input type="text" name="codigoCargoMod" value="@itemHeader.CodigoCargoMod" class="dspl-none" />
                    <input type="text" name="wizards" value="@ViewBag.WizardsPrev" class="dspl-none" />
                    <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                    @Html.ButtonAdministracion(
                        "submit",
                        new string[] {
                            "class='dspl-inline-block new-family-teamwork'"
                        },
                        new string[]
                        {
                            "min-width: 50px",
                            "border: none",
                            "text-align: center",
                            "font-weight: 100",
                            "border: 0",
                            "margin: none",
                            "background-color: transparent!important"
                        },
                        new string[]
                        {
                            "<span class='dspl-inline-block'><span style='width: 50px; height: 50px; border-radius: 50%; display: flex; align-items: center; text-align: center;' class='btn btn-teamwork pdt-5 pdr-5 pdb-5 pdl-5'><img src='../../../../Resources/flecha-izquierda.svg' width='30' height='30' style='position: relative; left: 10%;' /></span></span>" +
                            "<span class='new-family-teamwork' style='position: relative; float: right; margin-left: 10px; margin-top: 10px; font-size: 20px; font-wight: 100;'>Anterior</span>"
                        },
                        true
                    )
                }
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <div class="dspl-inline-block mr-10">
                    @using (Ajax.BeginForm("CambiarInputSueldo", "Operaciones", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "contentWizards",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loader",
                        OnSuccess = "formatInput()"
                    }))
                    {
                        <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                        <input type="text" class="dspl-none" name="codigoCargoMod" value="@itemHeader.CodigoCargoMod" />
                        <input type="text" class="dspl-none" name="sueldo" value="SB" />
                        <Button type="submit" class="btn
                            @if (itemHeader.TypeSueldoInputActual == "SB" || itemHeader.TypeSueldoInputActual == "SBPT") {
                                @: btn-success
                            } else {
                                @: btn-anulado
                            }"
                                style="
                            @if (itemHeader.TypeSueldoInputActual == "SB" || itemHeader.TypeSueldoInputActual == "SBPT") {
                                @: width: 220px; height: 220px;
                            } else {
                                @: width: 200px; height: 200px;
                            } border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;">
                            <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 22px;">SUELDO</h1>
                            <h3 class="new-family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px; font-weight: 100;">Base</h3>
                            <img src="~/Resources/sueldoperson.svg" width="50" height="50" />
                        </Button>
                    }
                    <span class="new-family-teamwork dspl-block color-100x3" style="font-weight: 100; line-height: 15px; padding-left: 0; padding-right: 0;">
                        @if (itemHeader.TypeSueldoInputActual == "SB" || itemHeader.TypeSueldoInputActual == "SBPT")
                        {
                            @: . <br /> . <br /> . <br /> . <br /> . <br /> . <br /> &#x25BE;
                        }
                    </span>
                </div>
                <div class="dspl-inline-block ml-10">
                    @using (Ajax.BeginForm("CambiarInputSueldo", "Operaciones", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "contentWizards",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loader",
                        OnSuccess = "formatInput()"
                    }))
                    {
                        <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                        <input type="text" class="dspl-none" name="codigoCargoMod" value="@itemHeader.CodigoCargoMod" />
                        <input type="text" class="dspl-none" name="sueldo" value="SL" />
                        <Button type="submit" class="btn
                            @if (itemHeader.TypeSueldoInputActual == "SL" || itemHeader.TypeSueldoInputActual == "SLPT")
                            {
                                @: btn-success
                            }
                            else
                            {
                                @: btn-anulado
                            }"
                                style="
                            @if (itemHeader.TypeSueldoInputActual == "SL" || itemHeader.TypeSueldoInputActual == "SLPT")
                            {
                                @: width: 220px; height: 220px;
                            }
                            else
                            {
                                @: width: 200px; height: 200px;
                            } border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;">
                            <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 22px;">SUELDO</h1>
                            <h3 class="new-family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px; font-weight: 100;">Liquido Estimado</h3>
                            <img src="~/Resources/sueldoperson.svg" width="50" height="50" />
                        </Button>
                        /**/
                    }
                    <span class="new-family-teamwork dspl-block color-100x3" style="font-weight: 100; line-height: 15px; padding-left: 0; padding-right: 0;">
                        @if (itemHeader.TypeSueldoInputActual == "SL" || itemHeader.TypeSueldoInputActual == "SLPT")
                        {
                            @: . <br /> . <br /> . <br /> . <br /> . <br /> . <br /> &#x25BE;
                        }
                    </span>
                </div>
            </div>

            foreach (Teamwork.Model.Finanzas.EstructuraCargo itemHaber in ViewBag.RenderizaHaberesEstructura)
            {
                <div class="col-12 col-sm-12 col-lg-12 col-md-12">
                    @using (Ajax.BeginForm("ActualizaSueldo", "Operaciones", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "contentWizards",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loader",
                        OnSuccess = "formatInput()"
                    }, new { @style = "display: block; width: 100%" }))
                    {
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-8 ta-left">
                                @Html.InputAdministrador(
                                    "text",
                                    new string[] {
                                        "class='new-family-teamwork bb-1-solid-200x3 dspl-block mt-20'",
                                        "id='input-add'",
                                        "data-ownerlegends='legends-add'",
                                        "data-ownerlegends='legends-add-hs'",
                                        "data-fontsizebefore='15px'",
                                        "data-fontsizeafter='12px'",
                                        "data-paddingbefore='27px, none, 11px, none'",
                                        "data-paddingafter='0px, none, none, none'",
                                        "onBlur='handleBlurInput(this)'",
                                        "name='sueldo'",
                                        "required",
                                        "autocomplete='off'",
                                        "value='" + ((itemHeader.TypeSueldoInputActual == "SB") ? itemHaber.SueldoBase.Replace("$ ", "") : itemHaber.SueldoLiquido.Replace("$ ", "")) + "'",
                                        "onkeyup='this.value = eventMaskThousand(this.value)'",
                                    },
                                    new string[] {
                                        "padding-top: 10px",
                                        "padding-bottom: 10px",
                                        "outline: none",
                                        "border: none",
                                        "width: 100%",
                                        "text-transform: uppercase",
                                        "font-weight: 100"
                                    },
                                    "on",
                                    new string[]
                                    {
                                        "<label class='new-family-teamwork dspl-block pdt-27 pdb-11 cursor-pointer color-100x3' onclick='handleFocusInput(this)' style='font-weight: 100; position: absolute; width: 100%; font-size: 15px; text-transform: uppercase;' " +
                                        "data-fontsizeafter='12px' data-fontsizebefore='15px' data-paddingbefore='27px, none, 11px, none' data-paddingafter='0px, none, none, none' data-ownerfocus='input-add' id='legends-add'>Indique Sueldo que va considerar</label>"
                                    }
                                )

                            </div>
                            <div class="col-lg-2 ta-center pdt-15">
                                <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                                <input type="text" value="@itemHeader.TypeSueldoInputActual" class="dspl-none" name="typeSueldo" />
                                <input type="text" value="@itemHeader.CodigoCargoMod" class="dspl-none" name="codigoSolicitud" />
                                @Html.ButtonAdministracion(
                                    "submit",
                                    new string[] {
                                        "class='dspl-inline-block btn btn-success new-family-teamwork'"
                                    },
                                    new string[]
                                    {
                                        "min-width: 50px",
                                        "height: 50px",
                                        "border: none",
                                        "border-radius: 25px",
                                        "text-align: center",
                                        "font-weight: 100"
                                    },
                                    new string[]
                                    {
                                        "<img src='../../../../Resources/check.svg' width='20' height='20' style='position: relative; left: 1%; margin-top: -5%; margin-right: 3px;' />" +
                                        "<span style='position: relative; float: right;'>Guardar Sueldo</span>"
                                    },
                                    true
                                )

                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    }
                    <div class="col-12 col-sm-12 col-lg-12 col-md-12">
                        @switch (itemHeader.TypeJornada)
                        {
                            case "F":
                                <div class="row mt-30">
                                    <div class="col-lg-1"></div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-11">
                                                @if (itemHaber.SueldoBase != "")
                                                {@: <p class="new-family-teamwork color-100x3" style="font-weight: 100;">Sueldo Base que tendrá el cargo mod en calidad de Full Time: </p>
                                                }
                                                <h2 class="new-family-teamwork color-100x3" style="font-weight: 100;">@itemHaber.SueldoBase</h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                                @if (itemHaber.SueldoLiquido != "")
                                                {@: <p class="new-family-teamwork color-100x3" style="font-weight: 100;">Alcance Liquido que tendrá el cargo mod en calidad de Full Time: </p>
                                                }
                                                <h2 class="new-family-teamwork color-100x3" style="font-weight: 100;">@itemHaber.SueldoLiquido</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                                        <p class="new-family-teamwork mb-10neg" style="font-weight: 100;">
                                            Se esta considerando como
                                        </p>
                                        <h3 class="new new-family-teamwork bl-5-solid-B703FA pdl-10 pdt-10 pdr-10 pdb-10" style="font-weight: 100;">
                                            Jornada Full Time
                                        </h3>
                                        <p class="new-family-teamwork mb-10neg" style="font-weight: 100;">
                                            El Full Time se esta calculado en base a sueldo
                                        </p>
                                        <h3 class="new new-family-teamwork bl-5-solid-B703FA pdl-10 pdt-10 pdr-10 pdb-10" style="font-weight: 100;">
                                            @if (itemHeader.TypeCalculoSueldo == "M")
                                            {
                                                @: Mensual
                                            }
                                            else
                                            {
                                                @: Diario
                                            }
                                        </h3>
                                        <p class="new-family-teamwork mb-10neg" style="font-weight: 100;">
                                            Número de Horas semanales para cálculo full time
                                        </p>
                                        <h3 class="new new-family-teamwork bl-5-solid-B703FA pdl-10 pdt-10 pdr-10 pdb-10" style="font-weight: 100;">
                                            @switch(itemHeader.NumeroHorasSemanales){ 
                                                case "ART22":
                                                    @: Articulo 22
                                                    break;
                                                case "JE":
                                                    @: Jornada Excepcional
                                                    break;
                                                default:
                                                    @itemHeader.NumeroHorasSemanales
                                                    break;
                                            }
                                        </h3>
                                        @if (itemHeader.TypeCalculoSueldo == "D")
                                        {
                                            <p class="new-family-teamwork mb-10neg" style="font-weight: 100;">
                                                Número de Dias semanales para cálculo Full time
                                            </p>
                                            <h3 class="new new-family-teamwork bl-5-solid-B703FA pdl-10 pdt-10 pdr-10 pdb-10" style="font-weight: 100;">
                                                @itemHeader.NumeroDias
                                            </h3>
                                        }

                                    </div>
                                    <div class="col-lg-1"></div>
                                </div>
                                break;
                            case "P":
                                using (Ajax.BeginForm("ActualizarJornadaPTSueldo", "Operaciones", new AjaxOptions()
                                {
                                    HttpMethod = "POST",
                                    UpdateTargetId = "contentWizards",
                                    InsertionMode = InsertionMode.Replace,
                                    LoadingElementId = "loader",
                                    OnSuccess = "formatInput()"
                                }, new { @style = "display: inline-block; width: 100%" }))
                                {
                                    @*<input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                                    <input type="text" class="dspl-none" name="codigoCargoMod" value="@itemHeader.CodigoCargoMod" />
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-20
                                            @if (itemHeader.TypeJornada == "P"){
                                                @: dspl-block
                                            }
                                            else {
                                                @: dspl-none
                                            }
                                            ">
                                        <h3 class="new-family-teamwork mb-30" style="font-weight: 100">Indique Jornada y Horarios detallados PART TIME.</h3>
                                        <div class="row">
                                            <div class="col-lg-2"></div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 ta-left">
                                                <input type="text" name="horasSemanales" value="@itemHeader.NumeroHorasSemanalesPT" class="dspl-none" />
                                                <input type="text" name="typeJornadaCalculo" value="@itemHeader.TypeCalculoPT" class="dspl-none" />
                                                @Html.InputAdministrador(
                                                    "text",
                                                    new string[] {
                                                        "class='new-family-teamwork bb-1-solid-200x3 dspl-block mt-20'",
                                                        "id='input-add-monto'",
                                                        "data-ownerlegends='legends-add-monto'",
                                                        "data-fontsizebefore='15px'",
                                                        "data-fontsizeafter='12px'",
                                                        "data-paddingbefore='27px, none, 11px, none'",
                                                        "data-paddingafter='0px, none, none, none'",
                                                        "onBlur='handleBlurInput(this)'",
                                                        "name='valorDiario'",
                                                        "required",
                                                        "autocomplete='off'",
                                                        "value='" + itemHeader.ValorSueldoPT + "'",
                                                        "onkeyup='this.value = eventMaskThousand(this.value)'",
                                                    },
                                                    new string[] {
                                                        "padding-top: 10px",
                                                        "padding-bottom: 10px",
                                                        "outline: none",
                                                        "border: none",
                                                        "width: 100%",
                                                        "text-transform: uppercase",
                                                        "font-weight: 100"
                                                    },
                                                    "on",
                                                    new string[]
                                                    {
                                                        "<label class='new-family-teamwork dspl-block pdt-27 pdb-11 cursor-pointer color-100x3' onclick='handleFocusInput(this)' style='font-weight: 100; position: absolute; width: 100%; font-size: 15px; text-transform: uppercase;' " +
                                                        "data-fontsizeafter='12px' data-fontsizebefore='15px' data-paddingbefore='27px, none, 11px, none' data-paddingafter='0px, none, none, none' data-ownerfocus='input-add-monto' id='legends-add-monto'>Indique monto que va considerar</label>"
                                                    }
                                                )
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-2 pdt-15">
                                                @Html.ButtonAdministracion(
                                                    "submit",
                                                    new string[] {
                                                        "class='dspl-inline-block btn btn-success new-family-teamwork'"
                                                    },
                                                    new string[]
                                                    {
                                                        "min-width: 50px",
                                                        "height: 50px",
                                                        "border: none",
                                                        "border-radius: 25px",
                                                        "text-align: center",
                                                        "font-weight: 100"
                                                    },
                                                    new string[]
                                                    {
                                                        "<img src='../../../../Resources/check.svg' width='20' height='20' style='position: relative; left: 1%; margin-top: -5%; margin-right: 3px;' />" +
                                                        "<span style='position: relative; float: right;'>Guardar Jornada</span>"
                                                    },
                                                    true
                                                )
                                            </div>
                                            <div class="col-lg-2"></div>
                                        </div>
                                    </div>*@

                                }
                                <div class="row mt-30">
                                    <div class="col-lg-1"></div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-11">
                                                @if (itemHaber.SueldoBase != "")
                                                {@: <p class="new-family-teamwork color-100x3" style="font-weight: 100;">Sueldo Base que tendrá el cargo mod en calidad de Part Time: </p>
                                                }
                                                <h2 class="new-family-teamwork color-100x3" style="font-weight: 100;">@itemHaber.SueldoBase</h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                                @if (itemHaber.SueldoLiquido != "")
                                                {@: <p class="new-family-teamwork color-100x3" style="font-weight: 100;">Alcance Liquido que tendrá el cargo mod en calidad de Part Time: </p>
                                                }
                                                <h2 class="new-family-teamwork color-100x3" style="font-weight: 100;">@itemHaber.SueldoLiquido</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                                        <p class="new-family-teamwork mb-10neg" style="font-weight: 100;">
                                            Se esta considerando como
                                        </p>
                                        <h3 class="new new-family-teamwork bl-5-solid-B703FA pdl-10 pdt-10 pdr-10 pdb-10" style="font-weight: 100;">
                                            Jornada Part Time
                                        </h3>
                                        <p class="new-family-teamwork mb-10neg" style="font-weight: 100;">
                                            El Part Time se esta calculado en base a
                                        </p>
                                        <h3 class="new new-family-teamwork bl-5-solid-B703FA pdl-10 pdt-10 pdr-10 pdb-10" style="font-weight: 100;">
                                            @if (itemHeader.TypeCalculoSueldo == "PTD")
                                            {
                                                @: Valor Día
                                            }

                                            @if (itemHeader.TypeCalculoSueldo == "PTM")
                                            {
                                                @: Valor Mensualizado
                                            }
                                            <br />
                                            @if (itemHeader.TypeSueldoInputActual == "SBPT")
                                            {
                                                @itemHaber.SueldoBase
                                            }
                                            else
                                            {
                                                @itemHaber.SueldoLiquido
                                            }
                                        </h3>
                                        <p class="new-family-teamwork mb-10neg" style="font-weight: 100;">
                                            Número de Horas semanales para cálculo Part Time
                                        </p>
                                        <h3 class="new new-family-teamwork bl-5-solid-B703FA pdl-10 pdt-10 pdr-10 pdb-10" style="font-weight: 100;">
                                            @itemHeader.NumeroHorasSemanalesPT
                                        </h3>
                                        @if (itemHeader.TypeCalculoSueldo == "PTD" || itemHeader.TypeCalculoSueldo == "PTM")
                                        {
                                            <p class="new-family-teamwork mb-10neg" style="font-weight: 100;">
                                                Número de Dias semanales para cálculo Part Time
                                            </p>
                                            <h3 class="new new-family-teamwork bl-5-solid-B703FA pdl-10 pdt-10 pdr-10 pdb-10" style="font-weight: 100;">
                                                @itemHeader.NumeroDias
                                            </h3>
                                        }

                                    </div>
                                    <div class="col-lg-1"></div>
                                </div>

                                break;
                        }

                        @if (itemHaber.MessageSueldoBase != "")
                        {
                            @: <div class="row mt-20">
                                @: <div class="col-lg-1"></div>
                                @: <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                                    @: <span class="alert alert-warning new-family-teamwork" style="font-weight: 100;">@itemHaber.MessageSueldoBase</span>
                                @: </div>
                                @: <div class="col-lg-1"></div>
                            @: </div>
                        }
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-50 mb-100 ta-right">
                    @using (Ajax.BeginForm("SiguienteWizards", "Operaciones", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "contentWizards",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loader",
                        OnSuccess = "formatInput()"
                    }, new { @style = "display: block; width: 100%" }))
                    {
                        <input type="text" name="tipoEvento" value="@itemHeader.Origen" class="dspl-none" />
                        <input type="text" name="codigoCargoMod" value="@itemHeader.CodigoCargoMod" class="dspl-none" />
                        <input type="text" name="wizards" value="@ViewBag.WizardsNext" class="dspl-none" />
                        <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                        @Html.ButtonAdministracion(
                            "submit",
                            new string[] {
                                "class='dspl-inline-block new-family-teamwork'",
                                (itemHaber.SueldoBase != "" && itemHaber.SueldoLiquido != "") ? "" : "disabled='disabled'"
                            },
                            new string[]
                            {
                                "min-width: 50px",
                                "border: none",
                                "text-align: center",
                                "font-weight: 100",
                                "border: 0",
                                "margin: none",
                                "background-color: transparent!important"
                            },
                            new string[]
                            {
                                "<span class='dspl-inline-block'><span style='width: 50px; height: 50px; border-radius: 50%; display: flex; align-items: center; text-align: center;' " +
                                "class='btn " + ((itemHaber.SueldoBase != "" && itemHaber.SueldoLiquido != "") ? "btn-teamwork" : "btn-disabled") + " pdt-5 pdr-5 pdb-5 pdl-5'><img src='../../../../Resources/flecha-correcta.svg' width='30' height='30' style='position: relative; left: 10%;' /></span></span>" +
                                "<span class='new-family-teamwork' style='position: relative; float: left; margin-right: 10px; margin-top: 10px; font-size: 20px; font-wight: 100;'>Siguiente</span>"
                            },
                            true
                        )
                    }
                </div>
            }
        }
    </div>
}

<script async>


    @if (ViewBag.HtmlMessageResult != null)
    {
        @: setTimeout(() => { document.querySelector('.htmlMessageResult').style.display = 'none' }, 3000)
    }

    window.onload = () => {
        formatInput()
    }

    formatInput = () => {
        handleFocusInput(document.getElementById("legends-add"))
    }

    handleFocusInput = (e) => {
        const padding = e.dataset.paddingafter.split(',')

        if (padding[0] !== 'none') {
            e.style.paddingTop = padding[0]
        }

        if (padding[1] !== 'none') {
            e.style.paddingRight = padding[1]
        }

        if (padding[2] !== 'none') {
            e.style.paddingBottom = padding[2]
        }

        if (padding[3] !== 'none') {
            e.style.paddingLeft = padding[3]
        }

        e.style.transition = "all 0.2s ease-in"
        e.style.fontSize = document.getElementById(e.dataset.ownerfocus).dataset.fontsizeafter
        document.getElementById(e.dataset.ownerfocus).focus()
        document.getElementById(e.dataset.ownerfocus).style.borderBottom = "1px solid #428bca"
        e.style.color = "#428bca"
        document.getElementById(e.dataset.ownerfocus).style.color = "#428bca"
    }

    handleBlurInput = (e) => {
        if (e.value === "") {
            const padding = e.dataset.paddingbefore.split(',')

            if (padding[0] !== 'none') {
                document.getElementById(e.dataset.ownerlegends).style.paddingTop = padding[0]
            }

            if (padding[1] !== 'none') {
                document.getElementById(e.dataset.ownerlegends).style.paddingRight = padding[1]
            }

            if (padding[2] !== 'none') {
                document.getElementById(e.dataset.ownerlegends).style.paddingBottom = padding[2]
            }

            if (padding[3] !== 'none') {
                document.getElementById(e.dataset.ownerlegends).style.paddingLeft = padding[3]
            }

            document.getElementById(e.dataset.ownerlegends).style.fontSize = document.getElementById(e.dataset.ownerlegends).dataset.fontsizebefore
            document.getElementById(e.dataset.ownerlegends).style.transition = "all 0.2s ease-in"
        }

        document.getElementById(e.dataset.ownerlegends).style.color = "rgb(100, 100, 100)"
        e.style.borderBottom = "1px solid rgb(200, 200, 200)"
        e.style.color = "rgb(50, 50, 50)"
    }


    handleClickSelect = (e) => {
        const classList = [...e.classList]
        let active = false

        classList.map(x => {
            if (x === "active__parent__content__select") {
                active = true
            }
        })

        if (!active) {
            e.style.borderBottom = "1px solid #428bca"
            e.style.color = "#428bca"
            e.classList.add("active__parent__content__select")
            e.innerHTML = e.innerHTML.split('▾').join('▴')
            document.getElementById(e.dataset.contentSelect).style.display = "block"
        }
        else {
            e.classList.remove("active__parent__content__select")
            e.style.borderBottom = "1px solid rgb(200, 200, 200)"
            e.style.color = "rgb(100, 100, 100)"
            e.innerHTML = e.innerHTML.split('▴').join('▾')
            document.getElementById(e.dataset.contentSelect).style.display = "none"
        }
    }

    handleClicOptionSelect = (e) => {
        const elementDestino = document.getElementById(e.dataset.contentParent)
        const inputDestino = document.getElementById(e.dataset.destinoConstante)

        elementDestino.innerHTML = elementDestino.innerHTML.split(`${elementDestino.dataset.optionSelected} ▴`).join(`${e.innerHTML} ▾`)
        elementDestino.setAttribute("data-option-selected", e.innerHTML)

        inputDestino.value = e.dataset.optionConstante

        //console.log(e.dataset.optionConstante, e.innerHTML)
    }

    document.querySelector("body").addEventListener("click", (e) => {
        const classList = [...e.target.classList]
        let action = true

        if (classList !== null) {
            classList.map(x => {
                if (x === "parent__content__select__show") {
                    action = false
                }
            })
        }

        if (action) {
            const elementSelect = [...document.getElementsByClassName("select__content__hidden")]
            let hidden = false
            let contentId = ""

            classList.map(x => {
                if (x !== "select__content__hidden") {
                    hidden = true
                }
            })

            if (!hidden) {

                if (e.target.offsetParent !== null) {
                    const parentClassList = [...e.target.offsetParent.classList]

                    parentClassList.map(y => {
                        if (y === "select__content__hidden") {
                            contentId = e.target.offsetParent.id
                        }
                    })
                }

            }

            if (hidden) {
                elementSelect.map(x => {
                    document.getElementById(x.id).style.display = "none"
                    document.getElementById(x.dataset.parentContent).style.borderBottom = "1px solid rgb(200, 200, 200)"
                    document.getElementById(x.dataset.parentContent).style.color = "rgb(100, 100, 100)"
                    document.getElementById(x.dataset.parentContent).innerHTML = document.getElementById(x.dataset.parentContent).innerHTML.split('▴').join('▾')
                    document.getElementById(x.dataset.parentContent).classList.remove("active__parent__content__select")
                })
            }
            else {
                elementSelect.map(x => {
                    if (x.id !== contentId) {
                        document.getElementById(x.id).style.display = "none"
                        document.getElementById(x.dataset.parentContent).style.borderBottom = "1px solid rgb(200, 200, 200)"
                        document.getElementById(x.dataset.parentContent).style.color = "rgb(100, 100, 100)"
                        document.getElementById(x.dataset.parentContent).innerHTML = document.getElementById(x.dataset.parentContent).innerHTML.split('▴').join('▾')
                        document.getElementById(x.dataset.parentContent).classList.remove("active__parent__content__select")
                    }
                })
            }
        }
    })

    /** creacion de mascara para valores separados por miles Ej. => 1.000 */

    eventMaskThousand = (e) => {
        const expReg = /[0-9]/
        if (e !== 'Backspace') {
            if (e.match(expReg)) {
                return maskThousand(e)
            }
            else {
                return maskThousand(e.split(e).join(''))
            }
        }
        else {
            return maskThousand(e)
        }
    }

    maskThousand = (monto) => {
        let maskThousandFormat = ""
        let separator = 0
        let separation = ''

        if (monto.length <= 3) {
            return monto
        }

        const formatNumbers = monto.split('.').join('')

        const numbers = formatNumbers.split('')

        for (let i = numbers.length - 1; i >= 0; i--) {
            if (separator === 3) {
                separation = '.'
                separator = 0
            }

            maskThousandFormat = `${numbers[i]}${separation}${maskThousandFormat}`

            separator = separator + 1
            separation = ''
        }

        return maskThousandFormat
    }

</script>