@if (ViewBag.OptionMoveWizards != null)
{
    <div class="row mt-100 ml-auto mr-auto" style="width: 92%;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="new-family-teamwork ta-center color-100x3" style="font-weight: 100;">Estamos cargando la etapa...</h2>
            <h5 class="new-family-teamwork ta-center" style="font-weight: 100;">Espere un momento, no tardamos.</h5>
        </div>
    </div>
    <script async>

        window.location.href = "@ViewBag.HttpRedirectWizards"

    </script>
}
else
{
    <div class="row mt-100 ml-auto mr-auto" style="width: 92%;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="new-family-teamwork ta-center color-100x3" style="font-weight: 100;">Etapa @ViewBag.WizardsActual: Incluir Observaciones y/o Anotaciones</h2>
        </div>
    </div>
    if (ViewBag.HtmlMessageResult != null)
    {
        @: <span class="alert alert-success dspl-block m-auto new-family-teamwork" style="width: 92%; font-weight: 100;"><img src="../../../../Resources/check.svg" width="30" height="30" /> @Html.Raw(ViewBag.HtmlMessageResult)</span>
    }

    <div class="row ml-auto mr-auto" style="width: 92%;">
        @foreach (Teamwork.Model.Finanzas.EstructuraCargo itemHeader in ViewBag.RenderizaHeaderEstructura)
        {
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                @using (Ajax.BeginForm("SiguienteWizards", "Operaciones", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "contentWizards",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loader"
                }, new { @style = "display: block; width: 100%" }))
                {
                    <input type="text" name="codigoCargoMod" value="@itemHeader.CodigoCargoMod" class="dspl-none" />
                    <input type="text" name="wizards" value="@ViewBag.WizardsPrev" class="dspl-none" />
                    <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                    @Html.ButtonAdministracion(
                        "submit",
                        new string[] {
                            "class='dspl-inline-block new-family-teamwork'"
                        },
                        new string[]
                        {
                            "min-width: 50px",
                            "border: none",
                            "text-align: center",
                            "font-weight: 100",
                            "border: 0",
                            "margin: none",
                            "background-color: transparent!important"
                        },
                        new string[]
                        {
                            "<span class='dspl-inline-block'><span style='width: 50px; height: 50px; border-radius: 50%; display: flex; align-items: center; text-align: center;' class='btn btn-teamwork pdt-5 pdr-5 pdb-5 pdl-5'><img src='../../../../Resources/flecha-izquierda.svg' width='30' height='30' style='position: relative; left: 10%;' /></span></span>" +
                            "<span class='new-family-teamwork' style='position: relative; float: right; margin-left: 10px; margin-top: 10px; font-size: 20px; font-wight: 100;'>Anterior</span>"
                        },
                        true
                    )
                }
            </div>
            <div class="col-lg-1"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                <h4 class="new-family-teamwork color-100x3" style="font-weight: 100;">Puede seleccionar multiples opciones para que sean observaciones y/o anotaciones:</h4>
                @foreach (Teamwork.Model.Operaciones.ListObservaciones item in ViewBag.RenderizadoListObservaciones)
                {
                    <div class="mt-20">
                        <span class="dspl-inline-block" style="vertical-align: top;">
                            <label class="switch-md" style="display: inline-block;">
                                <input type="checkbox" id="item__list__@item.CodigoItem" @item.Checked data-target-new="btn__new__@item.CodigoItem" data-target-deleted="btn__deleted__@item.CodigoItem" 
                                       value="@item.Descripcion" onchange="handleChangeObservaciones(this)" />
                                <span class="slider teamwork"></span>
                            </label>
                            <i class="fst-normal new-family-teamwork dspl-inline-block mr-10 mt-5neg" style="font-weight: 100;">@item.Descripcion</i>
                        </span>
                        @using (Ajax.BeginForm("ActualizaObservaciones", "Operaciones", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "contentWizards",
                            InsertionMode = InsertionMode.Replace,
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" value="KM" name="type" />
                            <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                            <input type="text" class="dspl-none" value="@itemHeader.CodigoCargoMod" name="codigoCargoMod" />
                            <textarea name="observaciones" class="dspl-none">@item.Descripcion</textarea>
                            <input type="submit" id="btn__new__@item.CodigoItem" class="dspl-none" />
                        }
                        @using (Ajax.BeginForm("EliminarObservaciones", "Operaciones", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "contentWizards",
                            InsertionMode = InsertionMode.Replace,
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                            <input type="text" class="dspl-none" value="@itemHeader.CodigoCargoMod" name="codigoCargoMod" />
                            <textarea name="observaciones" class="dspl-none">@item.Descripcion</textarea>
                            <input type="submit" id="btn__deleted__@item.CodigoItem" class="dspl-none" />
                        }
                    </div>
                }
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="mt-30">
                    @using (Ajax.BeginForm("ActualizaObservaciones", "Operaciones", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "contentWizards",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loader"
                    }, new { @style = "display: inline-block; width: 100%" }))
                    {
                        <input type="text" class="dspl-none" value="FZ" name="type" />
                        <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                        <input type="text" class="dspl-none" value="@itemHeader.CodigoCargoMod" name="codigoCargoMod" />
                        <textarea name="observaciones" id="refereciaHorarios" style="min-height: 200px; max-height: 500px; text-transform: uppercase; font-weight: 100;"
                                  class="form-control new-family-teamwork"  placeholder="Observaciones adicionales, anotaciones, entre otros.">@itemHeader.Observaciones2</textarea>
                        <button type="submit" class="btn btn-success new-family-teamwork"
                                style="width: 100%; height: 40px; border-radius: 0; text-align: center; color: #fff; float: right; font-weight: 100;">
                            Actualizar Observaciones y/o Anotaciones
                        </button>
                    }
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-50 mb-100 ta-right">
                @using (Ajax.BeginForm("SiguienteWizards", "Operaciones", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "contentWizards",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loader"
                }, new { @style = "display: block; width: 100%" }))
                {
                    <input type="text" name="tipoEvento" value="@itemHeader.Origen" class="dspl-none" />
                    <input type="text" name="codigoCargoMod" value="@itemHeader.CodigoCargoMod" class="dspl-none" />
                    <input type="text" name="wizards" value="@ViewBag.WizardsNext" class="dspl-none" />
                    <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                    @Html.ButtonAdministracion(
                        "submit",
                        new string[] {
                            "class='dspl-inline-block new-family-teamwork'",
                            (itemHeader.NombreCargo != "" && itemHeader.NombreCargoMod.Replace(itemHeader.Cliente + " ", "") != "") ? "" : "disabled='disabled'"
                        },
                        new string[]
                        {
                            "min-width: 50px",
                            "border: none",
                            "text-align: center",
                            "font-weight: 100",
                            "border: 0",
                            "margin: none",
                            "background-color: transparent!important"
                        },
                        new string[]
                        {
                            "<span class='dspl-inline-block'><span style='width: 50px; height: 50px; border-radius: 50%; display: flex; align-items: center; text-align: center;' " +
                            "class='btn " + ((itemHeader.NombreCargo != "" && itemHeader.NombreCargoMod.Replace(itemHeader.Cliente + " ", "") != "") ? "btn-teamwork" : "btn-disabled") +
                            " pdt-5 pdr-5 pdb-5 pdl-5'><img src='../../../../Resources/flecha-correcta.svg' width='30' height='30' style='position: relative; left: 10%;' /></span></span>" +
                            "<span class='new-family-teamwork' style='position: relative; float: left; margin-right: 10px; margin-top: 10px; font-size: 20px; font-wight: 100;'>Siguiente</span>"
                        },
                        true
                    )
                }
            </div>
        }
    </div>
}

<script async>
    
    handleChangeObservaciones = (e) => {
        (e.checked)
            ? document.getElementById(e.dataset.targetNew).click()
            : document.getElementById(e.dataset.targetDeleted).click();
    }

</script>