<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="family-teamwork ta-center">Asignación de Haberes al Complemento de Finiquito</h1>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        @using (Ajax.BeginForm("AgregarHaberComplemento", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentHaberes",
                            LoadingElementId = "loader"
                        }, new { @style = "display: block; text-align: center;" }))
                        {
                            <p class="family-teamwork ta-center">Glosa del Concepto de Haber</p>
                            <input name="concepto" required class="family-teamwork br-1-solid-200x3 bl-1-solid-200x3 bt-1-solid-200x3 bb-1-solid-200x3 input-nofocus dspl-block m-auto ta-center pdt-10 pdb-10" placeholder="Glosa del haber" style="width: 90%;" />

                            <p class="family-teamwork ta-center">Monto del Concepto de Haber</p>
                            <input type="number" required name="monto" class="family-teamwork br-1-solid-200x3 bl-1-solid-200x3 bt-1-solid-200x3 bb-1-solid-200x3 input-nofocus dspl-block m-auto ta-center pdt-10 pdb-10" placeholder="Monto del haber" style="width: 90%;" />

                            <input type="text" class="dspl-none" name="codigoComplemento" value="@ViewBag.CodigoComplemento" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@ViewBag.CodigoFiniquito" />
                            <button type="submit" class="btn btn-success"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Agregar Bono</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">No Considerado</i>
                                </span>
                            </button>
                            <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                               style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                                </span>
                            </a>
                        }
                        @using (Ajax.BeginForm("ContinuarEtapa", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            LoadingElementId = "loader"
                        }, new { @style = "display: block; text-align: center;" }))
                        {
                            <input type="text" class="dspl-none" name="option" value="AgregarDescuentos" />
                            <input type="text" class="dspl-none" name="codigoComplemento" value="@ViewBag.CodigoComplemento" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@ViewBag.CodigoFiniquito" />
                            <button type="submit" class="btn btn-teamwork"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-next" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Continuar a Descuentos</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block;">Complemento Finiquito</i>
                                </span>
                            </button>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6" id="contentHaberes">
                @Html.Partial("Bajas/_ListaHaberesComplemento")
            </div>
        </div>
    </div>
</div>