@switch ((string)ViewBag.OptionConfirmacionEvent)
{
    case "SolicitudTransferencia":
        using (Ajax.BeginForm("SolicitarTransferencia", "Bajas", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contentPayment",
            LoadingElementId = "loader"
        }, new { @style = "display: block;" }))
        {
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                    <h2 class="family-teamwork">¿Quiere solicitar la TEF/Deposito para este finiquito?</h2>
                    <p class="family-teamwork">Este finiquito se enviará a proceso de validación/confirmación mediante método de pago TEF de <b>@ViewBag.LocationTEF</b> con los siguientes valores:</p>
                    <table border="0" class="m-auto family-teamwork">
                        <tbody>
                            <tr>
                                <td>
                                    Monto Total Finiquito<br />
                                    <b style="font-size: 30px;">$ @ViewBag.MontoTotalFiniquito</b>
                                </td>
                                <td style="width: 5%; font-size: 50px;">
                                    +
                                </td>
                                <td>
                                    Gastos Administrativos<br />
                                    <b style="font-size: 30px;">$ @ViewBag.MontoGastoAdministrativo</b>
                                </td>
                                <td style="width: 5%; font-size: 50px;">
                                    =
                                </td>
                                <td>
                                    Monto Total Pago<br />
                                    <b style="font-size: 30px;">$ @ViewBag.MontoTotalPago</b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="family-teamwork">Observación asociado a la solicitud de TEF/Deposito:</p>
                    <p class="family-teamwork">
                        @ViewBag.ObservacionesSolicitud
                    </p>
                    <input type="text" name="numeroCta" value="@ViewBag.NumeroCuenta" class="dspl-none" />
                    <input type="text" name="banco" value="@ViewBag.Banco" class="dspl-none" />
                    <input type="text" name="codigoComplemento" value="@ViewBag.CodigoComplemento" class="dspl-none" />
                    <input type="text" name="codigoFiniquito" value="@ViewBag.ReferenciaCodigoFiniquito" class="dspl-none" />
                    <input type="text" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" class="dspl-none" />
                    <input type="text" name="observacion" value="@ViewBag.ObservacionesSolicitud" class="dspl-none" />
                    <input type="text" name="gastosAdm" value="@ViewBag.MontoGastoAdm" class="dspl-none" />
                    <input type="text" name="location" value="@ViewBag.LocationTEF" class="dspl-none" />
                    <input type="text" name="origen" value="@ViewBag.OrigenTEF" class="dspl-none" />
                    <input type="text" class="dspl-none" name="onlyFiniquito" value="@ViewBag.OnlyFiniquito" />
                    <button type="submit" class="btn btn-success"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Solicitar la</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">Transferencia/Deposito</i>
                        </span>
                    </button>
                    <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                        </span>
                    </a>
                </div>
            </div>
        }
        break;
    case "RevertirEnviarProcesoPago":
        using (Ajax.BeginForm("RevertirEnviarProcesoPago", "Bajas", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contentPayment",
            OnSuccess = "ModalPaymentShow",
            LoadingElementId = "loader"
        }, new { @style = "display: block;" }))
        {
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                    <h2 class="family-teamwork">¿Quiere revertir la solicitud que se envio a proceso de pago?</h2>
                    <p class="family-teamwork">
                        El siguiente finiquito se revertira su estado de envio de verificación/confirmación de proceso de pago, el cual volvera a estado calculado, debe indicar
                        la observación asociada a la reversa del finiquito:
                    </p>
                    <textarea class="form-control family-teamwork m-auto" style="width: 80%;" required name="observacion" placeholder="Indique la observación de asociado a revertir el finiquito"></textarea>
                    <input type="text" class="dspl-none" name="codigoFiniquito" value="@ViewBag.CodigoFiniquito" />
                    <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                    <input type="text" class="dspl-none" name="onlyFiniquito" value="@ViewBag.OnlyFiniquito" />
                    <button type="submit" class="btn btn-success"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Revertir Envio de</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Verificacion/Confirmacion Pago</i>
                        </span>
                    </button>
                    <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                        </span>
                    </a>
                </div>
            </div>
        }

        break;
    case "VerificacionPagoFiniquito":
        using (Ajax.BeginForm("VerificacionPagoFiniquito", "Bajas", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contentPayment",
            LoadingElementId = "loader"
        }, new { @style = "display: block;" }))
        {
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                    <h2 class="family-teamwork">¿Quiere enviar a proceso de confirmación el finiquito?</h2>
                    <p class="family-teamwork">
                        El siguiente finiquito será enviado a confirmación de pago por la parte correspondiente, será declarado como finiquito verificado y en condiciones
                        de continuar hacia el proceso de pago.
                    </p>
                    <input type="text" name="codigoPago" value="@ViewBag.CodigoPago" class="dspl-none" />
                    <input type="text" name="tipoPago" value="@ViewBag.TipoPago" class="dspl-none" />
                    <input type="text" name="montoActual" value="@ViewBag.TotalFiniquito" class="dspl-none" />
                    <input type="text" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" class="dspl-none" />
                    <input type="text" name="CodigoFiniquito" value="@ViewBag.ReferenciaCodigoFiniquito" class="dspl-none" />
                    <input type="text" name="onlyFiniquito" value="@ViewBag.OnlyFiniquito" class="dspl-none" />
                    <button type="submit" class="btn btn-success"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Confirmar finiquito y</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">Enviar a proceso de confirmación</i>
                        </span>
                    </button>
                    <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                        </span>
                    </a>
                </div>
            </div>
        }
        break;
    case "AnularFiniquito":
        using (Ajax.BeginForm("AnularFiniquito", "Bajas", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contentPayment",
            OnSuccess = "ModalPaymentShow",
            LoadingElementId = "loader"
        }, new { @style = "display: block;" }))
        {
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                    <h2 class="family-teamwork">¿Quiere Anular Finiquito?</h2>
                    <p class="family-teamwork">
                        El siguiente finiquito será anulado, lo que indica que todos los documentos asociados serán anulados (solo es un borrado de sistema, por ende puede
                        ser recuperado en el futuro si es que fuera necesario, para ese proceso debe comunicarse con area de sistemas para la recuperación de la información), debe indicar
                        la observación asociada a la anulación del finiquito:
                    </p>
                    <textarea class="form-control family-teamwork m-auto" style="width: 80%;" required name="observacion" placeholder="Indique la observación de asociado a revertir el finiquito"></textarea>
                    <input type="text" class="dspl-none" name="codigoFiniquito" value="@ViewBag.ReferenciaCodigoFiniquito" />
                    <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                    <input type="text" class="dspl-none" name="onlyFiniquito" value="@ViewBag.OnlyFiniquito" />
                    <button type="submit" class="btn btn-success"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Anular Folio</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                        </span>
                    </button>
                    <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                        </span>
                    </a>
                </div>
            </div>
        }
        break;
    case "RevertirConfirmacionPago":
        using (Ajax.BeginForm("RevertirConfirmacionPago", "Bajas", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contentPayment",
            OnSuccess = "ModalPaymentShow",
            LoadingElementId = "loader"
        }, new { @style = "display: block;" }))
        {
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                    <h2 class="family-teamwork">¿Quiere Revertir la Confirmación de Finiquito?</h2>
                    <p class="family-teamwork">
                        El siguiente finiquito será revertida la confirmación para su respectivo proceso de pago, el cual volvera a estado calculado y puede volver a iniciar el proceso, debe indicar
                        la observación asociada al revertido de confirmación del finiquito:
                    </p>
                    <textarea class="form-control family-teamwork m-auto" style="width: 80%;" required name="observacion" placeholder="Indique la observación de asociado a revertir la confirmación el finiquito"></textarea>
                    <input type="text" class="dspl-none" name="codigoFiniquito" value="@ViewBag.ReferenciaCodigoFiniquito" />
                    <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                    <input type="text" class="dspl-none" name="codigoPago" value="@ViewBag.CodigoPago" />
                    <input type="text" class="dspl-none" name="tipoPago" value="@ViewBag.TipoPago" />
                    <input type="text" class="dspl-none" name="onlyFiniquito" value="@ViewBag.OnlyFiniquito" />
                    <button type="submit" class="btn btn-success"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Revertir Confirmación</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">de Finiquito</i>
                        </span>
                    </button>
                    <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                        </span>
                    </a>
                </div>
            </div>
        }
        break;
    case "PagarFiniquito":
        using (Ajax.BeginForm("PagarFiniquito", "Bajas", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contentPayment",
            LoadingElementId = "loader"
        }, new { @style = "display: block;" }))
        {
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                    <h2 class="family-teamwork">¿Quiere pagar el finiquito?</h2>
                    <p class="family-teamwork">
                        El siguiente finiquito será pagado mediante el sistema, por ende si el finiquito fue notariado previamente, será terminado de manera automatica, de lo
                        contrario quedará pendiente de notariar el finiquito.
                    </p>
                    <input type="text" name="codigoPago" value="@ViewBag.CodigoPago" class="dspl-none" />
                    <input type="text" name="codigoFiniquito" value="@ViewBag.ReferenciaCodigoFiniquito" class="dspl-none" />
                    <input type="text" name="tipoPago" value="@ViewBag.TipoPago" class="dspl-none" />
                    <input type="text" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" class="dspl-none" />
                    <input type="text" name="onlyFiniquito" value="@ViewBag.OnlyFiniquito" class="dspl-none" />
                    <button type="submit" class="btn btn-success"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Confirmar Pago</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                        </span>
                    </button>
                    <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                        </span>
                    </a>
                </div>
            </div>
        }
        break;
    case "NotariarFiniquito":
        using (Ajax.BeginForm("NotariarFiniquito", "Bajas", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contentPayment",
            LoadingElementId = "loader"
        }, new { @style = "display: block;" }))
        {
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                    <h2 class="family-teamwork">¿Quiere notariar el finiquito?</h2>
                    <p class="family-teamwork">
                        El siguiente finiquito será notariado mediante el sistema, el cual será terminado.
                    </p>
                    <input type="text" name="codigoPago" value="@ViewBag.CodigoPago" class="dspl-none" />
                    <input type="text" name="codigoFiniquito" value="@ViewBag.ReferenciaCodigoFiniquito" class="dspl-none" />
                    <input type="text" name="tipoPago" value="@ViewBag.TipoPago" class="dspl-none" />
                    <input type="text" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" class="dspl-none" />
                    <input type="text" name="onlyFiniquito" value="@ViewBag.OnlyFiniquito" class="dspl-none" />
                    <button type="submit" class="btn btn-success"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Confirmar Notariar</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                        </span>
                    </button>
                    <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                        </span>
                    </a>
                </div>
            </div>
        }
        break;
    case "LiquidacionSueldos":
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-right">
                <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                   style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cerrar Liquidaciones</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">De Sueldo</i>
                    </span>
                </a>
            </div>
            @foreach (Teamwork.Model.Bajas.LiquidacionSueldo item in ViewBag.RenderizadoLiquidacionesSueldo)
            {
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 class="family-teamwork"><i class="glyphicon-tw-5 glyphicon-tw-liqsueldo"></i> Liquidaciones de Sueldo @item.Years</h1>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        @foreach (Teamwork.Model.Bajas.LiquidacionSueldoFile itemLSF in item.LiquidacionesSueldo)
                        {
                            <div class="col-3 col-sm-3 col-md-3 col-lg-2">
                                <div class="btn-danger m-auto cursor-pointer mb-20" style="width: 90%; height: 200px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);">
                                    <a href="@itemLSF.ViewLiquidacionSueldo" target="_blank" style="width: 100%; height: 200px;" class="dspl-block">
                                        <div class="ta-right">
                                            <i class="glyphicon-tw-6 dspl-inlblc mb-15neg"></i>
                                        </div>
                                        <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 20px;">@itemLSF.FechaMes</h1>
                                        <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 17px;">Liquidacion de Sueldo</h2>
                                        <div class="glyphicon-tw-pdf ml-auto mr-auto mt-20" style="width: 50px; height: 50px;"></div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            }
        </div>
        break;
    case "CrearComplemento":
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h2 class="family-teamwork">¿Quiere iniciar el proceso de creación de complemento de finiquito?</h2>
                <p class="family-teamwork">
                    Se generará la instancia de creación de documento complemento de finiquito, indicando haberes y descuentos, para la posterior creación del documento.
                </p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                @using (Ajax.BeginForm("CrearComplemento", "Bajas", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "contentPayment",
                    OnSuccess = "ModalPaymentShow",
                    LoadingElementId = "loader"
                }))
                {
                    <input type="text" name="codigoFiniquito" value="@ViewBag.ReferenciaCodigoFiniquito" class="dspl-none" />
                    <button type="submit" class="btn btn-success"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Iniciar Proceso</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">de Creación</i>
                        </span>
                    </button>
                }
                <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                   style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                    </span>
                </a>
            </div>
        </div>
        break;
    case "AnularComplemento":
        using (Ajax.BeginForm("AnularComplemento", "Bajas", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contentPayment",
            OnSuccess = "ModalPaymentShow",
            LoadingElementId = "loader"
        }, new { @style = "display: block;" }))
        {
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                    <h2 class="family-teamwork">¿Quiere Anular Complemento?</h2>
                    <p class="family-teamwork">
                        El siguiente complemento será anulado, lo que indica que el documento asociado será anulado (solo es un borrado de sistema, por ende puede
                        ser recuperado en el futuro si es que fuera necesario, para ese proceso debe comunicarse con área de sistemas para la recuperación de la información), debe indicar
                        la observación asociada a la anulación del complemento:
                    </p>
                    <textarea class="form-control family-teamwork m-auto" style="width: 80%;" required name="observacion" placeholder="Indique la observación de anulación de complemento"></textarea>
                    <input type="text" class="dspl-none" name="codigoComplemento" value="@ViewBag.CodigoComplemento" />
                    @*<input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />*@
                    <input type="text" class="dspl-none" name="onlyFiniquito" value="@ViewBag.OnlyFiniquito" />
                    <button type="submit" class="btn btn-success"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Anular Folio</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Complemento</i>
                        </span>
                    </button>
                    <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                        </span>
                    </a>
                </div>
            </div>
        }
        break;
    case "AnularPago":
        using (Ajax.BeginForm("AnularPago", "Bajas", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contentPayment",
            OnSuccess = "ModalPaymentShow",
            LoadingElementId = "loader"
        }))
        {

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                    <h2 class="family-teamwork">¿Quiere Anular Pago?</h2>
                    <p class="family-teamwork">
                        El siguiente pago de finiquito será anulado, lo que indica que el pago asociado será anulado (solo es un borrado de sistema, por ende puede
                        ser recuperado en el futuro si es que fuera necesario, para ese proceso debe comunicarse con área de sistemas para la recuperación de la información), debe indicar
                        la observación asociada a la anulación del pago de finiquito:
                    </p>
                    <textarea class="form-control family-teamwork m-auto" style="width: 80%;" required name="observacion" placeholder="Indique la observación de anulación de pago"></textarea>
                    <input type="text" class="dspl-none" name="option" value="AnularPago" />
                    <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                    <input type="text" class="dspl-none" name="codigoFiniquito" value="@ViewBag.CodigoFiniquito" />
                    <input type="text" class="dspl-none" name="onlyFiniquito" value="@ViewBag.OnlyFiniquito" />
                    <button type="submit" class="btn btn-anulado"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Anular</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Pago</i>
                        </span>
                    </button>
                    <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                        </span>
                    </a>
                </div>
            </div>


        }
        break;
}