@if ((string)ViewBag.HTMLLoaderError != "")
{
    @Html.Partial("_CompletoGeneric")
}

@switch ((string)ViewBag.HasSectionIndv)
{
    case "All":
        if (((List<AplicacionOperaciones.Models.Finiquitos.Finiquitos>)ViewBag.RenderizadoFiniquitos).Count > 0)
        {
            <table style="width: 100%;">
                <tbody>
                    @foreach (AplicacionOperaciones.Models.Finiquitos.Finiquitos item in (List<AplicacionOperaciones.Models.Finiquitos.Finiquitos>)ViewBag.RenderizadoFiniquitos)
                    {
                        {
                            ViewBag.PrevisualizarCaratulaFiniquito = item.ViewCaratula;
                            ViewBag.PrevisualizarDocumentoFiniquito = item.ViewDocumento;
                        }
                        <tr class="@item.Border br-1-solid-200x3 bb-1-solid-200x3 bt-1-solid-200x3 mb-5">
                            <td style="width: 120px; border-left: none; border-right: none;" class="ta-center">
                                <p class="@item.GlyphiconColor family-teamwork color-fx3 fw-bold m-auto" style="font-size: 20px; width: 80px; height: 80px; display: inline-block; border-radius: 50%; vertical-align: middle; display: flex; align-items: center; text-align: center;">
                                    <span style="width: 100%; text-align: center; display: block;">@item.Folio</span>
                                </p>
                            </td>
                            <td style="border-left: none; border-right: none;">
                                <a href="@item.DetalleFiniquito" style="width: 100%; display: block;">
                                    <h1 class="family-teamwork color-100x3 fw-bold" style="font-size: 18px;">@Html.Raw(item.NombreSolicitud)</h1>
                                    <p class="family-teamwork color-100x3 mt-5neg">Creado @item.Creado</p>
                                    <p class="family-teamwork color-100x3 mt-15neg">Creado por <i class="fw-bold fst-normal">@item.CreadoPor</i></p>
                                    <p class="family-teamwork color-100x3 mt-15neg">CargoMod: @item.CargoMod &bull; Cargo: @item.Cargo</p>
                                    <p class="family-teamwork color-100x3 mt-15neg">Causal <i class="fw-bold fst-normal">@item.Causal</i></p>
                                    <p class="family-teamwork color-100x3 mt-15neg">Monto Total Finiquito <i class="fw-bold fst-normal">$ @item.TotalFiniquito</i></p>
                                    <p class="family-teamwork color-100x3 mt-15neg">Comentarios de Seguimiento: <i class="fw-bold fst-normal">@Html.Raw(item.Comentarios)</i></p>
                                </a>
                            </td>
                            <td style="width: 40%; border-left: none; border-right: none;">
                                @if (item.OptLiquidacionSueldo == "S")
                                {
                                    using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "contentPayment",
                                        OnSuccess = "ModalPaymentShow",
                                        LoadingElementId = "loader"
                                    }))
                                    {
                                        <input type="text" class="dspl-none" name="option" value="CrearComplemento" />
                                        <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                                        <button type="submit" class="btn btn-teamwork"
                                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                            <i class="glyphicon-tw-7 glyphicon-tw-add" style="display: inline-block;"></i>
                                            <span style="display: inline-block; margin-top: -7px;">
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Crear Documento</i>
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">y Complemento</i>
                                            </span>
                                        </button>
                                    }
                                }
                                @if ((string)item.OptAnular == "S")
                                {
                                    using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "contentPayment",
                                        OnSuccess = "ModalPaymentShow",
                                        LoadingElementId = "loader"
                                    }))
                                    {
                                        <input type="text" class="dspl-none" name="option" value="AnularFiniquito" />
                                        <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                                        <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                                        <button type="submit" class="btn btn-anulado"
                                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                            <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                            <span style="display: inline-block; margin-top: -7px;">
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Anular</i>
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                                            </span>
                                        </button>
                                    }

                                }

                                @if ((string)item.OptViewCaratula == "S")
                                {
                                    <a href="@item.ViewCaratula" class="btn btn-danger" target="_blank"
                                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                        <i class="glyphicon-tw-7 glyphicon-tw-pdf" style="display: inline-block;"></i>
                                        <span style="display: inline-block; margin-top: -7px;">
                                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Visualizar Caratula</i>
                                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                                        </span>
                                    </a>
                                }

                                @if ((string)item.OptViewDocumento == "S")
                                {
                                    <a href="@item.ViewDocumento" class="btn btn-danger" target="_blank"
                                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                        <i class="glyphicon-tw-7 glyphicon-tw-pdf" style="display: inline-block;"></i>
                                        <span style="display: inline-block; margin-top: -7px;">
                                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Visualizar Doc.</i>
                                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                                        </span>
                                    </a>
                                }

                                @if ((string)item.OptDownloadCaratula == "S")
                                {
                                    <a href="@item.DownloadCaratula" class="btn btn-danger" target="_blank"
                                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                        <i class="glyphicon-tw-7 glyphicon-tw-descargararchivo" style="display: inline-block;"></i>
                                        <span style="display: inline-block; margin-top: -7px;">
                                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Descargar Caratula</i>
                                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                                        </span>
                                    </a>
                                }

                                @if ((string)item.OptDownloadDocumento == "S")
                                {
                                    <a href="@item.DownloadDocumento" class="btn btn-danger" target="_blank"
                                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                        <i class="glyphicon-tw-7 glyphicon-tw-descargararchivo" style="display: inline-block;"></i>
                                        <span style="display: inline-block; margin-top: -7px;">
                                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Descargar Doc.</i>
                                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                                        </span>
                                    </a>
                                }

                                @if ((string)item.OptViewCarta == "S")
                                {
                                    <a href="@item.ViewCarta" class="btn btn-danger" target="_blank"
                                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                        <i class="glyphicon-tw-7 glyphicon-tw-pdf" style="display: inline-block;"></i>
                                        <span style="display: inline-block; margin-top: -7px;">
                                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Visualizar Doc.</i>
                                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Carta Baja</i>
                                        </span>
                                    </a>
                                }

                                @if ((string)item.ConfirmarPago == "S")
                                {
                                    using (Ajax.BeginForm("ConsultarTipoConfirmacion", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "contentPayment",
                                        OnSuccess = "ModalPaymentShow",
                                        LoadingElementId = "loader"
                                    }))
                                    {
                                        <input type="text" class="dspl-none" name="enlaceDownloadCaratula" value="@item.DownloadCaratula" />
                                        <input type="text" class="dspl-none" name="enlaceViewCaratula" value="@item.ViewCaratula" />
                                        <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                                        <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                                        <button type="submit" class="btn btn-teamwork"
                                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                            <i class="glyphicon-tw-7 glyphicon-tw-asignado" style="display: inline-block;"></i>
                                            <span style="display: inline-block; margin-top: -7px;">
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Confirmar el</i>
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Pago de Finiquito</i>
                                            </span>
                                        </button>
                                    }
                                }

                                @if ((string)item.OptAnularPago == "S")
                                {
                                    using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "contentPayment",
                                        OnSuccess = "ModalPaymentShow",
                                        LoadingElementId = "loader"
                                    }))
                                    {
                                        <input type="text" class="dspl-none" name="option" value="AnularPago" />
                                        <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                                        <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                                        <input type="text" class="dspl-none" name="onlyFiniquito" value="@item.OnlyFiniquito" />
                                        <button type="submit" class="btn btn-anulado"
                                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                            <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                            <span style="display: inline-block; margin-top: -7px;">
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Anular</i>
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Pago</i>
                                            </span>
                                        </button>
                                    }
                                }

                                @if ((string)item.OptRevertirConfirmacion == "S")
                                {
                                    using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "contentPayment",
                                        OnSuccess = "ModalPaymentShow",
                                        LoadingElementId = "loader"
                                    }))
                                    {
                                        <input type="text" class="dspl-none" name="option" value="RevertirConfirmacionPago" />
                                        <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                                        <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                                        <input type="text" class="dspl-none" name="codigoPago" value="@item.CodigoPago" />
                                        <input type="text" class="dspl-none" name="tipoPago" value="@item.TipoPago" />
                                        <button type="submit" class="btn btn-anulado"
                                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                            <i class="glyphicon-tw-7 glyphicon-tw-reasignar" style="display: inline-block;"></i>
                                            <span style="display: inline-block; margin-top: -7px;">
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Revertir la</i>
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Confirmación</i>
                                            </span>
                                        </button>
                                    }
                                }

                                @if ((string)item.OptPagar == "S")
                                {
                                    using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "contentPayment",
                                        OnSuccess = "ModalPaymentShow",
                                        LoadingElementId = "loader"
                                    }))
                                    {
                                        <input type="text" class="dspl-none" name="option" value="PagarFiniquito" />
                                        <input type="text" class="dspl-none" name="codigoPago" value="@item.CodigoPago" />
                                        <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                                        <input type="text" class="dspl-none" name="tipoPago" value="@item.TipoPago" />
                                        <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                                        <input type="text" class="dspl-none" name="onlyFiniquito" value="@item.OnlyFiniquito" />
                                        <button type="submit" class="btn btn-success"
                                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                            <i class="glyphicon-tw-7 glyphicon-tw-dinero" style="display: inline-block;"></i>
                                            <span style="display: inline-block; margin-top: -7px;">
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Pagar</i>
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                                            </span>
                                        </button>
                                    }
                                }

                                @if ((string)item.OptNotariado == "S")
                                {
                                    using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "contentPayment",
                                        OnSuccess = "ModalPaymentShow",
                                        LoadingElementId = "loader"
                                    }))
                                    {
                                        <input type="text" class="dspl-none" name="option" value="NotariarFiniquito" />
                                        <input type="text" class="dspl-none" name="codigoPago" value="@item.CodigoPago" />
                                        <input type="text" class="dspl-none" name="onlyFiniquito" value="@item.OnlyFiniquito" />
                                        <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                                        <button type="submit" class="btn btn-success"
                                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                            <i class="glyphicon-tw-7 glyphicon-tw-dinero" style="display: inline-block;"></i>
                                            <span style="display: inline-block; margin-top: -7px;">
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Notariar</i>
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                                            </span>
                                        </button>
                                    }
                                }

                                @if ((string)item.OptSugTransf == "S")
                                {
                                    using (Ajax.BeginForm("DatosSolicitudTransferencia", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "contentPayment",
                                        OnSuccess = "ModalPaymentShow",
                                        LoadingElementId = "loader"
                                    }))
                                    {
                                        <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                                        <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                                        <input type="text" class="dspl-none" name="enlaceViewCaratula" value="@item.ViewCaratula" />
                                        <input type="text" class="dspl-none" name="onlyFiniquito" value="@item.OnlyFiniquito" />
                                        <button type="submit" class="btn btn-warning"
                                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #000;">
                                            <i class="glyphicon-tw-7 glyphicon-tw-sugerirtransferencia" style="display: inline-block;"></i>
                                            <span style="display: inline-block; margin-top: -7px;">
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Solicitud de Pago por</i>
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Transferencia/Deposito</i>
                                            </span>
                                        </button>
                                    }

                                }

                                @if ((string)item.OptRevSugTef == "S")
                                {
                                    using (Ajax.BeginForm("RevertirSolicitudTransferencia", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "contentPayment",
                                        OnSuccess = "ModalPaymentShow",
                                        LoadingElementId = "loader"
                                    }))
                                    {
                                        <input type="text" class="dspl-none" name="pago" value="@item.TipoPago" />
                                        <input type="text" class="dspl-none" name="codigoPago" value="@item.CodigoPago" />
                                        <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                                        <button type="submit" class="btn btn-anulado"
                                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                            <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                            <span style="display: inline-block; margin-top: -7px;">
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Revertir Solicitud</i>
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Transferencia/Deposito</i>
                                            </span>
                                        </button>
                                    }

                                }

                                @if ((string)item.OptVerificarPago == "S")
                                {
                                    using (Ajax.BeginForm("TipoVerificacionConfirmacionFiniquito", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "contentPayment",
                                        OnSuccess = "ModalPaymentShow",
                                        LoadingElementId = "loader"
                                    }))
                                    {
                                        <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                                        <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                                        <input type="text" class="dspl-none" name="enlaceViewCaratula" value="@item.ViewCaratula" />
                                        <input type="text" class="dspl-none" name="onlyFiniquito" value="@item.OnlyFiniquito" />
                                        <button type="submit" class="btn btn-warning"
                                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #000;">
                                            <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                                            <span style="display: inline-block; margin-top: -7px;">
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Verificar Calculo</i>
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">de Finiquito</i>
                                            </span>
                                        </button>
                                    }

                                }

                                @if ((string)item.OptRevVerificarPago == "S")
                                {
                                    using (Ajax.BeginForm("RevertirVerificacionPago", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "contentPayment",
                                        OnSuccess = "ModalPaymentShow",
                                        LoadingElementId = "loader"
                                    }))
                                    {
                                        <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                                        <input type="text" class="dspl-none" name="codigoPago" value="@item.CodigoPago" />
                                        <input type="text" class="dspl-none" name="tipoPago" value="@item.TipoPago" />
                                        <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                                        <button type="submit" class="btn btn-anulado"
                                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                            <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                            <span style="display: inline-block; margin-top: -7px;">
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Revertir</i>
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Verificación</i>
                                            </span>
                                        </button>
                                    }

                                }

                                @if ((string)item.OptEnviarProcesoPago == "S")
                                {
                                    using (Ajax.BeginForm("ConfirmacionPagoFiniquito", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "contentPayment",
                                        OnSuccess = "ModalPaymentShow",
                                        LoadingElementId = "loader"
                                    }))
                                    {
                                        <input type="text" class="dspl-none" name="codigoPago" value="SOLCHQP" />
                                        <input type="text" class="dspl-none" name="tipoPago" value="CHQ" />
                                        <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                                        <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                                        <input type="text" class="dspl-none" name="onlyFiniquito" value="@item.OnlyFiniquito" />
                                        <button type="submit" class="btn btn-teamwork"
                                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                            <i class="glyphicon-tw-7 glyphicon-tw-asignado" style="display: inline-block;"></i>
                                            <span style="display: inline-block; margin-top: -7px;">
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Solicitud de Pago</i>
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Por Cheque</i>
                                            </span>
                                        </button>
                                    }

                                }

                                @if ((string)item.OptRevEnvioProcesoPago == "S")
                                {
                                    using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "contentPayment",
                                        OnSuccess = "ModalPaymentShow",
                                        LoadingElementId = "loader"
                                    }))
                                    {
                                        <input type="text" class="dspl-none" name="option" value="RevertirEnviarProcesoPago" />
                                        <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                                        <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                                        <input type="text" class="dspl-none" name="onlyFiniquito" value="@item.OnlyFiniquito" />
                                        <button type="submit" class="btn btn-anulado"
                                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                            <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                            <span style="display: inline-block; margin-top: -7px;">
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Revertir Envio Para</i>
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Verificacion/Confirmacion Pago</i>
                                            </span>
                                        </button>
                                    }

                                }

                                @if (item.OptLiquidacionSueldo == "S")
                                {
                                    using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "contentPayment",
                                        OnSuccess = "ModalPaymentShow",
                                        LoadingElementId = "loader"
                                    }))
                                    {
                                        <input type="text" class="dspl-none" name="secuencia" value="FNQ" />
                                        <input type="text" class="dspl-none" name="option" value="LiquidacionSueldos" />
                                        <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                                        <button type="submit" class="btn btn-danger"
                                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                            <i class="glyphicon-tw-7 glyphicon-tw-pdf" style="display: inline-block;"></i>
                                            <span style="display: inline-block; margin-top: -7px;">
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Liquidaciones</i>
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">De Sueldo</i>
                                            </span>
                                        </button>
                                    }
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="mt-40 mb-100 ta-center">
                @Html.Partial("Teamwork/_PaginationsFiniquitos")
            </div>
        }
        else
        {
            <img src="~/Resources/sinresultados.png" style="width: 100px;" class="dspl-block m-auto" />
            <h1 class="family-teamwork ta-center color-70x3 mt-10ne">Ups, Lo sentimos! No se ha encontrado lo que esta buscando!</h1>
            <h1 class="family-teamwork ta-center color-70x3 mt-10neg" style="font-size: 50px;">Sistema de Finiquitos</h1>
        }

        break;
    case "Finiquito":
        if (((List<AplicacionOperaciones.Models.Finiquitos.Finiquitos>)ViewBag.RenderizadoFiniquitos).Count > 0)
        {
            foreach (AplicacionOperaciones.Models.Finiquitos.Finiquitos item in (List<AplicacionOperaciones.Models.Finiquitos.Finiquitos>)ViewBag.RenderizadoFiniquitos)
            {
                <h3 class="@item.GlyphiconColor pdt-5 pdr-10 pdb-5 pdl-10 family-teamwork color-fx3 dspl-inline-block" style="vertical-align: top;">@item.Folio</h3>
                <h3 class="@item.GlyphiconColor pdt-7 pdr-10 pdb-8 pdl-10 family-teamwork color-fx3 dspl-inline-block" style="font-size: 20px; vertical-align: top;">
                    <i class="@item.Glyphicon" style="width: 25px; height: 25px; margin-bottom: -5px; display: inline-block;"></i> @item.Estado
                </h3>
                <h1 class="family-teamwork color-100x3"><b>@Html.Raw(item.NombreSolicitud)</b></h1>
                <p class="@item.GlyphiconColor pdt-5 pdr-10 pdb-5 pdl-10 family-teamwork color-fx3 dspl-inline-block">Creado Por <b>@item.CreadoPor</b></p>
                <p class="@item.GlyphiconColor pdt-5 pdr-10 pdb-5 pdl-10 family-teamwork color-fx3 dspl-inline-block">Creado <b>@item.Creado</b></p>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <p class="family-teamwork color-100x3" style="font-size: 18px;">CargoMod: @item.CargoMod &bull; Cargo: @item.Cargo</p>
                        <p class="family-teamwork color-100x3" style="font-size: 18px;">Causal de Desvinculación <i class="fw-bold fst-normal">@item.Causal</i></p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 ta-center">
                        <p class="family-teamwork ta-center color-100x3" style="font-size: 18px;">Monto Total Finiquito</p>
                        <p class="family-teamwork ta-center mt-20neg color-100x3" style="font-size: 40px;"><b>$ @item.TotalFiniquito</b></p>
                    </div>
                </div>
                <p class="family-teamwork @item.Border pdl-5 pdt-5 pdb-5 color-100x3" style="font-size: 18px;">Comentarios: @item.Comentarios</p>
                <div>
                    @if ((string)item.OptAnular == "S")
                    {
                        using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            OnSuccess = "ModalPaymentShow",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="option" value="AnularFiniquito" />
                            <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                            <input type="text" class="dspl-none" name="onlyFiniquito" value="@item.OnlyFiniquito" />
                            <button type="submit" class="btn btn-anulado"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Anular</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                                </span>
                            </button>
                        }

                    }

                    @if ((string)item.OptViewCaratula == "S")
                    {
                        <a href="@item.ViewCaratula" class="btn btn-danger" target="_blank"
                           style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-pdf" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Visualizar Caratula</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                            </span>
                        </a>
                    }

                    @if ((string)item.OptViewDocumento == "S")
                    {
                        <a href="@item.ViewDocumento" class="btn btn-danger" target="_blank"
                           style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-pdf" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Visualizar Doc.</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                            </span>
                        </a>
                    }

                    @if ((string)item.OptDownloadCaratula == "S")
                    {
                        <a href="@item.DownloadCaratula" class="btn btn-danger" target="_blank"
                           style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-descargararchivo" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Descargar Caratula</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                            </span>
                        </a>
                    }

                    @if ((string)item.OptDownloadDocumento == "S")
                    {
                        <a href="@item.DownloadDocumento" class="btn btn-danger" target="_blank"
                           style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-descargararchivo" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Descargar Doc.</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                            </span>
                        </a>
                    }

                    @if ((string)item.OptViewCarta == "S")
                    {
                        <a href="@item.ViewCarta" class="btn btn-danger" target="_blank"
                           style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-pdf" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Visualizar Doc.</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Carta Baja</i>
                            </span>
                        </a>
                    }

                    @if ((string)item.ConfirmarPago == "S")
                    {
                        using (Ajax.BeginForm("ConsultarTipoConfirmacion", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            OnSuccess = "ModalPaymentShow",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="enlaceDownloadCaratula" value="@item.DownloadCaratula" />
                            <input type="text" class="dspl-none" name="enlaceViewCaratula" value="@item.ViewCaratula" />
                            <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                            <button type="submit" class="btn btn-teamwork"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-asignado" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Confirmar el</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Pago de Finiquito</i>
                                </span>
                            </button>
                        }
                    }

                    @if ((string)item.OptAnularPago == "S")
                    {
                        using (Ajax.BeginForm("AnularPago", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            OnSuccess = "ModalPaymentShow",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                            <button type="submit" class="btn btn-anulado"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Anular</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Pago</i>
                                </span>
                            </button>
                        }
                    }

                    @if ((string)item.OptRevertirConfirmacion == "S")
                    {
                        using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            OnSuccess = "ModalPaymentShow",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="option" value="RevertirConfirmacionPago" />
                            <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                            <input type="text" class="dspl-none" name="codigoPago" value="@item.CodigoPago" />
                            <input type="text" class="dspl-none" name="tipoPago" value="@item.TipoPago" />
                            <button type="submit" class="btn btn-anulado"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-reasignar" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Revertir la</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Confirmación</i>
                                </span>
                            </button>
                        }
                    }

                    @if ((string)item.OptPagar == "S")
                    {
                        using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            OnSuccess = "ModalPaymentShow",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="option" value="PagarFiniquito" />
                            <input type="text" class="dspl-none" name="codigoPago" value="@item.CodigoPago" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                            <input type="text" class="dspl-none" name="tipoPago" value="@item.TipoPago" />
                            <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                            <input type="text" class="dspl-none" name="onlyFiniquito" value="@item.OnlyFiniquito" />
                            <button type="submit" class="btn btn-success"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-dinero" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Pagar</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                                </span>
                            </button>
                        }
                    }

                    @if ((string)item.OptNotariado == "S")
                    {
                        using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            OnSuccess = "ModalPaymentShow",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="option" value="NotariarFiniquito" />
                            <input type="text" class="dspl-none" name="codigoPago" value="@item.CodigoPago" />
                            <input type="text" class="dspl-none" name="onlyFiniquito" value="@item.OnlyFiniquito" />
                            <button type="submit" class="btn btn-success"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-dinero" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Notariar</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Finiquito</i>
                                </span>
                            </button>
                        }
                    }

                    @if ((string)item.OptSugTransf == "S")
                    {
                        using (Ajax.BeginForm("DatosSolicitudTransferencia", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            OnSuccess = "ModalPaymentShow",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                            <input type="text" class="dspl-none" name="enlaceViewCaratula" value="@item.ViewCaratula" />
                            <input type="text" class="dspl-none" name="onlyFiniquito" value="@item.OnlyFiniquito" />
                            <button type="submit" class="btn btn-warning"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #000;">
                                <i class="glyphicon-tw-7 glyphicon-tw-sugerirtransferencia" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Solicitud de Pago por</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Transferencia/Deposito</i>
                                </span>
                            </button>
                        }

                    }

                    @if ((string)item.OptRevSugTef == "S")
                    {
                        using (Ajax.BeginForm("RevertirSolicitudTransferencia", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            OnSuccess = "ModalPaymentShow",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="pago" value="@item.TipoPago" />
                            <input type="text" class="dspl-none" name="codigoPago" value="@item.CodigoPago" />
                            <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                            <button type="submit" class="btn btn-anulado"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Revertir Solicitud</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Transferencia/Deposito</i>
                                </span>
                            </button>
                        }

                    }

                    @if ((string)item.OptVerificarPago == "S")
                    {
                        using (Ajax.BeginForm("TipoVerificacionConfirmacionFiniquito", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            OnSuccess = "ModalPaymentShow",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                            <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                            <input type="text" class="dspl-none" name="enlaceViewCaratula" value="@item.ViewCaratula" />
                            <input type="text" class="dspl-none" name="onlyFiniquito" value="@item.OnlyFiniquito" />
                            <button type="submit" class="btn btn-warning"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #000;">
                                <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Verificar Calculo</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">de Finiquito</i>
                                </span>
                            </button>
                        }

                    }

                    @if ((string)item.OptRevVerificarPago == "S")
                    {
                        using (Ajax.BeginForm("RevertirVerificacionPago", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            OnSuccess = "ModalPaymentShow",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                            <input type="text" class="dspl-none" name="codigoPago" value="@item.CodigoPago" />
                            <input type="text" class="dspl-none" name="tipoPago" value="@item.TipoPago" />
                            <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                            <button type="submit" class="btn btn-anulado"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Revertir</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Verificación</i>
                                </span>
                            </button>
                        }

                    }

                    @if ((string)item.OptEnviarProcesoPago == "S")
                    {
                        using (Ajax.BeginForm("ConfirmacionPagoFiniquito", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            OnSuccess = "ModalPaymentShow",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="codigoPago" value="SOLCHQP" />
                            <input type="text" class="dspl-none" name="tipoPago" value="CHQ" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                            <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                            <input type="text" class="dspl-none" name="onlyFiniquito" value="@item.OnlyFiniquito" />
                            <button type="submit" class="btn btn-teamwork"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-asignado" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Solicitud de Pago</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Por Cheque</i>
                                </span>
                            </button>
                        }

                    }

                    @if ((string)item.OptRevEnvioProcesoPago == "S")
                    {
                        using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            OnSuccess = "ModalPaymentShow",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="option" value="RevertirEnviarProcesoPago" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                            <input type="text" class="dspl-none" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" />
                            <input type="text" class="dspl-none" name="onlyFiniquito" value="@item.OnlyFiniquito" />
                            <button type="submit" class="btn btn-anulado"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Revertir Envio Para</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Verificacion/Confirmacion Pago</i>
                                </span>
                            </button>
                        }

                    }

                    @if (item.OptLiquidacionSueldo == "S")
                    {
                        using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            OnSuccess = "ModalPaymentShow",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="secuencia" value="FNQ" />
                            <input type="text" class="dspl-none" name="option" value="LiquidacionSueldos" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                            <button type="submit" class="btn btn-danger"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-pdf" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Liquidaciones</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block;">De Sueldo</i>
                                </span>
                            </button>
                        }
                    }

                    @if (item.OptLiquidacionSueldo == "S")
                    {
                        using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contentPayment",
                            OnSuccess = "ModalPaymentShow",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="option" value="CrearComplemento" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@item.CodigoFiniquito" />
                            <button type="submit" class="btn btn-teamwork"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-add" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Crear Documento</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block;">y Complemento</i>
                                </span>
                            </button>
                        }
                    }
                </div>

                Html.RenderPartial("Bajas/_Complementos");

                <div class="row mt-30">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <h1 class="family-teamwork color-100x3" style="font-size: 40px;">
                            <b><i class="glyphicon-tw-5 glyphicon-tw-pdfReal mb-10neg"></i> Visualización de Caratula y Documento de finiquito</b>
                        </h1>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="height: 900px;">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                <embed src="@item.ViewCaratula" style="width: 100%; height: 700px;" />
                                <div style="margin-top: -600px; width: 100%; height: 600px; text-align: center;">
                                    <img src="~/Resources/pdfcolorreal-x2.png" style="width: 50px; display: block; margin: auto;" />
                                    <h1 class="family-teamwork color-100x3">Cargando PDF<br />Espere un momento...</h1>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                <embed src="@item.ViewDocumento" style="width: 100%; height: 700px;" />
                                <div style="margin-top: -600px; width: 100%; height: 600px; text-align: center;">
                                    <img src="~/Resources/pdfcolorreal-x2.png" style="width: 50px; display: block; margin: auto;" />
                                    <h1 class="family-teamwork color-100x3">Cargando PDF<br />Espere un momento...</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
}
        else
        {
            <img src="~/Resources/sinresultados.png" style="width: 100px;" class="dspl-block m-auto" />
            <h1 class="family-teamwork ta-center color-70x3 mt-10ne">Ups, Lo sentimos! No se ha encontrado el finiquito buscado!</h1>
            <h1 class="family-teamwork ta-center color-70x3 mt-10neg" style="font-size: 50px;">Sistema de Finiquitos</h1>
        }

        break;
}
