@if (((List<Teamwork.Model.Bajas.DescuentoComplemento>)ViewBag.RenderizadoDescuentosComplemento).Count > 0)
{
    <table class="family-teamwork" style="width: 100%;">
        <tbody>
            @foreach (Teamwork.Model.Bajas.DescuentoComplemento item in ViewBag.RenderizadoDescuentosComplemento)
            {
                <tr class="@item.Border br-1-solid-200x3 bt-1-solid-200x3 bb-1-solid-200x3">
                    <td style="width: 50px;" class="ta-center">
                        <img src="~/Resources/check.png" style="width: 30px; border-radius: 50%;" class="@item.GlyphiconColor dspl-inline-block" />
                    </td>
                    <td>
                        <p style="font-size: 19px;">@item.Nombre</p>
                        <p class="mt-10neg">Monto del Haber <b>$ @item.Valor</b></p>
                        <p class="mt-10neg">Creado @item.Creado &bull; Ultima Actualización @item.UltimaActualizacion</p>
                        <p class="mt-15neg">Creado Por: @item.CreadoPor</p>
                        <p class="mt-15neg">Comentarios: @item.Comentarios</p>
                    </td>
                    <td>

                        @using (Ajax.BeginForm("EliminarDescuentoComplemento", "Bajas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "contentDescuento",
                            InsertionMode = InsertionMode.Replace,
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" class="dspl-none" name="codigoComplemento" value="@ViewBag.CodigoComplemento" />
                            <input type="text" class="dspl-none" name="codigoFiniquito" value="@ViewBag.CodigoFiniquito" />
                            <input type="text" class="dspl-none" name="codigoDescuento" value="@item.CodigoDescuento" />
                            <button type="submit" class="btn btn-danger"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-trash" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Eliminar</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Descuento</i>
                                </span>
                            </button>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <img src="~/Resources/complementox3.png" style="width: 100px;" class="dspl-block m-auto" />
    <h3 class="family-teamwork ta-center color-70x3 mt-10ne">Aun no ha agregado descuentos al complemento!</h3>
    <h5 class="family-teamwork ta-center color-70x3 mt-10neg">Complementos de Finiquitos</h5>
}


