@foreach (AplicacionOperaciones.Models.Finiquitos.Cheque item in ViewBag.RenderizadoChequesDatos)
{
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <embed src="@ViewBag.ReferenciaViewCaratula" style="width: 100%; height: 600px;" />
            <div style="margin-top: -500px; width: 100%; height: 500px; text-align: center;">
                <img src="~/Resources/pdfcolorreal-x2.png" style="width: 50px; display: block; margin: auto;" />
                <h1 class="family-teamwork">Cargando PDF<br />Espere un momento...</h1>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 class="family-teamwork ta-center" style="font-size: 25px;">VERIFICACIÓN DE FINIQUITO PARA ENVIAR A PROCESO DE PAGO</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <span class="dspl-block">
                        <img src="~/Resources/cheque.png" style="width: 30px;" /> <i class="family-teamwork fst-normal" style="font-size: 15px;"> PAGO POR CHEQUE</i>
                    </span>
                    <p class="family-teamwork mt-5neg" style="font-size: 13px;">Codigo Referencial Pago: @item.CodigoPago</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <p class="family-teamwork ta-center">NOMBRE DEL TRABAJADOR</p>
                            <h3 class="family-teamwork ta-center mt-15neg color-428BCA">@item.Nombres</h3>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <p class="family-teamwork ta-center">RUT DEL TRABAJADOR</p>
                            <h3 class="family-teamwork ta-center mt-15neg color-428BCA">@item.Rut</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <p class="family-teamwork ta-center mt-20">MONTO TOTAL FINIQUITO</p>
                            <h3 class="family-teamwork ta-center fw-bold mt-15neg" style="font-size: 30px;">@item.MontoTotal</h3>
                        </div>
                    </div>
                </div>
            </div>
            @using (Ajax.BeginForm("ConfirmacionEvento", "Bajas", new AjaxOptions()
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "contentPayment",
                LoadingElementId = "loader"
            }, new { @style = "display: block;" }))
            {
                <div class="row dspl-none">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-30">
                        <div style="border-bottom: 1px dashed rgb(100, 100, 100); width: 100%; height: 0px; padding: 0;"></div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <h4 class="family-teamwork">Información solicitada para poder confirmar el finiquito</h4>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <p class="family-teamwork color-428BCA ta-center">CAMBIO DE MONTO ASOCIADO AL FINIQUITO</p>
                                <span style="width: 90%;" class="dspl-block m-auto">
                                    <input type="number" name="montoAsociado" class="family-teamwork form-control form-control-lg ta-center" placeholder="Monto Nuevo (Ej. 9289382)" />
                                </span>
                                <p class="family-teamwork ta-center color-2178379">Nota: Queda bajo su responsabilidad el cambio de este monto, en los sistemas quedará registro de quien realizo el cambio para posteriores auditorias.</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <textarea name="observacion" class="form-control family-teamwork" style="max-width: 100%; min-width: 100%; min-height: 150px; max-height: 150px;" placeholder="Indique observacion asociada a la confirmación de finiquito"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-30 ta-center">
                        <input type="text" name="option" value="VerificacionPagoFiniquito" class="dspl-none" />
                        <input type="text" name="codigoPago" value="@item.CodigoPago" class="dspl-none" />
                        <input type="text" name="tipoPago" value="CHQ" class="dspl-none" />
                        <input type="text" name="montofiniquito" value="@item.MontoTotal" class="dspl-none" />
                        <input type="text" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" class="dspl-none" />
                        <input type="text" name="CodigoFiniquito" value="@ViewBag.ReferenciaCodigoFiniquito" class="dspl-none" />
                        <input type="text" name="onlyFiniquito" value="@ViewBag.OnlyFiniquito" class="dspl-none" />
                        <button type="submit" class="btn btn-success"
                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Verificar finiquito y</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Enviar a confirmación de pago</i>
                            </span>
                        </button>
                        <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                           style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                            </span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
}
