<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <embed src="@ViewBag.ReferenciaViewCaratula" style="width: 100%; height: 600px;" />
        <div style="margin-top: -500px; width: 100%; height: 500px; text-align: center;">
            <img src="~/Resources/pdfcolorreal-x2.png" style="width: 50px; display: block; margin: auto;" />
            <h1 class="family-teamwork">Cargando PDF<br />Espere un momento...</h1>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="family-teamwork ta-center">Debe seleccionar un metodo de pago</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <table>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                Confirmar como pago por
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-30">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="ta-center">
                            <div class="teamwork pdt-15 m-auto" style="width: 80px; height: 80px; border-radius: 50%;">
                                <img src="~/Resources/cheque.png" style="width: 50px;" class="m-auto dspl-block" />
                            </div>
                            <p class="family-teamwork">Confirmar como pago por</p>
                            <p class="family-teamwork mt-20neg" style="font-size: 20px;">CHEQUE</p>
                            @using (Ajax.BeginForm("ConfirmacionPagoFiniquito", "Bajas", new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "contentPayment",
                                LoadingElementId = "loader"
                            }))
                            {
                                <input type="text" name="codigoFiniquito" value="@ViewBag.ReferenciaCodigoFiniquito" class="dspl-none" />
                                <input type="text" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" class="dspl-none" />
                                <input type="text" name="tipoPago" value="CHQ" class="dspl-none" />
                                <input type="text" name="codigoPago" value="" class="dspl-none" />
                                <button type="submit" class="btn btn-success mt-10neg"
                                        style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                    <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                                    <span style="display: inline-block; margin-top: -7px;">
                                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Seleccionar</i>
                                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block;">Metodo Pago</i>
                                    </span>
                                </button>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="ta-center">
                            <div class="teamwork pdt-15 m-auto" style="width: 80px; height: 80px; border-radius: 50%;">
                                <img src="~/Resources/transferencia-bancaria.png" style="width: 50px;" class="m-auto dspl-block" />
                            </div>
                            <p class="family-teamwork">Confirmar como pago por</p>
                            <p class="family-teamwork mt-20neg" style="font-size: 20px;">TRANSFERENCIA</p>
                            @using (Ajax.BeginForm("ConfirmacionPagoFiniquito", "Bajas", new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "contentPayment",
                                LoadingElementId = "loader"
                            }))
                            {
                                <input type="text" name="codigoFiniquito" value="@ViewBag.ReferenciaCodigoFiniquito" class="dspl-none" />
                                <input type="text" name="paginationIndex" value="@ViewBag.ReferenciaPaginationIndex" class="dspl-none" />
                                <input type="text" name="tipoPago" value="TEF" class="dspl-none" />
                                <input type="text" name="codigoPago" value="" class="dspl-none" />
                                <button type="submit" class="btn btn-success mt-10neg"
                                        style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                    <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                                    <span style="display: inline-block; margin-top: -7px;">
                                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Seleccionar</i>
                                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block;">Metodo Pago</i>
                                    </span>
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-30">
                <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                   style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>