@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Finiquitos Calculados";
    
}

@if (ViewBag.CodeCorrect)
{
<div class="row mt-70 ml-auto mr-auto" style="width: 92%;">
    <span id="loader" class="dspl-none">
        @Html.Partial("_LoaderTransaccion")
    </span>

    @switch ((string)ViewBag.HasSectionIndv)
    {
        case "All":
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
                    <i class="glyphicon-tw-5 glyphicon-tw-finiquitocalculado2"></i> Sistema de Finiquitos
                </h1>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-20 ml-auto mr-auto">
                @using (Ajax.BeginForm("Finiquitos", "Bajas", FormMethod.Post, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "finiquitos",
                    LoadingElementId = "loader"
                }))
                {
                    <input type="text" name="hasBaja" value="@ViewBag.RenderizadoHasBaja" class="dspl-none" />
                    <input type="text" name="pagination" value="MS01" class="dspl-none" />
                    <label style="font-family: 'Open Sans Condensed', sans-serif; line-height: 5px; display: block;">Aplicar Filtrado de Solicitudes</label>
                    <select class="form-control family-teamwork" style="width: 200px; display: inline-block;" id="typeFilter" name="typeFilter">
                        <option value="Rm9saW8=">Seleccione Filtro</option>
                        <option value="bm9uZQ==">Folio</option>
                        <option value="UnV0VHJhYmFqYWRvcg==">Rut Trabajador</option>
                        <option value="RW1wcmVzYQ==">Empresa</option>
                        <option value="Q29zdG9DZXJv">Costo $0</option>
                        <option value="QXJlYSBOZWdvY2lv">Area Negocio</option>
                        <option value="Tm9tYnJlIFRyYWJhamFkb3I=">Nombre Trabajador</option>
                        <option value="Q2F1c2FsIERlc3ZpbmN1bGFjacOzbg==">Causal Desvinculación</option>
                        <option value="RmVjaGFz">Fechas de Baja</option>
                        <option value="RXN0YWRv">Estado</option>
                    </select>
                    <input type="text" class="form-control family-teamwork dspl-none" style="width: 300px;" id="filterDatos" name="filterDatos" />
                    <input type="date" class="form-control family-teamwork dspl-none ta-center" style="width: 150px;" id="filterDatoFechaIni" name="filterDatoFechaIni" placeholder="DD-MM-AAAA" />
                    <input type="date" class="form-control family-teamwork dspl-none ta-center" style="width: 150px;" id="filterDatoFechaEnd" name="filterDatoFechaEnd" placeholder="DD-MM-AAAA" />
                    <select class="form-control family-teamwork dspl-none" style="width: 200px;" id="filterEmpresa" name="filterEmpresa">
                        <option value="">Seleccione Empresa</option>
                        <option value="TWEST">TWEST (EST)</option>
                        <option value="TWRRHH">TWRRHH (OUT)</option>
                        <option value="TWC">TWC (CONSULTORA)</option>
                    </select>
                    <select class="form-control family-teamwork dspl-none" style="width: 400px;" id="filterCausal" name="filterCausal">
                        <option value="">Seleccione Causal</option>
                        <option value="Art.159N4">Art.159N4 Vencimiento del plazo convenido en el contrato</option>
                        <option value="Art.159N1">Art.159N1 Mutuo acuerdo de las partes</option>
                        <option value="Art.159N2">Art.159N2 Renuncia del trabajador</option>
                    </select>
                    <select class="form-control family-teamwork dspl-none" style="width: 200px;" id="filterEstado" name="filterEstado">
                        <option value="">Seleccione Estado</option>
                        <option value="PLZ">Solicitado</option>
                        <option value="EPC">Pendiente de Calculo</option>
                    </select>
                    <button type="submit" class="btn btn-teamwork dspl-none" id="btnBuscarSolicitud"
                            style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-buscar" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Buscar</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block;">Solicitudes</i>
                        </span>
                    </button>
                    <a href="#" class="btn btn-warning eventRestore dspl-inline-block" style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-deshacer" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Restablecer</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">Solciitudes</i>
                        </span>
                    </a>
                }

                @*@using (Ajax.BeginForm("ReaderBarcodeInit", "Bajas", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "contentPayment",
                        OnSuccess = "ModalPaymentBarcodeShow",
                        LoadingElementId = "loader"
                    }))
                    {
                        <button type="submit" class="btn btn-success dspl-inline-block" style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-barcode" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Lectura Inteligente</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                    font-size: 14px; font-style: normal; display: block;">Código de Barra</i>
                            </span>
                        </button>
                    }

                    <a href="@ViewBag.EnlacePagar" target="_blank" class="btn btn-success dspl-inline-block" style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-barcode" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Pagar Finiquito</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">Código de Barra</i>
                        </span>
                    </a>

                    <a href="@ViewBag.EnlaceNotariar" target="_blank" class="btn btn-success dspl-inline-block" style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-barcode" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Notariar Finiquito</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">Código de Barra</i>
                        </span>
                    </a>*@

            </div>
            break;
        case "Finiquito":
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
                    <i class="glyphicon-tw-5 glyphicon-tw-finiquitocalculado2"></i> Sistema de Finiquitos
                </h1>
            </div>
            break;
    }

    @if (ViewBag.RenderizadoDashboard != null)
    {
        Html.RenderPartial("Bajas/_DashboardPendientesVerConf");
    }
    
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-30 headerFiniquitos">

    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-10 finiquitos" id="finiquitos">
        @if (ViewBag.RenderizadoDashboard == null)
        {
            switch ((string)ViewBag.SectionEnabled)
            {
                case "Finiquito":
                    Html.RenderPartial("Bajas/_Finiquitos");
                    break;
                case "Complementos":
                    Html.RenderPartial("Bajas/_Complementos");
                    break;
            }
        }
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-50 mt-50 paginationFiniquitos" style="text-align: center;">

    </div>
    <div class="modal-tw hidden-modal-tw">
        <div class="modal-tw-body">

        </div>
    </div>

    <span class="alert__notification"></span>
</div>

    @Html.Partial("Bajas/_ModalPaymentMethods")

}
else
{
    foreach (AplicacionOperaciones.Models.Error item in (List<AplicacionOperaciones.Models.Error>)ViewBag.Error)
    {
        @Html.Partial("_ErrorSistema", new ViewDataDictionary {
            { "Message", item.Message }
        });
    }
}

<script type="module" src="~/Src/containers/finiquitos/_FiniquitosSolicPago.js"></script>
<span id="modales"></span>
<script>
    
    function ModalPaymentBarcodeShow() {
        $("#modalPaymentMethods").modal("show");
        setTimeout(function () {
            $("#readerBarcode").focus();
        }, 500);
    }

    function HideModalPayment() {
        $("#modalPaymentMethods").modal("hide");
    }

    function onBegin() { }

    function ModalPaymentShow() {
        $("#modalPaymentMethods").modal("show");
    }

    function onModalCodigoBarraOpen() {
        $("#loader").addClass('dspl-none').removeClass('dspl-block');
        $("#modalCodigoBarra").modal("show");
    }

    function onSuccess() {
        $("#loader").addClass('dspl-none').removeClass('dspl-block');
    }

    function onSuccessModalValidacion() {
        $("#modalValidacionBaja").modal("show");
    }

    function RemoverElementosHtmlfiltrado(emptyFiltro = "", filtreDatos = "", filterEmpresa = "", filterCausal = "", filterEstado = "", filterFechas = "") {

        if (emptyFiltro !== "") {
            $("#filterDatos").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterDatoFechaIni").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");
            $("#filterDatoFechaEnd").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterEmpresa").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEmpresa option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterCausal").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterCausal option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterEstado").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEstado option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#btnBuscarSolicitud").removeClass("dspl-inline-block").addClass("dspl-none");
        }

        if (filtreDatos !== "") {
            $("#filterDatoFechaIni").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");
            $("#filterDatoFechaEnd").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterEmpresa").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEmpresa option[value='']").attr("selected", "selected").removeAttr("selected");


            $("#filterCausal").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterCausal option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterEstado").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEstado option[value='']").attr("selected", "selected").removeAttr("selected");
        }

        if (filterEmpresa !== "") {
            $("#filterDatos").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterDatoFechaIni").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");
            $("#filterDatoFechaEnd").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterCausal").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterCausal option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterEstado").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEstado option[value='']").attr("selected", "selected").removeAttr("selected");
        }

        if (filterCausal !== "") {
            $("#filterDatos").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterDatoFechaIni").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");
            $("#filterDatoFechaEnd").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterEmpresa").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEmpresa option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterEstado").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEstado option[value='']").attr("selected", "selected").removeAttr("selected");
        }

        if (filterEstado !== "") {
            $("#filterDatos").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterDatoFechaIni").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");
            $("#filterDatoFechaEnd").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterEmpresa").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEmpresa option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterCausal").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterCausal option[value='']").attr("selected", "selected").removeAttr("selected");
        }

        if (filterFechas !== "") {
            $("#filterDatos").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterEmpresa").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEmpresa option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterCausal").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterCausal option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterEstado").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEstado option[value='']").attr("selected", "selected").removeAttr("selected");
        }

    }

</script>