@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Bajas";
    
}

@if (ViewBag.CodeCorrect)
{
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-100 ml-auto mr-auto" style="width: 92%;">
        <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
            <i class="glyphicon-tw-5 glyphicon-tw-solb4j2"></i> Generación de Bajas y Finiquitos
        </h1>
    </div>
    <span id="loader" class="dspl-none">
        @Html.Partial("_LoaderTransaccion")
    </span>
    <span id="message" class="ml-auto mr-auto dspl-block" style="width: 92%;"></span>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-20 ml-auto mr-auto" style="width: 92%;">
        @using (Ajax.BeginForm("SolicitudBajas", "Bajas", FormMethod.Post, new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "finiquitos",
            OnBegin = "onBegin",
            OnSuccess = "onSuccess",
            LoadingElementId = "loader"
        }))
        {
            <input type="text" name="hasBaja" value="@ViewBag.RenderizadoHasBaja" class="dspl-none" />
            <input type="text" name="pagination" value="MS01" class="dspl-none" />
            <label style="font-family: 'Open Sans Condensed', sans-serif; line-height: 5px; display: block;">Aplicar Filtrado de Solicitudes</label>
            <select class="form-control family-teamwork" style="width: 200px; display: inline-block;" id="typeFilter" name="typeFilter">
                <option value="bm9uZQ==">Seleccione Filtro</option>
                <option value="UnV0VHJhYmFqYWRvcg==">Rut Trabajador</option>
                <option value="RW1wcmVzYQ==">Empresa</option>
                <option value="QXJlYSBOZWdvY2lv">Area Negocio</option>
                <option value="Tm9tYnJlIFRyYWJhamFkb3I=">Nombre Trabajador</option>
                <option value="Q2F1c2FsIERlc3ZpbmN1bGFjacOzbg==">Causal Desvinculación</option>
                <option value="RmVjaGFz">Fechas de Baja</option>
                <option value="RXN0YWRv">Estado</option>
            </select>
            <input type="text" class="form-control family-teamwork dspl-none" style="width: 300px;" id="filterDatos" name="filterDatos" />
            <input type="date" class="form-control family-teamwork dspl-none ta-center" style="width: 150px;" id="filterDatoFechaIni" name="filterDatoFechaIni" placeholder="DD-MM-AAAA" />
            <input type="date" class="form-control family-teamwork dspl-none ta-center" style="width: 150px;" id="filterDatoFechaEnd" name="filterDatoFechaEnd" placeholder="DD-MM-AAAA" />
            <select class="form-control family-teamwork dspl-none" style="width: 200px;" id="filterEmpresa" name="filterEmpresa">
                <option value="">Seleccione Empresa</option>
                <option value="TWEST">TWEST (EST)</option>
                <option value="TWRRHH">TWRRHH (OUT)</option>
                <option value="TWC">TWC (CONSULTORA)</option>
            </select>
            <select class="form-control family-teamwork dspl-none" style="width: 400px;" id="filterCausal" name="filterCausal">
                <option value="">Seleccione Causal</option>
                <option value="Art.159N4">Art.159N4 Vencimiento del plazo convenido en el contrato</option>
                <option value="Art.159N1">Art.159N1 Mutuo acuerdo de las partes</option>
                <option value="Art.159N2">Art.159N2 Renuncia del trabajador</option>
            </select>
            <select class="form-control family-teamwork dspl-none" style="width: 200px;" id="filterEstado" name="filterEstado">
                <option value="">Seleccione Estado</option>
                <option value="PLZ">Solicitado</option>
                <option value="EPC">Pendiente de Calculo</option>
            </select>
            <button type="submit" class="btn btn-teamwork dspl-none" id="btnBuscarSolicitud"
                    style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 glyphicon-tw-buscar" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Buscar</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Solicitudes</i>
                </span>
            </button>
        }
        <a href="#" class="btn btn-warning eventRestore dspl-inline-block" style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-deshacer" style="display: inline-block;"></i>
            <span style="display: inline-block; margin-top: -7px;">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Restablecer</i>
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Solicitudes</i>
            </span>
        </a>
        @*@using (Ajax.BeginForm("SolicitudBajas", "Bajas", FormMethod.Post, new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "solicitudBajas",
            OnBegin = "onBegin",
            OnSuccess = "onSuccess",
            LoadingElementId = "loader"
        }))
        {
            <input type="text" name="pagination" value="MS01" class="dspl-none" />
            <input type="text" name="hasBaja" value="N" class="dspl-none" />
            <button type="submit" class="btn btn-teamwork" id="btnBuscarSolicitud"
                    style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 glyphicon-tw-noprioridad" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Mostrar Solicitudes</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Que no estan en baja</i>
                </span>
            </button>
        }*@
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-left" id="result__for__event__bajas">
        
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-20" id="finiquitos">
        @Html.Partial("Bajas/_SolicitudBaja")
    </div>

    @Html.Partial("Bajas/_ModalPaymentMethods")

    @Html.Partial("Bajas/_ModalConfirmacionAnulacionBaja")
    @Html.Partial("Bajas/_ModalCartaBaja")

}
else
{
    foreach (AplicacionOperaciones.Models.Error item in (List<AplicacionOperaciones.Models.Error>)ViewBag.Error)
    {
        @Html.Partial("_ErrorSistema", new ViewDataDictionary {
            { "Message", item.Message }
        });
    }
}

<span id="modales"></span>
<script>

    function onBegin() {

    }

    function HideModalPayment() {
        $("#modalPaymentMethods").modal("hide");
    }

    function ModalPaymentShow() {
        $("#modalPaymentMethods").modal("show");
    }

    function showModalMontosManualesCartaBaja() {
        $("#modalCartaBaja").modal("show");
    }

    function onSuccess() {
        $("#loader").addClass('dspl-none').removeClass('dspl-block');
    }

    function onSuccessModalValidacion() {
        $("#modalValidacionBaja").modal("show");

    }

    $(".eventRestore").on("click", function (e) {
        e.preventDefault();
        window.location.reload();
    });


    $("#typeFilter").on("change", function () {
        switch ($(this).val()) {
            case "UnV0VHJhYmFqYWRvcg==":
                $("#filterDatos").addClass("dspl-inline-block").removeClass("dspl-none").attr("placeholder", "Indique el Rut del trabajador");
                $("#btnBuscarSolicitud").addClass("dspl-inline-block").removeClass("dspl-none");

                /** remueve elementos */
                RemoverElementosHtmlfiltrado("", "S", "", "", "", "");
                break;
            case "RW1wcmVzYQ==":
                $("#filterEmpresa").addClass("dspl-inline-block").removeClass("dspl-none");
                $("#btnBuscarSolicitud").addClass("dspl-inline-block").removeClass("dspl-none");

                /** remueve elementos */
                RemoverElementosHtmlfiltrado("", "", "S", "", "", "");
                break;
            case "QXJlYSBOZWdvY2lv":
                $("#filterDatos").addClass("dspl-inline-block").removeClass("dspl-none").attr("placeholder", "Indique el área de negocio");
                $("#btnBuscarSolicitud").addClass("dspl-inline-block").removeClass("dspl-none");

                /** remueve elementos */
                RemoverElementosHtmlfiltrado("", "S", "", "", "", "");
                break;
            case "Tm9tYnJlIFRyYWJhamFkb3I=":
                $("#filterDatos").addClass("dspl-inline-block").removeClass("dspl-none").attr("placeholder", "Indique el nombre del trabajador");
                $("#btnBuscarSolicitud").addClass("dspl-inline-block").removeClass("dspl-none");
                /** remueve elementos */
                RemoverElementosHtmlfiltrado("", "S", "", "", "", "");
                break;
            case "Q2F1c2FsIERlc3ZpbmN1bGFjacOzbg==":
                $("#filterCausal").addClass("dspl-inline-block").removeClass("dspl-none");
                $("#btnBuscarSolicitud").addClass("dspl-inline-block").removeClass("dspl-none");

                /** remueve elementos */
                RemoverElementosHtmlfiltrado("", "", "", "S", "", "");
                break;
            case "RmVjaGFz":
                $("#filterDatoFechaIni").addClass("dspl-inline-block").removeClass("dspl-none");
                $("#filterDatoFechaEnd").addClass("dspl-inline-block").removeClass("dspl-none");
                $("#btnBuscarSolicitud").addClass("dspl-inline-block").removeClass("dspl-none");

                /** remueve elementos */
                RemoverElementosHtmlfiltrado("", "", "", "", "", "N");
                break;
            case "RXN0YWRv":
                $("#filterEstado").addClass("dspl-inline-block").removeClass("dspl-none");
                $("#btnBuscarSolicitud").addClass("dspl-inline-block").removeClass("dspl-none");

                /** remueve elementos */
                RemoverElementosHtmlfiltrado("", "", "", "", "S", "");
                break;
            default:
                RemoverElementosHtmlfiltrado("S", "", "", "", "", "");
                break;
        }
    });

    function RemoverElementosHtmlfiltrado(emptyFiltro = "", filtreDatos = "", filterEmpresa = "", filterCausal = "", filterEstado = "", filterFechas = "") {

        if (emptyFiltro !== "") {
            $("#filterDatos").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterDatoFechaIni").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");
            $("#filterDatoFechaEnd").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterEmpresa").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEmpresa option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterCausal").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterCausal option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterEstado").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEstado option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#btnBuscarSolicitud").removeClass("dspl-inline-block").addClass("dspl-none");
        }

        if (filtreDatos !== "") {
            $("#filterDatoFechaIni").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");
            $("#filterDatoFechaEnd").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterEmpresa").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEmpresa option[value='']").attr("selected", "selected").removeAttr("selected");


            $("#filterCausal").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterCausal option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterEstado").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEstado option[value='']").attr("selected", "selected").removeAttr("selected");
        }

        if (filterEmpresa !== "") {
            $("#filterDatos").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterDatoFechaIni").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");
            $("#filterDatoFechaEnd").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterCausal").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterCausal option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterEstado").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEstado option[value='']").attr("selected", "selected").removeAttr("selected");
        }

        if (filterCausal !== "") {
            $("#filterDatos").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterDatoFechaIni").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");
            $("#filterDatoFechaEnd").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterEmpresa").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEmpresa option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterEstado").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEstado option[value='']").attr("selected", "selected").removeAttr("selected");

        }

        if (filterEstado !== "") {
            $("#filterDatos").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterDatoFechaIni").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");
            $("#filterDatoFechaEnd").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterEmpresa").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEmpresa option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterCausal").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterCausal option[value='']").attr("selected", "selected").removeAttr("selected");
        }

        if (filterFechas !== "") {
            $("#filterDatos").removeClass("dspl-inline-block").addClass("dspl-none").removeAttr("placeholder").val("");

            $("#filterEmpresa").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEmpresa option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterCausal").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterCausal option[value='']").attr("selected", "selected").removeAttr("selected");

            $("#filterEstado").removeClass("dspl-inline-block").addClass("dspl-none");
            $("#filterEstado option[value='']").attr("selected", "selected").removeAttr("selected");
        }

    }
    function bloqueaBoton() {
        $("#btnAnularBajaOk").addClass("disabled");
    }

    function cerrarModal() {
        $("#modalAnulacion").modal("hide");
        $("#btnAnularBajaOk").removeClass("disabled");
    }

    $(document).on("click",".eventAnularSolicitud", function (e) {
        e.preventDefault();
        $("#codigoSolicitud").val($(this).attr("data-codigosolicitud"));
        $("#modalAnulacion").modal("show");
    });

</script>