@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Administrar Cuentas";
}
<div class="row mt-100">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <h1 class="family-teamwork fw-bold" style="font-size: 20px;">Cuentas TWEST (Sin Asignación)</h1>
                        <div style="height: 250px; overflow-y: scroll;">
                            @foreach (AplicacionOperaciones.Models.Cuentas item in (List<AplicacionOperaciones.Models.Cuentas>)ViewBag.RenderizadoCuentasTWEST)
                            {
                                Html.RenderPartial("_ClientesKam", new ViewDataDictionary() {
                                    { "ColorEvent", item.ColorEvent },
                                    { "Id", item.CodificarCod },
                                    { "Codigo", item.Codigo },
                                    { "Tamaño", "50px" }
                                });
                            }
                        </div>
                    </div>
                    <hr style="border: 1px solid #f00;" />
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <h1 class="family-teamwork fw-bold" style="font-size: 20px;">Cuentas TWRRHH (Sin Asignación)</h1>
                        <div style="height: 250px; overflow-y: scroll;">
                            @foreach (AplicacionOperaciones.Models.Cuentas item in (List<AplicacionOperaciones.Models.Cuentas>)ViewBag.RenderizadoCuentasTWRRHH)
                            {
                                Html.RenderPartial("_ClientesKam", new ViewDataDictionary() {
                                    { "ColorEvent", item.ColorEvent },
                                    { "Id", item.CodificarCod },
                                    { "Codigo", item.Codigo },
                                    { "Tamaño", "50px" }
                                });
                            }
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <h1 class="family-teamwork fw-bold" style="font-size: 20px;">Cuentas TWC (Sin Asignación)</h1>
                        <div style="height: 250px; overflow-y: scroll;">
                            @foreach (AplicacionOperaciones.Models.Cuentas item in (List<AplicacionOperaciones.Models.Cuentas>)ViewBag.RenderizadoCuentasTWC)
                            {
                                Html.RenderPartial("_ClientesKam", new ViewDataDictionary() {
                                    { "ColorEvent", item.ColorEvent },
                                    { "Id", item.CodificarCod },
                                    { "Codigo", item.Codigo },
                                    { "Tamaño", "50px" }
                                });
                            }
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-sm-6 col-md-6 col-lg-9">
                <div class="row">
                    @Html.Partial("_EjecutivosAsignados")
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ModalAdministrarCuenta")

@Scripts.Render("~/bundles/ajaxFunciones")
@Scripts.Render("~/bundles/utils")
@Scripts.Render("~/bundles/administrarcuenta")