@if (ViewBag.OptionMoveWizards != null)
{
    <div class="row mt-100 ml-auto mr-auto" style="width: 92%;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="new-family-teamwork ta-center color-100x3" style="font-weight: 100;">Estamos cargando la etapa...</h2>
            <h5 class="new-family-teamwork ta-center" style="font-weight: 100;">Espere un momento, no tardamos.</h5>
        </div>
    </div>
    <script async>

        window.location.href = "@ViewBag.HttpRedirectWizards"

    </script>
}
else
{
    <div class="row mt-100 ml-auto mr-auto" style="width: 92%;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="new-family-teamwork ta-center color-100x3" style="font-weight: 100;">Etapa @ViewBag.WizardsActual: Seleccione Tipo de Jornada</h2>
        </div>
    </div>
    if (ViewBag.HtmlMessageResult != null)
    {
        @: <span class="alert alert-success dspl-block m-auto new-family-teamwork htmlMessageResult" style="width: 92%; font-weight: 100;"><img src="../../../../Resources/check.svg" width="30" height="30" /> @Html.Raw(ViewBag.HtmlMessageResult)</span>
    }

    <div class="row mt-20 ml-auto mr-auto" style="width: 92%;">
        @foreach (Teamwork.Model.Finanzas.EstructuraCargo itemHeader in ViewBag.RenderizaHeaderEstructura)
        {
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <div class="dspl-inline-block mr-10">
                    @using (Ajax.BeginForm("CambiarTypeJornada", "Operaciones", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "contentWizards",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loader",
                        OnSuccess = "formatInput()"
                    }))
                    {
                        <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                        <input type="text" class="dspl-none" name="codigoCargoMod" value="@itemHeader.CodigoCargoMod" />
                        <input type="text" class="dspl-none" name="typeJornada" value="F" />
                        <Button type="submit" class="btn
                            @if (itemHeader.TypeJornada == "F")
                            {
                                @: btn-success
                            }
                            else
                            {
                                @: btn-anulado
                            }"
                                style="
                            @if (itemHeader.TypeJornada == "F")
                            {
                                @: width: 220px; height: 220px;
                            }
                            else
                            {
                                @: width: 200px; height: 200px;
                            } border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;">
                            <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 22px;">JORNADA</h1>
                            <h3 class="new-family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px; font-weight: 100;">Full Time</h3>
                            <img src="~/Resources/calendario.svg" width="50" height="50" />
                        </Button>
                    }
                    <span class="new-family-teamwork dspl-block color-100x3" style="font-weight: 100; line-height: 15px; padding-left: 0; padding-right: 0;">
                        @if (itemHeader.TypeJornada == "F")
                        {
                            @: . <br /> . <br /> . <br /> . <br /> . <br /> . <br /> &#x25BE;
                        }
                    </span>
                </div>
                <div class="dspl-inline-block ml-10">
                    @using (Ajax.BeginForm("CambiarTypeJornada", "Operaciones", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "contentWizards",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loader",
                        OnSuccess = "formatInput()"
                    }))
                    {
                        <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                        <input type="text" class="dspl-none" name="codigoCargoMod" value="@itemHeader.CodigoCargoMod" />
                        <input type="text" class="dspl-none" name="typeJornada" value="P" />
                        <Button type="submit" class="btn
                            @if (itemHeader.TypeJornada == "P")
                            {
                                @: btn-success
                            }
                            else
                            {
                                @: btn-anulado
                            }"
                                style="
                            @if (itemHeader.TypeJornada == "P")
                            {
                                @: width: 220px; height: 220px;
                            }
                            else
                            {
                                @: width: 200px; height: 200px;
                            } border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;">
                            <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 22px;">JORNADA</h1>
                            <h3 class="new-family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px; font-weight: 100;">Part Time</h3>
                            <img src="~/Resources/calendario.svg" width="50" height="50" />
                        </Button>
                        /**/
                    }
                    <span class="new-family-teamwork dspl-block color-100x3" style="font-weight: 100; line-height: 15px; padding-left: 0; padding-right: 0;">
                        @if (itemHeader.TypeJornada == "P")
                        {
                            @: . <br /> . <br /> . <br /> . <br /> . <br /> . <br /> &#x25BE;
                        }
                    </span>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-20
                 @if (itemHeader.TypeJornada == "F"){
                     @: dspl-block
                 }
                 else {
                     @: dspl-none
                 }
                 ">
                @using (Ajax.BeginForm("CambiarCalculoTypeSueldo", "Operaciones", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "contentWizards",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loader"
                }, new { @style = "display: inline-block; width: 80%" }))
                {

                    <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                    <input type="text" class="dspl-none" name="codigoCargoMod" value="@itemHeader.CodigoCargoMod" />
                    <div>
                        <span class="dspl-inline-block">
                            <label class="switch-md" style="display: inline-block;">
                                <input type="radio" name="sueldo" value="M" id="sueldomensual" onchange="handleChangeTypeSueldo(this)"
                                       @if (itemHeader.TypeCalculoSueldo == "M") { @: checked="checked"
                                       } />
                                <span class="slider teamwork"></span>
                            </label>
                            <label for="sueldomensual" class="fst-normal new-family-teamwork dspl-inline-block mr-10 ml-20 mt-5neg ta-left cursor-pointer" style="font-weight: 100; width: 200px;">Considerar sueldo MENSUAL</label>
                            <input type="submit" class="dspl-none" id="btnTypeJornada" />
                        </span>
                    </div>
                    <div>
                        <h3 class="new-family-teamwork color-100x3 mt-2neg" style="font-weight: 100;">ó</h3>
                    </div>
                    <div>
                        <span class="dspl-inline-block">
                            <label class="switch-md" style="display: inline-block;">
                                <input type="radio" name="sueldo" value="D" id="sueldodiario" onchange="handleChangeTypeSueldo(this)"
                                       @if (itemHeader.TypeCalculoSueldo == "D") { @: checked="checked"
                                       } />
                                <span class="slider teamwork"></span>
                            </label>
                            <label for="sueldodiario" class="fst-normal new-family-teamwork dspl-inline-block mr-10 ml-20 mt-5neg ta-left cursor-pointer" style="font-weight: 100; width: 200px;">Considerar sueldo DIARIO</label>
                            <input type="submit" class="dspl-none" id="btnTypeJornada" />
                        </span>
                    </div>
                    <input type="submit" class="dspl-none" id="btnTypeCalculoSueldo" />
                }

                <div class="mt-30">
                    <h3 class="new-family-teamwork mb-30" style="font-weight: 100">Indique Jornada y Horarios detallados FULL TIME.</h3>
                    @if (itemHeader.TypeJornada == "F")
                    {
                        <div class="mt-20">
                            @using (Ajax.BeginForm("ActualizaJornadaFullTime", "Operaciones", new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "contentWizards",
                                InsertionMode = InsertionMode.Replace,
                                LoadingElementId = "loader",
                                OnSuccess = "formatInput()"
                            }, new { @style = "display: inline-block; width: 100%" }))
                            {
                                <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                                <input type="text" class="dspl-none" value="@itemHeader.CodigoCargoMod" name="codigoCargoMod" />
                                <span class="dspl-inline-block" style="vertical-align: top;">
                                    <label class="switch-md" style="display: inline-block;">
                                        <input type="radio" name="horassemanales" value="45" onchange="handleChangeHSJornadaFullTime(this)"
                                               @if (itemHeader.NumeroHorasSemanales == "45") { @: checked="checked"
                                               } />
                                        <span class="slider teamwork"></span>
                                    </label>
                                    <i class="fst-normal new-family-teamwork dspl-inline-block mr-10 mt-5neg" style="font-weight: 100;">45 Horas semanales</i>
                                </span>
                                <span class="dspl-inline-block" style="vertical-align: top;">
                                    <label class="switch-md" style="display: inline-block;">
                                        <input type="radio" name="horassemanales" value="JornadaExcepcional" onchange="handleChangeHSJornadaFullTime(this)"
                                               @if (itemHeader.NumeroHorasSemanales == "JE") { @: checked="checked"
                                               } />
                                        <span class="slider teamwork"></span>
                                    </label>
                                    <i class="fst-normal new-family-teamwork dspl-inline-block mr-10 mt-5neg" style="font-weight: 100;">Jornada Excepcional</i>
                                </span>
                                <span class="dspl-inline-block" style="vertical-align: top;">
                                    <label class="switch-md" style="display: inline-block;">
                                        <input type="radio" name="horassemanales" value="ART22" onchange="handleChangeHSJornadaFullTime(this)"
                                               @if (itemHeader.NumeroHorasSemanales == "ART22") { @: checked="checked"
                                               } />
                                        <span class="slider teamwork"></span>
                                    </label>
                                    <i class="fst-normal new-family-teamwork dspl-inline-block mr-10 mt-5neg" style="font-weight: 100;">Articulo 22</i>
                                </span>
                                <span class="dspl-inline-block" style="vertical-align: top;">
                                    <label class="switch-md" style="display: inline-block;">
                                        <input type="radio" name="horassemanales" value="other" onchange="handleActiveTextOtherHSFullTime()"
                                               @if (itemHeader.NumeroHorasSemanales != "45" && itemHeader.NumeroHorasSemanales != "ART22" && itemHeader.NumeroHorasSemanales != "JE") { @: checked="checked"
                                               } />
                                        <span class="slider teamwork"></span>
                                    </label>
                                    <i class="fst-normal new-family-teamwork dspl-inline-block mr-10 mt-5neg" style="font-weight: 100;">Considerar otras horas semanales:</i>
                                </span>
                                <input id="btnChangeHSJornadaFullTime" type="submit" class="dspl-none" />
                                <span id="content__others__hs" style="width: 50%; vertical-align: top;" class="
                                             @if (itemHeader.NumeroHorasSemanales != "45" && itemHeader.NumeroHorasSemanales != "ART22" && itemHeader.NumeroHorasSemanales != "JE")
                                             {
                                                 @: dspl-inline-block
                                             }
                                             else
                                             {
                                                 @: dspl-none
                                             }
                                             ">
                                    <span class="dspl-inline-block mt-30" style="width: 50%; vertical-align: top;">
                                        @Html.InputAdministrador(
                                             "text",
                                             new string[] {
                                                 "class='new-family-teamwork bb-1-solid-200x3 dspl-block mt-20'",
                                                 "id='input-add-hs'",
                                                 "data-ownerlegends='legends-add-hs'",
                                                 "data-fontsizebefore='15px'",
                                                 "data-fontsizeafter='12px'",
                                                 "data-paddingbefore='27px, none, 11px, none'",
                                                 "data-paddingafter='0px, none, none, none'",
                                                 "onBlur='handleBlurInput(this)'",
                                                 "name='horasSemanalesOther'",
                                                 "autocomplete='off'",
                                                 "value='" + ((itemHeader.NumeroHorasSemanales != "45" && itemHeader.NumeroHorasSemanales != "ART22") ? itemHeader.NumeroHorasSemanales : "") + "'"
                                             },
                                             new string[] {
                                                 "padding-top: 10px",
                                                 "padding-bottom: 10px",
                                                 "outline: none",
                                                 "border: none",
                                                 "text-transform: uppercase",
                                                 "font-weight: 100",
                                                 "width: 100%"
                                             },
                                             "on",
                                             new string[]
                                             {
                                                 "<label class='new-family-teamwork dspl-block pdt-27 pdb-11 cursor-pointer color-100x3' onclick='handleFocusInput(this)' style='font-weight: 100; position: absolute; font-size: 15px; text-transform: uppercase;' " +
                                                 "data-fontsizeafter='12px' data-fontsizebefore='15px' data-paddingbefore='27px, none, 11px, none' data-paddingafter='0px, none, none, none' data-ownerfocus='input-add-hs' id='legends-add-hs'>Indique hora semanales que va considerar</label>"
                                             }
                                         )
                                    </span>
                                    @Html.ButtonAdministracion(
                                        "submit",
                                        new string[] {
                                            "class='dspl-inline-block btn btn-success new-family-teamwork'"
                                        },
                                        new string[]
                                        {
                                            "min-width: 50px",
                                            "height: 50px",
                                            "border: none",
                                            "border-radius: 25px",
                                            "text-align: center",
                                            "font-weight: 100",
                                            "margin-top: 35px"
                                        },
                                        new string[]
                                        {
                                            "<img src='../../../../Resources/check.svg' width='20' height='20' style='position: relative; left: 1%; margin-top: -5%; margin-right: 3px;' />" +
                                            "<span style='position: relative; float: right;'>Guardar Otras Horas Semanales</span>"
                                        },
                                        true
                                    )
                                </span>

                            }

                        </div>
                    }

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-20
             @if (itemHeader.TypeJornada == "P"){
                 @: dspl-block
             }
             else {
                 @: dspl-none
             }
             ">

                @using (Ajax.BeginForm("CambiarCalculoTypeSueldo", "Operaciones", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "contentWizards",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loader"
                }, new { @style = "display: inline-block; width: 80%" }))
                {

                    <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                    <input type="text" class="dspl-none" name="codigoCargoMod" value="@itemHeader.CodigoCargoMod" />
                    <div>
                        <span class="dspl-inline-block">
                            <label class="switch-md" style="display: inline-block;">
                                <input type="radio" name="sueldo" id="typeJornadaPartTimeMensual" value="PTM" onchange="handleChangeTypeSueldoPT(this)"
                                       @if (itemHeader.TypeCalculoSueldo == "PTM") { @: checked="checked"
                                       } />
                                <span class="slider teamwork"></span>
                            </label>
                            <label for="typeJornadaPartTimeMensual" class="fst-normal new-family-teamwork dspl-inline-block mr-10 ml-20 mt-5neg ta-left cursor-pointer" style="font-weight: 100; width: 300px;">Considerar PT Mensualizado</label>
                            <input type="submit" class="dspl-none" id="btnTypeJornada" />
                        </span>
                    </div>
                    <div>
                        <h3 class="new-family-teamwork color-100x3 mt-2neg" style="font-weight: 100;">ó</h3>
                    </div>
                    <div>
                        <span class="dspl-inline-block">
                            <label class="switch-md" style="display: inline-block;">
                                <input type="radio" name="sueldo" id="typeJornadaPartTimeDia" value="PTD" onchange="handleChangeTypeSueldoPT(this)"
                                       @if (itemHeader.TypeCalculoSueldo == "PTD") { @: checked="checked"
                                       } />
                                <span class="slider teamwork"></span>
                            </label>
                            <label for="typeJornadaPartTimeDia" class="fst-normal new-family-teamwork dspl-inline-block mr-10 ml-20 mt-5neg ta-left cursor-pointer" style="font-weight: 100; width: 300px;">Considerar PART TIME por DIA</label>
                            <input type="submit" class="dspl-none" id="btnTypeJornada" />
                        </span>
                    </div>
                    <input type="submit" class="dspl-none" id="btnTypeCalculoSueldoPT" />
                }

                @using (Ajax.BeginForm("ActualizarJornadaPTSueldo", "Operaciones", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "contentWizards",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loader",

                }, new { @style = "display: inline-block; width: 100%" }))
                {
                    <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                    <input type="text" class="dspl-none" name="codigoCargoMod" value="@itemHeader.CodigoCargoMod" />
                    <div>

                        @*<div>
                    <span class="dspl-inline-block">
                        <label class="switch-md" style="display: inline-block;">
                            <input type="radio" name="typeJornadaCalculo" id="typeornadaPartTimeHora" value="PTH"
                                   @if (itemHeader.TypeCalculoPT == "PTH") { @: checked="checked"
                                   } />
                            <span class="slider teamwork"></span>
                        </label>
                        <label for="typeornadaPartTimeHora" class="fst-normal new-family-teamwork dspl-inline-block mr-10 ml-20 mt-5neg ta-left cursor-pointer" style="font-weight: 100; width: 300px;">Considerar PART TIME por HORA</label>
                        <input type="submit" class="dspl-none" id="btnTypeJornada" />
                    </span>
                </div>*@
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-20
                     @if (itemHeader.TypeJornada == "P"){
                         @: dspl-block
                     }
                     else {
                         @: dspl-none
                     }
                     ">

                        <h3 class="new-family-teamwork mb-30" style="font-weight: 100">Indique Jornada y Horarios detallados PART TIME.</h3>
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 ta-left">
                                @Html.InputAdministrador(
                                    "text",
                                    new string[] {
                                        "class='new-family-teamwork bb-1-solid-200x3 dspl-block mt-20'",
                                        "id='input-add-hs'",
                                        "data-ownerlegends='legends-add-hs'",
                                        "data-fontsizebefore='15px'",
                                        "data-fontsizeafter='12px'",
                                        "data-paddingbefore='27px, none, 11px, none'",
                                        "data-paddingafter='0px, none, none, none'",
                                        "onBlur='handleBlurInput(this)'",
                                        "name='horasSemanales'",
                                        "required",
                                        "autocomplete='off'",
                                        "value='" + itemHeader.NumeroHorasSemanalesPT + "'"
                                    },
                                    new string[] {
                                        "padding-top: 10px",
                                        "padding-bottom: 10px",
                                        "outline: none",
                                        "border: none",
                                        "width: 100%",
                                        "text-transform: uppercase",
                                        "font-weight: 100"
                                    },
                                    "on",
                                    new string[]
                                    {
                                        "<label class='new-family-teamwork dspl-block pdt-27 pdb-11 cursor-pointer color-100x3' onclick='handleFocusInput(this)' style='font-weight: 100; position: absolute; width: 100%; font-size: 15px; text-transform: uppercase;' " +
                                        "data-fontsizeafter='12px' data-fontsizebefore='15px' data-paddingbefore='27px, none, 11px, none' data-paddingafter='0px, none, none, none' data-ownerfocus='input-add-hs' id='legends-add-hs'>Indique hora semanales que va considerar</label>"
                                    }
                                )
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-2 pdt-15">
                                @Html.ButtonAdministracion(
                                    "submit",
                                    new string[] {
                                        "class='dspl-inline-block btn btn-success new-family-teamwork'"
                                    },
                                    new string[]
                                    {
                                        "min-width: 50px",
                                        "height: 50px",
                                        "border: none",
                                        "border-radius: 25px",
                                        "text-align: center",
                                        "font-weight: 100"
                                    },
                                    new string[]
                                    {
                                        "<img src='../../../../Resources/check.svg' width='20' height='20' style='position: relative; left: 1%; margin-top: -5%; margin-right: 3px;' />" +
                                        "<span style='position: relative; float: right;'>Guardar Jornada</span>"
                                    },
                                    true
                                )
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>

                }

            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-20">
                @if (itemHeader.TypeCalculoSueldo == "D" || itemHeader.TypeCalculoSueldo == "PTD" || itemHeader.TypeCalculoSueldo == "PTM")
                {
                    using (Ajax.BeginForm("ActualizaDiasSemanales", "Operaciones", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "contentWizards",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loader",

                    }, new { @style = "display: inline-block; width: 100%" }))
                    {
                        <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                        <input type="text" class="dspl-none" name="codigoCargoMod" value="@itemHeader.CodigoCargoMod" />
                        <label class="new-family-teamwork" style="font-size: 20px; font-weight: 100;">Indique la cantidad de dias semanales</label>
                        <input type="number" class="form-control family-teamwork" style="width: 300px; display: inline-block;" name="dia" required value="@itemHeader.NumeroDias" />
                        @Html.ButtonAdministracion(
                            "submit",
                            new string[] {
                                "class='dspl-inline-block btn btn-success new-family-teamwork'"
                            },
                            new string[]
                            {
                                "min-width: 50px",
                                "height: 50px",
                                "border: none",
                                "border-radius: 25px",
                                "text-align: center",
                                "font-weight: 100"
                            },
                            new string[]
                            {
                                "<img src='../../../../Resources/check.svg' width='20' height='20' style='position: relative; left: 1%; margin-top: -5%; margin-right: 3px;' />" +
                                "<span style='position: relative; float: right;'>Guardar Dias</span>"
                            },
                            true
                        )
                    }
                }
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="mt-30">
                    @using (Ajax.BeginForm("ActualizaHorario", "Operaciones", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "contentWizards",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loader"
                    }, new { @style = "display: inline-block; width: 100%" }))
                    {
                        <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                        <input type="text" class="dspl-none" value="@itemHeader.CodigoCargoMod" name="codigoCargoMod" />
                        <textarea name="horarios" id="refereciaHorarios" style="min-height: 200px; max-height: 500px; text-transform: uppercase; font-weight: 100;"
                                    class="form-control new-family-teamwork" data-text-save="@itemHeader.Horarios" onkeypress="handleKeyUpHorarios(this)" placeholder="Indicar Horarios Asociado al cargo Mod">@itemHeader.Horarios</textarea>
                        <button type="submit" class="btn btn-success new-family-teamwork"
                                style="width: 100%; height: 40px; border-radius: 0; text-align: center; color: #fff; float: right; font-weight: 100;">
                            Actualizar Horarios y jornadas detallada
                        </button>
                    }
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-50 mb-100 ta-right">
                @using (Ajax.BeginForm("SiguienteWizards", "Operaciones", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "contentWizards",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loader"
                }, new { @style = "display: block; width: 100%" }))
                {
                    <input type="text" name="tipoEvento" value="@itemHeader.Origen" class="dspl-none" />
                    <input type="text" name="codigoCargoMod" value="@itemHeader.CodigoCargoMod" class="dspl-none" />
                    <input type="text" name="wizards" value="@ViewBag.WizardsNext" class="dspl-none" />
                    <input type="text" name="wizardsActual" value="@ViewBag.WizardsActual" class="dspl-none" />
                    @Html.ButtonAdministracion(
                        "submit",
                        new string[] {
                            "id='button__siguiente'",
                            "class='dspl-inline-block new-family-teamwork'",
                            (itemHeader.TypeJornada == "F") ? itemHeader.Horarios != "" ? "" : "disabled='disabled'" : (itemHeader.TypeJornada == "P" && itemHeader.NumeroHorasSemanalesPT != "" && itemHeader.Horarios != "") ? "" : "disabled='disabled'"
                        },
                        new string[]
                        {
                            "min-width: 50px",
                            "border: none",
                            "text-align: center",
                            "font-weight: 100",
                            "border: 0",
                            "margin: none",
                            "background-color: transparent!important"
                        },
                        new string[]
                        {
                            "<span class='dspl-inline-block'><span style='width: 50px; height: 50px; border-radius: 50%; display: flex; align-items: center; text-align: center;' " +
                            "class='btn " + ((itemHeader.TypeJornada == "F") ?  itemHeader.Horarios != "" ? "btn-teamwork" : "btn-disabled" : (itemHeader.TypeJornada == "P" && itemHeader.NumeroHorasSemanalesPT != "" && itemHeader.Horarios != "") ? "btn-teamwork" : "btn-disabled" ) +
                            " pdt-5 pdr-5 pdb-5 pdl-5'><img src='../../../../Resources/flecha-correcta.svg' width='30' height='30' style='position: relative; left: 10%;' /></span></span>" +
                            "<span class='new-family-teamwork' style='position: relative; float: left; margin-right: 10px; margin-top: 10px; font-size: 20px; font-wight: 100;'>Siguiente</span>"
                        },
                        true
                    )
                }
            </div>
        }
    </div>
}
<script async>

    @if (ViewBag.HtmlMessageResult != null)
    {
        @: setTimeout(() => { document.querySelector('.htmlMessageResult').style.display = 'none' }, 3000)
    }

    handleActiveTextOtherHSFullTime = () => {
        document.getElementById("content__others__hs").classList.add('dspl-inline-block')
        document.getElementById("content__others__hs").classList.remove('dspl-none')
        document.getElementById("input-add-hs").setAttribute("required", "required")
        document.getElementById("button__siguiente").setAttribute("disabled", "disabled")
        document.querySelector("#button__siguiente span > span").classList.add("btn-disabled")
    }

    handleChangeHSJornadaFullTime = (e) => {
        document.getElementById("input-add-hs").removeAttribute("required")
        document.getElementById("btnChangeHSJornadaFullTime").click()
    }

    window.onload = () => {
        formatInput()
    }

    formatInput = () => {
        handleFocusInput(document.getElementById("legends-add-hs"))
    }

    handleChangeTypeSueldo = (e) => {
        document.getElementById("btnTypeCalculoSueldo").click()
    }

    handleChangeTypeSueldoPT = (e) => {
        document.getElementById("btnTypeCalculoSueldoPT").click()
    }

    handleFocusInput = (e) => {
        const padding = e.dataset.paddingafter.split(',')

        if (padding[0] !== 'none') {
            e.style.paddingTop = padding[0]
        }

        if (padding[1] !== 'none') {
            e.style.paddingRight = padding[1]
        }

        if (padding[2] !== 'none') {
            e.style.paddingBottom = padding[2]
        }

        if (padding[3] !== 'none') {
            e.style.paddingLeft = padding[3]
        }

        e.style.transition = "all 0.2s ease-in"
        e.style.fontSize = document.getElementById(e.dataset.ownerfocus).dataset.fontsizeafter
        document.getElementById(e.dataset.ownerfocus).focus()
        document.getElementById(e.dataset.ownerfocus).style.borderBottom = "1px solid #428bca"
        e.style.color = "#428bca"
        document.getElementById(e.dataset.ownerfocus).style.color = "#428bca"
    }

    handleBlurInput = (e) => {
        if (e.value === "") {
            const padding = e.dataset.paddingbefore.split(',')

            if (padding[0] !== 'none') {
                document.getElementById(e.dataset.ownerlegends).style.paddingTop = padding[0]
            }

            if (padding[1] !== 'none') {
                document.getElementById(e.dataset.ownerlegends).style.paddingRight = padding[1]
            }

            if (padding[2] !== 'none') {
                document.getElementById(e.dataset.ownerlegends).style.paddingBottom = padding[2]
            }

            if (padding[3] !== 'none') {
                document.getElementById(e.dataset.ownerlegends).style.paddingLeft = padding[3]
            }

            document.getElementById(e.dataset.ownerlegends).style.fontSize = document.getElementById(e.dataset.ownerlegends).dataset.fontsizebefore
            document.getElementById(e.dataset.ownerlegends).style.transition = "all 0.2s ease-in"
        }

        document.getElementById(e.dataset.ownerlegends).style.color = "rgb(100, 100, 100)"
        e.style.borderBottom = "1px solid rgb(200, 200, 200)"
        e.style.color = "rgb(50, 50, 50)"
    }


    handleClickSelect = (e) => {
        const classList = [...e.classList]
        let active = false

        classList.map(x => {
            if (x === "active__parent__content__select") {
                active = true
            }
        })

        if (!active) {
            e.style.borderBottom = "1px solid #428bca"
            e.style.color = "#428bca"
            e.classList.add("active__parent__content__select")
            e.innerHTML = e.innerHTML.split('▾').join('▴')
            document.getElementById(e.dataset.contentSelect).style.display = "block"
        }
        else {
            e.classList.remove("active__parent__content__select")
            e.style.borderBottom = "1px solid rgb(200, 200, 200)"
            e.style.color = "rgb(100, 100, 100)"
            e.innerHTML = e.innerHTML.split('▴').join('▾')
            document.getElementById(e.dataset.contentSelect).style.display = "none"
        }
    }

    handleClicOptionSelect = (e) => {
        const elementDestino = document.getElementById(e.dataset.contentParent)
        const inputDestino = document.getElementById(e.dataset.destinoConstante)

        elementDestino.innerHTML = elementDestino.innerHTML.split(`${elementDestino.dataset.optionSelected} ▴`).join(`${e.innerHTML} ▾`)
        elementDestino.setAttribute("data-option-selected", e.innerHTML)

        inputDestino.value = e.dataset.optionConstante

        //console.log(e.dataset.optionConstante, e.innerHTML)
    }

    document.querySelector("body").addEventListener("click", (e) => {
        const classList = [...e.target.classList]
        let action = true

        if (classList !== null) {
            classList.map(x => {
                if (x === "parent__content__select__show") {
                    action = false
                }
            })
        }

        if (action) {
            const elementSelect = [...document.getElementsByClassName("select__content__hidden")]
            let hidden = false
            let contentId = ""

            classList.map(x => {
                if (x !== "select__content__hidden") {
                    hidden = true
                }
            })

            if (!hidden) {

                if (e.target.offsetParent !== null) {
                    const parentClassList = [...e.target.offsetParent.classList]

                    parentClassList.map(y => {
                        if (y === "select__content__hidden") {
                            contentId = e.target.offsetParent.id
                        }
                    })
                }

            }

            if (hidden) {
                elementSelect.map(x => {
                    document.getElementById(x.id).style.display = "none"
                    document.getElementById(x.dataset.parentContent).style.borderBottom = "1px solid rgb(200, 200, 200)"
                    document.getElementById(x.dataset.parentContent).style.color = "rgb(100, 100, 100)"
                    document.getElementById(x.dataset.parentContent).innerHTML = document.getElementById(x.dataset.parentContent).innerHTML.split('▴').join('▾')
                    document.getElementById(x.dataset.parentContent).classList.remove("active__parent__content__select")
                })
            }
            else {
                elementSelect.map(x => {
                    if (x.id !== contentId) {
                        document.getElementById(x.id).style.display = "none"
                        document.getElementById(x.dataset.parentContent).style.borderBottom = "1px solid rgb(200, 200, 200)"
                        document.getElementById(x.dataset.parentContent).style.color = "rgb(100, 100, 100)"
                        document.getElementById(x.dataset.parentContent).innerHTML = document.getElementById(x.dataset.parentContent).innerHTML.split('▴').join('▾')
                        document.getElementById(x.dataset.parentContent).classList.remove("active__parent__content__select")
                    }
                })
            }
        }
    })

    /** creacion de mascara para valores separados por miles Ej. => 1.000 */

    eventMaskThousand = (e) => {
        const expReg = /[0-9]/
        if (e !== 'Backspace') {
            if (e.match(expReg)) {
                return maskThousand(e)
            }
            else {
                return maskThousand(e.split(e).join(''))
            }
        }
        else {
            return maskThousand(e)
        }
    }

    maskThousand = (monto) => {
        let maskThousandFormat = ""
        let separator = 0
        let separation = ''

        if (monto.length <= 3) {
            return monto
        }

        const formatNumbers = monto.split('.').join('')

        const numbers = formatNumbers.split('')

        for (let i = numbers.length - 1; i >= 0; i--) {
            if (separator === 3) {
                separation = '.'
                separator = 0
            }

            maskThousandFormat = `${numbers[i]}${separation}${maskThousandFormat}`

            separator = separator + 1
            separation = ''
        }

        return maskThousandFormat
    }

</script>