@using Teamwork.Model.Operaciones
@model List<ProcesoCargaMasiva>

@foreach (ProcesoCargaMasiva item in Model)
{
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
        <a href="@item.Path" id="button__downloadCargaMasiva" class="btn @item.DownloadRenderizadoColor"
           style="border-radius: 50px; height: 80px; min-width: 400px; margin-top: 12px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-15 @item.DownloadRenderizadoGlyphicon" style="display: inline-block;"></i>
            <span style="display: inline-block; margin-top: -68px;">
                <i style="font-family: 'Open Sans Condensed', sans-serif; font-size: 25px; font-style: normal; display: block; margin-bottom: -10px;">@item.DownloadRenderizadoOneTexto</i>
                <i style="font-family: 'Open Sans Condensed', sans-serif; font-size: 25px; font-style: normal; display: block;">@item.DownloadRenderizadoSecTexto</i>
            </span>
        </a>
        <p class="family-teamwork mt-5" style="font-size: 15px;">@item.DownloadRenderizadoMensajeImpt</p>
    </div>
}