@foreach (Teamwork.Model.Operaciones.DashboardFiniquitos item in ViewBag.RenderizadoDashboardFiniquitos)
{
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-right mb-20">
        <a href="@ViewBag.CreadorReportes" class="btn btn-teamwork new-family-teamwork pdt-10 pdb-10 pdl-50 pdr-50 color-fx3" style="font-weight: 100; border-radius: 60px; font-size: 20px;">
            Reporte Finiquitos
        </a>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-8" style="min-height: 150px;">
        <div class="row">
            <div class="col-6 col-sm-3 col-md-12 col-lg-3 anulado" style="padding-left: 0; padding-right: 0;">
                <a href="@ViewBag.ReferenciaReporteExcel&doc=Bajas&estado=CAL" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                @using (Ajax.BeginForm("SolicitudBajas", "Bajas", FormMethod.Post, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "finiquitos",
                    LoadingElementId = "loader",
                    OnComplete = "moveTopFiniquitos"
                }, new { @style = "display: block;" }))
                {
                    <input type="text" name="typeFilter" value="RXN0YWRv" class="dspl-none" />
                    <input type="text" name="filterDatos" value="PLZ" class="dspl-none" />
                    <input type="text" name="pagination" value="MS01" class="dspl-none" />
                    <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                        <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 19px;">Bajas Confirmadas</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg" style="font-size: 23px;">Pendientes de Calculo</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg">Se encuentran para calcular finiquito</p>
                        <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 50px;"><b>@item.BajasConfirmadas</b></h1>
                    </button>
                }
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3 create" style="padding-left: 0; padding-right: 0;">
                <a href="@ViewBag.ReferenciaReporteExcel&doc=Finiquito&estado=DESP" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                @using (Ajax.BeginForm("Finiquitos", "Bajas", FormMethod.Post, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "finiquitos",
                    LoadingElementId = "loader",
                    OnComplete = "moveTopFiniquitos"
                }, new { @style = "display: block;" }))
                {
                    <input type="text" name="typeFilter" value="RXN0YWRv" class="dspl-none" />
                    <input type="text" name="filterDatos" value="DESP" class="dspl-none" />
                    <input type="text" name="pagination" value="MS01" class="dspl-none" />
                    <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                        <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 19px;">Finiquitos</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg" style="font-size: 23px;">En Tránsito</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg">Se encuentran despachados a sucursal</p>
                        <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 50px;"><b>@item.EnTransito</b></h1>
                    </button>
                }
            </div>
            <div class="col-6 col-sm-12 col-md-6 col-lg-6 teamwork" style="padding-left: 0; padding-right: 0;">
                <a href="@ViewBag.ReferenciaReporteExcel&doc=Finiquito&estado=TEFP" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                @using (Ajax.BeginForm("Finiquitos", "Bajas", FormMethod.Post, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "finiquitos",
                    LoadingElementId = "loader",
                    OnComplete = "moveTopFiniquitos"
                }, new { @style = "display: block;" }))
                {
                    <input type="text" name="typeFilter" value="RXN0YWRv" class="dspl-none" />
                    <input type="text" name="filterDatos" value="TEFP" class="dspl-none" />
                    <input type="text" name="pagination" value="MS01" class="dspl-none" />
                    <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                        <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 19px;">Finiquitos</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg" style="font-size: 23px;">TEF Pendientes de Pago</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg">TEF que se encuentran emitidas, pendientes de confirmación pago</p>
                        <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 50px;"><b>@item.TEFPendientesPago</b></h1>
                    </button>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-3 col-md-3 col-lg-4 calculado" style="padding-left: 0; padding-right: 0;">
                <a href="@ViewBag.ReferenciaReporteExcel&doc=Finiquito&estado=CAL" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                @using (Ajax.BeginForm("Finiquitos", "Bajas", FormMethod.Post, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "finiquitos",
                    LoadingElementId = "loader",
                    OnComplete = "moveTopFiniquitos"
                }, new { @style = "display: block;" }))
                {
                    <input type="text" name="typeFilter" value="RXN0YWRv" class="dspl-none" />
                    <input type="text" name="filterDatos" value="CAL" class="dspl-none" />
                    <input type="text" name="pagination" value="MS01" class="dspl-none" />
                    <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                        <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 19px;">Finiquitos</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg" style="font-size: 23px;">Calculados</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg">Se encuentran calculados como finiquitos</p>
                        <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 50px;"><b>@item.Calculados</b></h1>
                    </button>
                }
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 warning" style="min-height: 150px; padding-left: 0; padding-right: 0;">
                <a href="@ViewBag.ReferenciaReporteExcel&doc=Finiquito&estado=VERPCONF" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                @using (Ajax.BeginForm("Finiquitos", "Bajas", FormMethod.Post, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "finiquitos",
                    LoadingElementId = "loader",
                    OnComplete = "moveTopFiniquitos"
                }, new { @style = "display: block;" }))
                {
                    <input type="text" name="typeFilter" value="RXN0YWRv" class="dspl-none" />
                    <input type="text" name="filterDatos" value="VERPCONF" class="dspl-none" />
                    <input type="text" name="pagination" value="MS01" class="dspl-none" />
                    <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                        <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 19px;">Finiquitos</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg" style="font-size: 23px;">Pendientes de Confirmación</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg">Se ha solicitado el pago del finiquito</p>
                        <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 50px;"><b>@item.Confirmados</b></h1>
                    </button>
                }
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 warning" style="min-height: 150px; padding-left: 0; padding-right: 0;">
                <a href="@ViewBag.ReferenciaReporteExcel&doc=Finiquito&estado=CONF" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                @using (Ajax.BeginForm("Finiquitos", "Bajas", FormMethod.Post, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "finiquitos",
                    LoadingElementId = "loader",
                    OnComplete = "moveTopFiniquitos"
                }, new { @style = "display: block;" }))
                {
                    <input type="text" name="typeFilter" value="RXN0YWRv" class="dspl-none" />
                    <input type="text" name="filterDatos" value="CONF" class="dspl-none" />
                    <input type="text" name="pagination" value="MS01" class="dspl-none" />
                    <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                        <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 19px;">Finiquitos</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg" style="font-size: 23px;">Pendientes de Emisión de Pago</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg">Se encuentran disponibles para proceso de pagos</p>
                        <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 50px;"><b>@item.EmisionPago</b></h1>
                    </button>
                }
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
        <div class="row" style="padding-left: 0; padding-right: 0;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row" style="min-height: 161.5px;">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 teamwork" style="padding-left: 0; padding-right: 0;">
                        <a href="@ViewBag.ReferenciaReporteExcel&doc=Finiquito&estado=PPL90" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                        @using (Ajax.BeginForm("Finiquitos", "Bajas", FormMethod.Post, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "finiquitos",
                            LoadingElementId = "loader"
                        }, new { @style = "display: block;" }))
                        {
                            <input type="text" name="typeFilter" value="RXN0YWRv" class="dspl-none" />
                            <input type="text" name="filterDatos" value="PPL90" class="dspl-none" />
                            <input type="text" name="pagination" value="MS01" class="dspl-none" />
                            <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                                <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 19px;">Finiquitos</p>
                                <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg" style="font-size: 23px;">Pendientes de Pago</p>
                                <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg">(Menores a 90 dias de emisión)</p>
                                <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 50px;"><b>@item.PendientePagoL90</b></h1>
                            </button>
                        }
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 danger" style="padding-left: 0; padding-right: 0;">
                        <a href="@ViewBag.ReferenciaReporteExcel&doc=Finiquito&estado=PPT90" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                        @using (Ajax.BeginForm("Finiquitos", "Bajas", FormMethod.Post, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "finiquitos",
                            LoadingElementId = "loader"
                        }, new { @style = "display: block;" }))
                        {
                            <input type="text" name="typeFilter" value="RXN0YWRv" class="dspl-none" />
                            <input type="text" name="filterDatos" value="PPT90" class="dspl-none" />
                            <input type="text" name="pagination" value="MS01" class="dspl-none" />
                            <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                                <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 19px;">Finiquitos</p>
                                <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg" style="font-size: 23px;">Pendientes de Pago</p>
                                <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg">(Mayores o igual a 90 dias de emisión)</p>
                                <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 50px;"><b>@item.PendientePagoT90</b></h1>
                            </button>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 success" style="min-height: 150px; padding-left: 0; padding-right: 0;">
                <a href="@ViewBag.ReferenciaReporteExcel&doc=Finiquito&estado=PAG" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                @using (Ajax.BeginForm("Finiquitos", "Bajas", FormMethod.Post, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "finiquitos",
                    LoadingElementId = "loader"
                }, new { @style = "display: block;" }))
                {
                    <input type="text" name="typeFilter" value="RXN0YWRv" class="dspl-none" />
                    <input type="text" name="filterDatos" value="PAG" class="dspl-none" />
                    <input type="text" name="pagination" value="MS01" class="dspl-none" />
                    <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                        <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 19px;">Finiquitos</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg" style="font-size: 23px;">Pendientes de Notariado</p>
                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-20neg">Considera tanto Finiquitos emitidos y pagos, por transferencias y Cheques</p>
                        <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 50px;"><b>@item.Notariado</b></h1>
                    </button>
                }

            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-10">
        <h1 class="family-teamwork" style="font-size: 40px;">
            <i class="glyphicon-tw-5 glyphicon-tw-grafico"></i> Dashboard Asociado a <b>Complementos</b> TWEST, TWRRHH, TWC
        </h1>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-20" style="min-height: 150px;">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <div class="row">
                    <div class="col-6 col-sm-3 col-md-12 col-lg-12 create" style="padding-left: 0; padding-right: 0;">
                        <a href="@ViewBag.ReferenciaReporteExcel&doc=Complemento&estado=CAL" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                        @using (Ajax.BeginForm("Complementos", "Bajas", FormMethod.Post, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "finiquitos",
                            LoadingElementId = "loader",
                            OnComplete = "moveTopFiniquitos"
                        }, new { @style = "display: block;" }))
                        {
                            <input type="text" name="typeFilter" value="Estado" class="dspl-none" />
                            <input type="text" name="dataFilter" value="CREATE" class="dspl-none" />
                            <input type="text" name="pagination" value="MS01" class="dspl-none" />
                            <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                                <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 12px;">Complementos</p>
                                <p class="family-teamwork color-fx3 mt-10 ta-center mt-10neg" style="font-size: 15px;">Documentos creados</p>
                                <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 20px;"><b>@item.CompCreados</b></h1>
                            </button>
                        }
                    </div>

                </div>
                <div class="row">
                    <div class="col-6 col-sm-3 col-md-12 col-lg-12 warning" style="padding-left: 0; padding-right: 0;">
                        <a href="@ViewBag.ReferenciaReporteExcel&doc=Complemento&estado=VERPCONF" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                        @using (Ajax.BeginForm("Complementos", "Bajas", FormMethod.Post, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "finiquitos",
                            LoadingElementId = "loader",
                            OnComplete = "moveTopFiniquitos"
                        }, new { @style = "display: block;" }))
                        {
                            <input type="text" name="typeFilter" value="Estado" class="dspl-none" />
                            <input type="text" name="dataFilter" value="VERPCONF" class="dspl-none" />
                            <input type="text" name="pagination" value="MS01" class="dspl-none" />
                            <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                                <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 12px;">Complementos</p>
                                <p class="family-teamwork color-fx3 mt-10 ta-center mt-10neg" style="font-size: 15px;">Pendientes de Confirmación</p>
                                <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 20px;"><b>@item.CompPendAuth</b></h1>
                            </button>
                        }
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <div class="row">
                    <div class="col-6 col-sm-3 col-md-12 col-lg-12 teamwork" style="padding-left: 0; padding-right: 0;">
                        <a href="@ViewBag.ReferenciaReporteExcel&doc=Complemento&estado=TEFP" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                        @using (Ajax.BeginForm("Complementos", "Bajas", FormMethod.Post, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "finiquitos",
                            LoadingElementId = "loader",
                            OnComplete = "moveTopFiniquitos"
                        }, new { @style = "display: block;" }))
                        {
                            <input type="text" name="typeFilter" value="RXN0YWRv" class="dspl-none" />
                            <input type="text" name="filterDatos" value="TEFP" class="dspl-none" />
                            <input type="text" name="pagination" value="MS01" class="dspl-none" />
                            <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                                <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 12px;">Complementos</p>
                                <p class="family-teamwork color-fx3 mt-10 ta-center mt-10neg" style="font-size: 15px;">TEF Pendientes de Pago</p>
                                <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 20px;"><b>@item.CompPendPagoTEF</b></h1>
                            </button>
                        }
                    </div>

                </div>
                <div class="row">
                    <div class="col-6 col-sm-3 col-md-12 col-lg-12 warning" style="padding-left: 0; padding-right: 0;">
                        <a href="@ViewBag.ReferenciaReporteExcel&doc=Complemento&estado=CONF" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                        @using (Ajax.BeginForm("Complementos", "Bajas", FormMethod.Post, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "finiquitos",
                            LoadingElementId = "loader",
                            OnComplete = "moveTopFiniquitos"
                        }, new { @style = "display: block;" }))
                        {
                            <input type="text" name="typeFilter" value="RXN0YWRv" class="dspl-none" />
                            <input type="text" name="filterDatos" value="CONF" class="dspl-none" />
                            <input type="text" name="pagination" value="MS01" class="dspl-none" />
                            <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                                <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 12px;">Complementos</p>
                                <p class="family-teamwork color-fx3 mt-10 ta-center mt-10neg" style="font-size: 15px;">Pendientes de Emisión de Pago</p>
                                <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 20px;"><b>@item.CompPendEmiPago</b></h1>
                            </button>
                        }
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-6 col-sm-3 col-md-12 col-lg-6 teamwork" style="padding-left: 0; padding-right: 0;">
                                <a href="@ViewBag.ReferenciaReporteExcel&doc=Complemento&estado=PPL90" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                                @using (Ajax.BeginForm("Complementos", "Bajas", FormMethod.Post, new AjaxOptions()
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "finiquitos",
                                    LoadingElementId = "loader",
                                    OnComplete = "moveTopFiniquitos"
                                }, new { @style = "display: block;" }))
                                {
                                    <input type="text" name="typeFilter" value="RXN0YWRv" class="dspl-none" />
                                    <input type="text" name="filterDatos" value="PPL90" class="dspl-none" />
                                    <input type="text" name="pagination" value="MS01" class="dspl-none" />
                                    <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                                        <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 12px;">Complementos</p>
                                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-10neg" style="font-size: 15px;">Pend. Pago Menor 90 días</p>
                                        <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 20px;"><b>@item.CompPendPagoL90</b></h1>
                                    </button>
                                }
                            </div>
                            <div class="col-6 col-sm-3 col-md-12 col-lg-6 danger" style="padding-left: 0; padding-right: 0;">
                                <a href="@ViewBag.ReferenciaReporteExcel&doc=Complemento&estado=PPL90" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                                @using (Ajax.BeginForm("Complementos", "Bajas", FormMethod.Post, new AjaxOptions()
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "finiquitos",
                                    LoadingElementId = "loader",
                                    OnComplete = "moveTopFiniquitos"
                                }, new { @style = "display: block;" }))
                                {
                                    <input type="text" name="typeFilter" value="RXN0YWRv" class="dspl-none" />
                                    <input type="text" name="filterDatos" value="PPT90" class="dspl-none" />
                                    <input type="text" name="pagination" value="MS01" class="dspl-none" />
                                    <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                                        <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 12px;">Complementos</p>
                                        <p class="family-teamwork color-fx3 mt-10 ta-center mt-10neg" style="font-size: 15px;">Pend. Pago Mayor 90 días</p>
                                        <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 20px;"><b>@item.CompPendPagoT90</b></h1>
                                    </button>
                                }
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6 col-sm-3 col-md-12 col-lg-12 success" style="padding-left: 0; padding-right: 0;">
                        <a href="@ViewBag.ReferenciaReporteExcel&doc=Complemento&estado=PAG" target="_blank" class="glyphicon-tw-excel" style="width: 30px; height: 30px; position: absolute; margin-top: 5px; margin-right: 5px; right: 0px; border: 1px solid #Fff;"></a>
                        @using (Ajax.BeginForm("Complementos", "Bajas", FormMethod.Post, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "finiquitos",
                            LoadingElementId = "loader",
                            OnComplete = "moveTopFiniquitos"
                        }, new { @style = "display: block;" }))
                        {
                            <input type="text" name="typeFilter" value="RXN0YWRv" class="dspl-none" />
                            <input type="text" name="filterDatos" value="CAL" class="dspl-none" />
                            <input type="text" name="pagination" value="MS01" class="dspl-none" />
                            <button type="submit" style="background-color: rgba(0, 0, 0, 0); border: none; width: 100%; display: block;">
                                <p class="family-teamwork color-fx3 mt-10 ta-center" style="font-size: 12px;">Complementos</p>
                                <p class="family-teamwork color-fx3 mt-10 ta-center mt-10neg" style="font-size: 15px;">Pendientes de Notariar</p>
                                <h1 class="family-teamwork ta-center color-fx3 mt-10neg" style="font-size: 20px;"><b>@item.CompNotariar</b></h1>
                            </button>
                        }
                    </div>

                </div>
            </div>

        </div>
    </div>
}
