@*@{
        string prefixApp = "";
        string urlServer = "";
        string controller = "";

        if (!Request.Url.AbsoluteUri.Split('/')[2].Contains("localhost"))
        {
            urlServer = Request.Url.AbsoluteUri.Split('/')[2];
            prefixApp = "/" + Request.Url.AbsoluteUri.Split('/')[3];
            controller = Request.Url.AbsoluteUri.Split('/')[4];
        }
        else if (Request.Url.AbsoluteUri.Split('/')[2].Contains("181.190.6.196"))
        {
            urlServer = "181.190.6.196";
        }
        else
        {
            urlServer = Request.Url.AbsoluteUri.Split('/')[2];
            controller = Request.Url.AbsoluteUri.Split('/')[3];
        }

        ViewBag.PathCodified = Request.Url.AbsoluteUri.Split('/')[0] + "//" + urlServer + prefixApp + "/" + controller + "/Solicitudes/" + ViewData["CodificarCod"];
        ViewBag.PathCodifiedHistorial = Request.Url.AbsoluteUri.Split('/')[0] + "//" + urlServer + prefixApp + "/" + controller + "/Historial";
        ViewBag.PathCodifiedIntegrateSettlement = Request.Url.AbsoluteUri.Split('/')[0] + "//" + urlServer + prefixApp +
            "/Auth/TokenAuth?events=integratesettlement&authorizate=" + ViewData["CodigoSolicitud"] + "&ref=" + ViewData["IntegrateSettlement"];
    }*@

@if ((string)ViewBag.HTMLLoaderError != "")
{
    @Html.Partial("_CompletoGeneric")
}

@if (((List<Teamwork.Model.Operaciones.Proceso>)ViewBag.RenderizadoProcesosContratos).Count > 0)
{
    <table style="width: 92%;" class="m-auto">
        <tbody>
            @foreach (Teamwork.Model.Operaciones.Proceso item in ViewBag.RenderizadoProcesosContratos)
            {

                <tr class="@item.BorderColor br-1-solid-200x3 bb-1-solid-200x3 bt-1-solid-200x3 mb-5">
                    <td style="width: 200px; border-left: none; border-right: none;" class="ta-center">
                        <div class="btn @item.GlyphiconColor" dspl-inline-block mt-80"
                             style="margin-top: -4px; border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 @item.Glyphicon" style="display: inline-block;"></i>
                            <span class="dspl-inline-block mt-15neg">
                                <i class="family-teamwork fst-normal mb-8neg dspl-block" style="font-size: 16px;">@item.Prioridad</i>
                            </span>
                        </div>
                    </td>
                    <td style="border-left: none; border-right: none;">
                        <a href="" style="width: 100%; display: block;">
                            <h1 class="family-teamwork color-100x3 fw-bold" style="font-size: 18px;">@Html.Raw(item.NombreProceso)</h1>
                            <p class="family-teamwork color-100x3 mt-10neg">Creado @item.Creado</p>
                            <p class="family-teamwork color-100x3 mt-15neg">Creado por <i class="fw-bold fst-normal">@item.CreadoPor</i></p>
                            <p class="family-teamwork color-100x3 mt-15neg">Asignado a <i class="fw-bold fst-normal">@item.AsignadoA</i></p>
                            <p class="cursor-pointer family-teamwork fs-14 color-100x3 mt-15neg">Este proceso contiene: @Html.Raw(item.TotalesSolicitud)</p>
                            <p class="cursor-pointer family-teamwork lh-16 color-100x3 fs-14 mt-15neg">Este proceso se encuentra @Html.Raw(item.Estado)</p>
                            <p class="cursor-pointer family-teamwork lh-16 fs-14 mt-15neg @item.ColorFont">Comentarios del proceso: @Html.Raw(item.Comentarios)</p>
                        </a>
                    </td>
                    <td style="width: 40%; border-left: none; border-right: none; text-align: right; padding-right: 20px;">
                        <!-- Anular solicitud -->
                        <a href="@item.PathExcelSolicitud" class="btn btn-success"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-excel" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Descargar Excel</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                    font-size: 14px; font-style: normal; display: block;">Solicitud Contrato</i>
                            </span>
                        </a>
                        <!-- asignar solicitud -->
                        <!-- Proceso origen solicitud -->
                        <!-- Historial solicitud -->
                        <!-- Terminar solicitud -->
                        <!-- Revertir termino solicitud -->
                        <!-- asignar ejecutivo solicitud -->
                        <!-- asignar proceso solicitud -->

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <img src="~/Resources/sinresultados.png" style="width: 100px;" class="dspl-block m-auto" />
    <h1 class="family-teamwork ta-center color-70x3 mt-10ne">Ups, Lo sentimos! No se ha encontrado lo que esta buscando!</h1>
    <h1 class="family-teamwork ta-center color-70x3 mt-10neg" style="font-size: 50px;">Sistema de Procesos de Contratos</h1>
}

<div class="row ta-center mt-30">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        @Html.Partial("Teamwork/_PaginationContratosProcesos")
    </div>
</div>
