@switch ((string)ViewBag.OptionConfirmacionEvent)
{
    case "IniciarProcesoMasivoPago":
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h2 class="family-teamwork">¿Quiere iniciar el proceso masivo de pagos?</h2>
                <p class="family-teamwork">
                    Los pagos que estan en estado emitido serán incluidos en este proceso masivo de pagos, de los cuales podrá excluir y agregar según le sea más conveniente.
                </p>
                @using (Ajax.BeginForm("IniciarProcesoMasivoPago", "Finanzas", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "confirmacionEvent",
                    LoadingElementId = "loader"
                }))
                {
                    <input type="text" name="codigoProceso" value="@ViewBag.CodigoProceso" class="dspl-none" />
                    <button type="submit" class="btn btn-success"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Iniciar Proceso</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">Masivo de Pago</i>
                        </span>
                    </button>
                }

                <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                   style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                    </span>
                </a>
            </div>
        </div>
        break;
    case "InitProcesoLoading":
        <script>
            window.location.href = "@ViewBag.RedireccionarProcesoMasivo";
        </script>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h2 class="family-teamwork">Estamos iniciando el proceso masivo...</h2>
                <p class="family-teamwork">
                    Estamos trabajando para poder mostrarle el proceso masivo de pago, espere un momento.
                </p>
            </div>
        </div>
        break;
    case "IncluirPagoProceso":
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h2 class="family-teamwork">¿Quiere incluir el pago del proceso?</h2>
                <p class="family-teamwork">
                    El pago sera incluido del proceso de pago masivo por ende será pagado y notariado si es que fuera el caso.
                </p>
                @using (Ajax.BeginForm("IncluirPagoProcesoMasivo", "Finanzas", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "confirmacionEvent",
                    LoadingElementId = "loader"
                }))
                {
                    <input type="text" name="codigoProceso" value="@ViewBag.CodigoProceso" class="dspl-none" />
                    <input type="text" name="codigoPago" value="@ViewBag.CodigoPago" class="dspl-none" />
                    <button type="submit" class="btn btn-success"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Incluir Pago</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">Proceso Masivo</i>
                        </span>
                    </button>
                }

                <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                   style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                    </span>
                </a>
            </div>
        </div>
        break;
    case "ExcluirPagoProceso":
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h2 class="family-teamwork">¿Quiere excluir el pago del proceso?</h2>
                <p class="family-teamwork">
                    El pago sera excluido del proceso de pago masivo, pero posteriormente podrás realizar, tantos proceso masivos como pagos pendientes tengas disponibles.
                </p>
                @using (Ajax.BeginForm("ExcluirPagoProcesoMasivo", "Finanzas", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "confirmacionEvent",
                    LoadingElementId = "loader"
                }))
                {
                    <input type="text" name="codigoProceso" value="@ViewBag.CodigoProceso" class="dspl-none" />
                    <input type="text" name="codigoPago" value="@ViewBag.CodigoPago" class="dspl-none" />
                    <button type="submit" class="btn btn-success"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Excluir Pago</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">Proceso Masivo</i>
                        </span>
                    </button>
                }

                <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                   style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                    </span>
                </a>
            </div>
        </div>
        break;
    case "EventoConfirmadoRedir":
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <img src="~/Resources/check.png" style="width: 50px; border-radius: 50%;" class="success m-auto dspl-block" />
                <h2 class="family-teamwork">@ViewBag.Message</h2>
                <a href="@ViewBag.RedireccionarProcesoMasivo" class="btn btn-success"
                   style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-actualizar" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Entiendo y</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Actualizar</i>
                    </span>
                </a>
            </div>
        </div>
        break;
    case "PagarMasivo":
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
                <h2 class="family-teamwork">¿Quiere proceder a pagar mediante proceso masivo?</h2>
                <p class="family-teamwork">
                    El pago será procesado de acuerdo a todo lo seleccionado dentro del proceso masivo, el cual será distribuido entre pagado y terminado, segun corresponda.
                </p>
                @using (Ajax.BeginForm("PagarMasivamente", "Finanzas", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "confirmacionEvent",
                    LoadingElementId = "loader"
                }))
                {
                    <input type="text" name="codigoProceso" value="@ViewBag.CodigoProceso" class="dspl-none" />
                    <button type="submit" class="btn btn-success"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Realizar Pago de</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">Proceso Masivo</i>
                        </span>
                    </button>
                }

                <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                   style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                    </span>
                </a>
            </div>
        </div>
        break;
    case "TotalesFiniquito":
        <div class="row">
            <div class="col-1 col-sm-2 col-md-2 col-lg-3"></div>
            <div class="col-10 col-sm-8 col-md-8 col-lg-6 ta-center">
                @foreach (Teamwork.Model.Finanzas.MontosTotales item in ViewBag.RenderizadoMontosTotales)
                {
                    <table border="1" cellspacing="0" cellpadding="5" style="width: 100%; border: 1px solid #fff;" class="family-teamwork mb-10 teamwork color-fx3">
                        <tr>
                            <td style="width: 50%;">Vacaciones (Feriado Proporcional)</td>
                            <td style="width: 10%;">+</td>
                            <td>@item.FeriadoProporcional</td>
                        </tr>
                        <tr>
                            <td>Haberes</td>
                            <td style="width: 10%;">+</td>
                            <td>@item.Haberes</td>
                        </tr>
                        <tr>
                            <td>Bono</td>
                            <td style="width: 10%;">+</td>
                            <td>@item.Bono</td>
                        </tr>
                        <tr>
                            <td>Indemnización Voluntaria</td>
                            <td style="width: 10%;">+</td>
                            <td>@item.IndemnizacionVoluntaria</td>
                        </tr>
                        <tr>
                            <td>Mes de Aviso</td>
                            <td style="width: 10%;">+</td>
                            <td>@item.MesAviso</td>
                        </tr>
                        <tr>
                            <td>Indemnización Por Años de Servicio (IAS)</td>
                            <td style="width: 10%;">+</td>
                            <td>@item.IAS</td>
                        </tr>
                    </table>
                    <table border="1" cellspacing="0" cellpadding="5" style="width: 100%; border: 1px solid #fff;" class="family-teamwork mb-5 warning">
                        <tr>
                            <td style="width: 50%;">Sub Total</td>
                            <td style="width: 10%;">=</td>
                            <td>@item.SubTotal</td>
                        </tr>
                    </table>
                    <table border="1" cellspacing="0" cellpadding="5" style="width: 100%; border: 1px solid #fff;" class="family-teamwork mb-10 danger color-fx3">
                        <tr>
                            <td style="width: 50%;">Descuentos</td>
                            <td style="width: 10%;">-</td>
                            <td>@item.Descuentos</td>
                        </tr>
                    </table>
                    <table border="1" cellspacing="0" cellpadding="5" style="width: 100%; border: 1px solid #fff;" class="family-teamwork mb-10 warning">
                        <tr>
                            <td style="width: 50%;">Total Finiquito</td>
                            <td style="width: 10%;">=</td>
                            <td>@item.TotalFiniquito</td>
                        </tr>
                    </table>
                    <table border="1" cellspacing="0" cellpadding="5" style="width: 100%; border: 1px solid #fff;" class="family-teamwork mb-10 teamwork color-fx3">
                        <tr>
                            <td style="width: 50%;">Gasto Administrativo</td>
                            <td style="width: 10%;">+</td>
                            <td>@item.GastoAdministrativo</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: left;">Informativo asociado al gasto administrativo: <b>@item.Comentarios</b></td>
                        </tr>
                    </table>
                    <table border="1" cellspacing="0" cellpadding="5" style="width: 100%; border: 1px solid #fff;" class="family-teamwork mb-10 success color-fx3">
                        <tr>
                            <td style="width: 50%;">Total Pago</td>
                            <td style="width: 10%;">=</td>
                            <td><b>@item.TotalPago</b></td>
                        </tr>
                    </table>
                }

                <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
                   style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                    </span>
                </a>
            </div>
            <div class="col-1 col-sm-2 col-md-2 col-lg-3"></div>
        </div>
        break;
}