@if ((string)ViewBag.RenderizadoEmisionPago == "N")
{
    <div class="col-12 col-sm-12 col-lg-12 col-md-12 mt-40">
        <div class="row" style="width: 100%;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <select class="form-control family-teamwork" style="width: 200px; display: inline-block;" id="typeFilter" name="typeFilter">
                    <option value="bm9uZQ==">Seleccione Filtro</option>
                    <option value="UnV0VHJhYmFqYWRvcg==">Folio</option>
                    <option value="RW1wcmVzYQ==">Rut Trabajador</option>
                    <option value="RW1wcmVzYQ==">Empresa</option>
                </select>
                <input type="text" class="form-control family-teamwork dspl-none" style="width: 300px;" id="filterDatos" name="filterDatos" />
                <button type="submit" class="btn btn-teamwork dspl-none" id="btnBuscarSolicitud"
                        style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-buscar" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Buscar</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Solicitudes</i>
                    </span>
                </button>
                <a href="#" class="btn btn-warning eventRestore dspl-inline-block" style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-deshacer" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Restablecer</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block;">Solicitudes</i>
                    </span>
                </a>
                @using (Ajax.BeginForm("EmitirProcesoPago", "Finanzas", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "procesoPago",
                    InsertionMode = InsertionMode.Replace
                }, new { @style = "display: inline-block;" }))
                {
                    <input type="text" name="codigoMetodoPago" value="@ViewBag.ReferenciaCodigoMetodoPago" class="dspl-none" />
                    <input type="text" name="codigoProceso" value="@ViewBag.ReferenciaCodigoProceso" class="dspl-none" />
                    <button type="submit" class="btn btn-success" style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Emitir Proceso</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">de pago</i>
                        </span>
                    </button>
                }
                @using (Ajax.BeginForm("SeleccionarTodoProcesoPago", "Finanzas", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "finiquitosConfirmados",
                    InsertionMode = InsertionMode.Replace
                }, new { @style = "display: inline-block;" }))
                {
                    <input type="text" name="codigoMetodoPago" value="@ViewBag.ReferenciaCodigoMetodoPago" class="dspl-none" />
                    <input type="text" name="codigoProceso" value="@ViewBag.ReferenciaCodigoProceso" class="dspl-none" />
                    <button type="submit" class="btn btn-teamwork" style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Seleccionar Todos</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Los Finiquitos</i>
                        </span>
                    </button>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="col-12 col-sm-12 col-lg-12 col-md-12 ta-center mt-40">
        <h1 class="family-teamwork">@ViewBag.RenderizadoEmisionPagoGlosa </h1>
    </div>
    <div class="col-lg-5"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-2 ta-center">
        @using (Ajax.BeginForm("EmitirProcesoPago", "Finanzas", new AjaxOptions()
        {
            HttpMethod = "POST",
            UpdateTargetId = "procesoPago",
            InsertionMode = InsertionMode.Replace
        }))
        {
            <input type="text" name="codigoMetodoPago" value="@ViewBag.ReferenciaCodigoMetodoPago" class="dspl-none" />
            <input type="text" name="codigoProceso" value="@ViewBag.ReferenciaCodigoProceso" class="dspl-none" />
            <Button type="submit" class="dspl-block btn-success" style="width: 100%; min-height: 200px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;">
                <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 22px;">Emitir Proceso</h1>
                <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px;">de pago</h2>
                <div class="glyphicon-tw-check ml-auto mr-auto mt-20 mb-20" style="width: 50px; height: 50px;"></div>
            </Button>
        }
    </div>
    <div class="col-lg-5"></div>
}

@if ((string)ViewBag.RenderizadoEmisionPago == "N")
{
    <table class="ml-auto mr-auto mt-30 mb-100" style="width: 90%;" border="1" cellspacing="1" cellpadding="5">
        <thead class="anulado">
            <tr>
                <td class="family-teamwork ta-center color-fx3">Folio</td>
                <td class="family-teamwork ta-center color-fx3">Rut</td>
                <td class="family-teamwork ta-center color-fx3">Nombre</td>
                <td class="family-teamwork ta-center color-fx3">Empresa</td>
                <td class="family-teamwork ta-center color-fx3">Monto Finiquito</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (AplicacionOperaciones.Models.Finanzas.Pagos item in ViewBag.RenderizadoPagosConfirmados)
            {
                <tr>
                    <td class="family-teamwork ta-center" style="font-size: 20px;">@item.Folio</td>
                    <td class="family-teamwork ta-center" style="font-size: 20px;">@item.Rut</td>
                    <td class="family-teamwork" style="font-size: 20px;">@item.Destintario</td>
                    <td class="family-teamwork ta-center" style="font-size: 20px;">@item.Empresa</td>
                    <td class="family-teamwork fw-bold ta-center success color-fx3" style="font-size: 20px;">@item.Monto</td>
                    <td>
                        @using (Ajax.BeginForm("SeleccionIndividual", "Finanzas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "finiquitosConfirmados",
                            InsertionMode = InsertionMode.Replace
                        }, new { @style = "display: inline-block;" }))
                        {
                            <input type="text" name="codigoProceso" value="@ViewBag.ReferenciaCodigoProceso" class="dspl-none" />
                            <input type="text" name="codigoMetodoPago" value="@ViewBag.ReferenciaCodigoMetodoPago" class="dspl-none" />
                            <input type="text" name="codigoPago" value="@item.CodigoPago" class="dspl-none" />
                            <button type="submit" class="btn btn-success" style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Incluir Finiquito</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">En proceso de pago</i>
                                </span>
                            </button>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@*@foreach (AplicacionOperaciones.Models.Finanzas.Pagos item in ViewBag.RenderizadoPagosConfirmados)
    {
        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
            @using (Ajax.BeginForm("IncoporarToProceso", "Finanzas", new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "finiquitosConfirmados",
                InsertionMode = InsertionMode.Replace
            }))
            {
                <input type="text" name="codigoProceso" value="@ViewBag.ReferenciaCodigoProceso" class="dspl-none" />
                <input type="text" name="codigoPago" value="@item.CodigoPago" class="dspl-none" />
                <input type="text" name="codigoMetodoPago" value="@ViewBag.ReferenciaCodigoMetodoPago" class="dspl-none" />
                <Button type="submit" class="dspl-block btn-teamwork" style="width: 100%; min-height: 200px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;">
                    <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 22px;">@item.Destintario</h1>
                    <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px;">@item.Rut</h2>
                    <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px;">Empresa</h2>
                    <h2 class="family-teamwork ta-center mt-10neg color-fx3 fw-bold" style="font-size: 19px;">@item.Empresa</h2>
                    <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px;">Folio Referencia</h2>
                    <h2 class="family-teamwork ta-center mt-10neg color-fx3 fw-bold" style="font-size: 19px;">@item.Folio</h2>
                    <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px;">Monto Finiquito</h2>
                    <h2 class="family-teamwork ta-center mt-10neg color-fx3 fw-bold" style="font-size: 25px;">@item.Monto</h2>
                    <div class="glyphicon-tw-cheque ml-auto mr-auto mt-20 mb-20" style="width: 50px; height: 50px;"></div>
                </Button>

            }
        </div>

    }*@