@foreach(AplicacionOperaciones.Models.Finanzas.PlantillaCheque item in ViewBag.RenderizadoPlantillaCheques)
{
    <div style="width: 21.7cm; height: 28cm; page-break-before: always;">
        <div style="width: 21.7cm; display: inline-block; margin-top: 0.6cm; border: 1px solid rgba(0, 0, 0, 0); height: 21cm;">
            <div style=" margin-top: 7cm; float: right;">
                <h1 style="font-family: Arial; font-size: 15px;">GENERACION DE CHEQUE PARA PAGO FINIQUITO @item.Empresa</h1>
                <p style="font-family: Arial; font-size: 11px;">
                    @Html.Raw(item.Comprobante)
                    <img src="@item.Base64Barcode" style="width: 250px; height: 40px; display: block;" />
                </p>
            </div>
        </div>
        <div style="height: 7cm; float: left; width: 21.7cm;">
            <div style="width: 5.6cm; display: inline-block; height: 7cm; vertical-align: top;">
                <p style="font-family: Arial; font-size: 0.2cm; margin-top: 2cm; width: 6cm; margin-left: 0.5cm;">
                    @Html.Raw(item.Comprobante)
                    <img src="@item.Base64Barcode" style="width: 4.5cm; height: 1cm; display: block;" />
                </p>
            </div>
            <div style="width: 16cm; display: inline-block; height: 7cm; vertical-align: top;">
                <p style="font-family: Arial; font-size: 0.3cm; height: 0.7cm; border: 1px solid rgba(0, 0, 0, 0); margin-left: 10.1cm; margin-top: 0.3cm; width: 5.7cm;">
                    @Html.Raw(item.Monto)
                </p>
                <p style="font-family: Arial; width: 6.8cm; margin-left: 9cm; margin-top: 0.2cm; border: 1px solid rgba(0, 0, 0, 0); height: 0.7cm;">   
                    @Html.Raw(item.Ciudad)
                    <span style="width: 1cm;  display: inline-block; margin-left: 0.2cm; font-size: 0.3cm;">    
                        @Html.Raw(item.Dia)
                    </span>
                    <span style="width: 1cm;  display: inline-block; margin-left: 0.2cm; font-size: 0.3cm;">
                        @Html.Raw(item.Mes)
                    </span>
                    <span style="width: 1.9cm; margin-left: 0.2cm; display: inline-block; font-size: 0.3cm;">
                        @Html.Raw(item.Year)
                    </span>
                </p>
                <p style="font-family: Arial; font-size: 0.3cm; border: 1px solid rgba(0, 0, 0, 0); margin-left: 2.4cm; margin-top: 0cm; width: 12.9cm; height: 0.4cm;">
                   @Html.Raw(item.Beneficiario)
                </p>
                <p style="font-family: Arial; font-size: 0.3cm; border: 1px solid rgba(0, 0, 0, 0); margin-left: 2.4cm; margin-top: -0.1cm; width: 12.9cm; height: 0.4cm;">
                    @Html.Raw(item.CifraFirst)
                </p>
                <p style="font-family: Arial; font-size: 0.3cm; border: 1px solid rgba(0, 0, 0, 0); margin-left: 1.2cm; margin-top: -0.1cm; width: 12.9cm; height: 0.4cm;">
                    @Html.Raw(item.CifraSecond)
                </p>
                <p style="margin-top: 1cm; margin-left: 3.5cm; width: 9.6cm; font-size: 0.6cm; border: 1px solid rgba(0, 0, 0, 0); font-weight: bold; font-family: Arial; text-align: left;">
                    @Html.Raw(item.Protegido)
                </p>
            </div>
            
        </div>
    </div>
}