<table style="width: 100%;">
    <tbody>
        @foreach (Teamwork.Model.Finanzas.ProcesosPago item in ViewBag.RenderizadoProcesosPago)
        {
            <tr class="@item.Border br-1-solid-200x3 bb-1-solid-200x3 bt-1-solid-200x3 mb-5">
                <td style="width: 120px; border-left: none; border-right: none;" class="ta-center">
                    <p class="@item.GlyphiconColor family-teamwork color-fx3 fw-bold m-auto" style="font-size: 20px; width: 80px; height: 80px; display: inline-block; border-radius: 50%; vertical-align: middle; display: flex; align-items: center; text-align: center;">
                        <span style="width: 100%; text-align: center; display: block;"></span>
                    </p>
                </td>
                <td style="border-left: none; border-right: none;">
                    <a href="@item.ViewDetalleProceso" style="width: 100%; display: block;">
                        <h1 class="family-teamwork color-100x3 fw-bold" style="font-size: 18px;">@item.NombreProceso</h1>
                        <p class="family-teamwork color-100x3 mt-5neg">Creado <b>@item.Creado</b></p>
                        <p class="family-teamwork color-100x3 mt-15neg">Creado Por <b>@item.CreadoPor</b></p>
                        <p class="family-teamwork color-100x3 mt-5neg">Cantidad de Pagos <b>@item.CantidadPagos</b></p>
                        <p class="family-teamwork color-100x3 mt-15neg">Monto Total Proceso <b>$ @item.TotalProceso</b></p>
                        <p class="family-teamwork color-100x3 mt-5neg">Codigo Referencial @item.CodigoProceso</p>
                    </a>
                </td>
                <td class=" pdr-20" style="width: 40%; border-left: none; border-right: none;">
                    @if (item.OptReportePagos == "S")
                    {
                        <a href="@item.DownloadReportePago" class="btn btn-success"
                           style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-excel" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Descargar Reporte</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Pagos Proceso</i>
                            </span>
                        </a>
                    }

                    
                    @using (Ajax.BeginForm("ReplicaArchivoTEF", "Finanzas", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loader"
                    }))
                    {
                        <input type="text" name="codigoProceso" value="@item.CodigoProceso" class="dspl-none" />
                        <button type="submit" class="btn btn-success"
                                style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-excel" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Replicar Excel</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block;">TEF/Deposito</i>
                            </span>
                        </button>
                    }

                    @if (item.OptIniciarProcesoMasivoPago == "S")
                    {
                        using (Ajax.BeginForm("ConfirmarEvento", "Finanzas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "confirmacionEvent",
                            OnSuccess = "ModalConfirmacionEvent",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" name="codigoProceso" value="@item.CodigoProceso" class="dspl-none" />
                            <input type="text" name="option" value="IniciarProcesoMasivoPago" class="dspl-none" />
                            <button type="submit" class="btn btn-teamwork"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-dinero" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Inicar Proceso</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">de Pago Masivo</i>
                                </span>
                            </button>
                        }
                    }

                    @if (item.OptContinarProcesoMasivoPago == "S")
                    {
                        using (Ajax.BeginForm("ConfirmarEvento", "Finanzas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "confirmacionEvent",
                            OnSuccess = "ModalConfirmacionEvent",
                            LoadingElementId = "loader"
                        }))
                        {
                            <a href="@item.EnlaceContinuarProcesoMasivo" class="btn btn-warning"
                               style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #000;">
                                <i class="glyphicon-tw-7 glyphicon-tw-dinero" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Continuar Proceso</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">de Pago Masivo</i>
                                </span>
                            </a>
                        }
                    }
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="mt-40 mb-100 ta-center">
    @Html.Partial("Teamwork/_PaginationProcesoPagos")
</div>
