@if (((List<AplicacionOperaciones.Models.Finiquitos.SolicitudTransferencia>)ViewBag.RenderizadoTransferencias).Count > 0)
{
    <table border="1" cellspacing="0" cellpadding="5" style="width: 100%;" class="family-teamwork mb-100">
        <thead>
            <tr>
                <td class="ta-center" rowspan="2">Tipo Documento</td>
                <td class="ta-center" rowspan="2">
                    Rut Trabajador
                    @using (Ajax.BeginForm("ActualizarTEFConfirmadas", "Finanzas", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "transferenciasConfirmadas",
                        LoadingElementId = "loader",
                        OnComplete = "handleClickOrderBy('#button__orderby__rut', '" + ViewBag.OrderByTefConfirmadasRut + "')"
                    }))
                    {
                        <input type="text" name="typeFilter" value="Rut" class="dspl-none" />
                        <input type="text" name="dataFilter" value="@ViewBag.DataFilterTefConfirmadas" class="dspl-none" />
                        <input type="text" name="orderByRut" value="@ViewBag.OrderByTefConfirmadasRut" class="dspl-none" />
                        <input type="text" name="orderByNombres" value="@ViewBag.OrderByTefConfirmadasNombres" class="dspl-none" />
                        <input type="text" name="tipoPago" value="@ViewBag.ReferenciaMetodoPago" class="dspl-none" />
                        <input type="text" name="codigoProceso" value="@ViewBag.ReferenciaCodigoProceso" class="dspl-none" />
                        <input type="text" name="typeTEF" value="@ViewBag.TypeTEF" class="dspl-none" />
                        @Html.ButtonAdministracion(
                            "submit",
                            new string[] {
                                "class='dspl-inline-block btn btn-teamwork'",
                                "id='button__orderby__rut'"
                            },
                            new string[]
                            {
                                "width: 30px",
                                "height: 30px",
                                "border: none",
                                "border-radius: 50%",
                                "text-align: center",
                                "margin-left: 5px;"
                            },
                            new string[]
                            {
                                "<span style='color: #fff; margin-left: -3px; margin-top: -2px; display: block;'>▾</span>"
                            },
                            true
                        )
                    }
                </td>
                <td class="ta-center" rowspan="2">
                    Nombre Trabajador
                    @using (Ajax.BeginForm("ActualizarTEFConfirmadas", "Finanzas", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "transferenciasConfirmadas",
                        LoadingElementId = "loader",
                        OnComplete = "handleClickOrderBy('#button__orderby__nombres', '" + ViewBag.OrderByTefConfirmadasNombres + "')"
                    }))
                    {
                        <input type="text" name="typeFilter" value="Nombres" class="dspl-none" />
                        <input type="text" name="dataFilter" value="@ViewBag.DataFilterTefConfirmadas" class="dspl-none" />
                        <input type="text" name="orderByRut" value="@ViewBag.OrderByTefConfirmadasRut" class="dspl-none" />
                        <input type="text" name="orderByNombres" value="@ViewBag.OrderByTefConfirmadasNombres" class="dspl-none" />
                        <input type="text" name="tipoPago" value="@ViewBag.ReferenciaMetodoPago" class="dspl-none" />
                        <input type="text" name="codigoProceso" value="@ViewBag.ReferenciaCodigoProceso" class="dspl-none" />
                        <input type="text" name="typeTEF" value="@ViewBag.TypeTEF" class="dspl-none" />
                        @Html.ButtonAdministracion(
                            "submit",
                            new string[] {
                                "class='dspl-inline-block btn btn-teamwork'",
                                "id='button__orderby__nombres'"
                            },
                            new string[]
                            {
                                "width: 30px",
                                "height: 30px",
                                "border: none",
                                "border-radius: 50%",
                                "text-align: center",
                                "margin-left: 5px;"
                            },
                            new string[]
                            {
                                "<span style='color: #fff; margin-left: -3px; margin-top: -2px; display: block;'>▾</span>"
                            },
                            true
                        )
                    }

                </td>
                <td class="ta-center" rowspan="2">Banco</td>
                <td class="ta-center" rowspan="2">Numero Cuenta</td>
                <td class="ta-center" colspan="2">Montos Asociados</td>
                <td class="ta-center" rowspan="2">Total Pago</td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td class="ta-center">Total Documento</td>
                <td class="ta-center">Gasto Adm.</td>
            </tr>
        </thead>
        <tbody>
            
            @foreach (AplicacionOperaciones.Models.Finiquitos.SolicitudTransferencia item in ViewBag.RenderizadoTransferencias)
            {
                <tr>
                    <td class="ta-center">@item.Documento</td>
                    <td class="ta-center">@item.Rut</td>
                    <td class="ta-center">@item.Nombres</td>
                    <td class="ta-center">@item.Banco</td>
                    <td class="ta-center">@item.Cuenta</td>
                    <td class="ta-center" style="font-size: 20px;">@item.TotalFiniquito</td>
                    <td class="ta-center" style="font-size: 20px;">@item.GastoAdministrativo</td>
                    <td class="ta-center" style="font-size: 20px;">@item.TotalPago</td>
                    <td>
                        @switch (item.Origen)
                        {
                            case "FNQ":
                                using (Ajax.BeginForm("ConfirmarEvento", "Finanzas", new AjaxOptions()
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "confirmacionEvent",
                                    OnSuccess = "ModalConfirmacionEvent",
                                    LoadingElementId = "loader"
                                }))
                                {
                                    <input type="text" name="option" value="TotalesFiniquito" class="dspl-none" />
                                    <input type="text" name="codigoPago" value="@item.CodigoPago" class="dspl-none" />
                                    <input type="text" name="typeTEF" value="@ViewBag.TypeTEF" class="dspl-none" />
                                    <button type="submit" class="btn btn-teamwork"
                                            style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                                        <i class="glyphicon-tw-7 glyphicon-tw-calculado" style="display: inline-block;"></i>
                                        <span style="display: inline-block; margin-top: -7px;">
                                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Montos Totales</i>
                                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">Del Finiquitos</i>
                                        </span>
                                    </button>
                                }
                                break;
                        }

                        @using (Ajax.BeginForm("IncorporarTransferenciaPago", "Finanzas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "transferenciasConfirmadas",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" name="codigoProceso" value="@ViewBag.ReferenciaCodigoProceso" class="dspl-none" />
                            <input type="text" name="codigoPago" value="@item.CodigoPago" class="dspl-none" />
                            <input type="text" name="tipoPago" value="@ViewBag.ReferenciaMetodoPago" class="dspl-none" />
                            <input type="text" name="origen" value="@item.Origen" class="dspl-none" />
                            <input type="text" name="typeTEF" value="@ViewBag.TypeTEF" class="dspl-none" />
                            <button type="submit" class="btn btn-success"
                                    style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-add2" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Agregar TEF/Deposito</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Proceso de Pago</i>
                                </span>
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <img src="~/Resources/sinresultados.png" style="width: 100px;" class="dspl-block m-auto" />
    <h1 class="family-teamwork ta-center color-70x3 mt-10ne">No se han encontrado TEF/Depositos Confirmados para</h1>
    <h1 class="family-teamwork ta-center color-70x3 mt-10neg" style="font-size: 50px;">TRANSFERENCIAS</h1>
    <p class="family-teamwork ta-center">Puedes actualizar los finiquitos confirmados</p>
    <div class="ta-center">
        @using (Ajax.BeginForm("ActualizarTEFConfirmadas", "Finanzas", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "transferenciasConfirmadas",
            LoadingElementId = "loader"
        }))
        {
            <input type="text" name="typeTEF" value="@ViewBag.TypeTEF" class="dspl-none" />
            <button type="submit" class="btn btn-warning"
                    style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 glyphicon-tw-actualizar" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Actualizar TEF/Depositos</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Confirmados</i>
                </span>
            </button>
        }
    </div>
}

<script async>

    handleClickOrderBy = (target, orderBy) => {
        document.querySelector(`${target} span`).innerHTML = orderBy === "ASC" ? "▴" : "▾";
    }

</script>