<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        @Html.Partial("Finanzas/_DetalleProcesoPendiente")
    </div>
</div>
@if (((List<AplicacionOperaciones.Models.Finanzas.ValeVista>)ViewBag.RenderizadoValeVista).Count > 0)
{
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <table border="1" cellspacing="0" cellpadding="5" style="width: 100%;" class="family-teamwork">
                <thead>
                    <tr>
                        <td class="ta-center"></td>
                        <td class="ta-center">Tipo Documento</td>
                        <td class="ta-center">Rut Trabajador</td>
                        <td class="ta-center">Nombre Trabajador</td>
                        <td class="ta-center">Total Pago</td>
                        <td rowspan="2"></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AplicacionOperaciones.Models.Finanzas.ValeVista item in ViewBag.RenderizadoValeVista)
                    {
                    <tr>
                        <td class="ta-center @item.ColorNotariado"><img src="~/Resources/@item.Notariado" style="width: 30px;" /></td>
                        <td class="ta-center">@item.Documento</td>
                        <td class="ta-center">@item.Rut</td>
                        <td class="ta-center">@item.Nombre</td>
                        <td class="ta-center" style="font-size: 20px;">@item.TotalPago</td>
                        <td>
                            @switch (item.Origen)
                            {
                                case "FNQ":
                                    using (Ajax.BeginForm("ConfirmarEvento", "Finanzas", new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "confirmacionEvent",
                                        OnSuccess = "ModalConfirmacionEvent",
                                        LoadingElementId = "loader"
                                    }))
                                    {
                                        <input type="text" name="option" value="TotalesFiniquito" class="dspl-none" />
                                        <input type="text" name="codigoPago" value="@item.CodigoVV" class="dspl-none" />
                                        <button type="submit" class="btn btn-teamwork"
                                                style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                                            <i class="glyphicon-tw-7 glyphicon-tw-calculado" style="display: inline-block;"></i>
                                            <span style="display: inline-block; margin-top: -7px;">
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Montos Totales</i>
                                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">Del Finiquitos</i>
                                            </span>
                                        </button>
                                    }
                                    break;
                            }


                            @if (item.OptRevertirIncorporacionTefPago == "S")
                            {
                                using (Ajax.BeginForm("RevertirIncorporacionValeVistaPago", "Finanzas", new AjaxOptions()
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "transferenciasConfirmadas",
                                    LoadingElementId = "loader"
                                }))
                                {
                                    <input type="text" name="codigoProceso" value="@ViewBag.ReferenciaCodigoProceso" class="dspl-none" />
                                    <input type="text" name="codigoPago" value="@item.CodigoVV" class="dspl-none" />
                                    <input type="text" name="tipoPago" value="@ViewBag.ReferenciaMetodoPago" class="dspl-none" />
                                    <input type="text" name="origen" value="@item.Origen" class="dspl-none" />
                                    <button type="submit" class="btn btn-anulado"
                                            style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                                        <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                        <span style="display: inline-block; margin-top: -7px;">
                                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Revertir Incorporación</i>
                                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block;">Proceso de Pago</i>
                                        </span>
                                    </button>
                                }
                            }

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <img src="~/Resources/sinresultados.png" style="width: 100px;" class="dspl-block m-auto" />
    <h1 class="family-teamwork ta-center color-70x3 mt-10ne">No se han encontrado finiquitos en proceso para pago por</h1>
    <h1 class="family-teamwork ta-center color-70x3 mt-10neg" style="font-size: 50px;">TRANSFERENCIAS</h1>
}
