<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-7">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 class="family-teamwork">Contenedor de Despacho</h1>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    @using (Ajax.BeginForm("AnularBoxDespacho", "Finanzas", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "contentDespacho",
                        LoadingElementId = "loader"
                    }))
                    {
                        <input type="text" name="codigoProceso" class="dspl-none" value="@ViewBag.ReferenciaCodigoProceso" />
                        <button type="submit" class="btn btn-danger"
                                style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Anular Contenedor</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block;">De Despacho</i>
                            </span>
                        </button>
                    }
                    @using (Ajax.BeginForm("SeleccionarSucursalDespacho", "Finanzas", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "contentDespacho",
                        LoadingElementId = "loader"
                    }))
                    {
                        <input type="text" name="codigoProceso" class="dspl-none" value="@ViewBag.ReferenciaCodigoProceso" />
                        <button type="submit" class="btn btn-success"
                                style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Terminar y Despachar</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block;">Contenedor</i>
                            </span>
                        </button>
                    }
                </div>
                @foreach (AplicacionOperaciones.Models.Finanzas.DatosDespacho item in ViewBag.RenderizadoDatosDespacho)
                {
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="family-teamwork" style="font-size: 18px;">Codigo Despacho: @item.CodigoDespacho</p>
                        <p class="family-teamwork mt-15neg">Fecha Preparacion de Despacho: @item.FechaApertura</p>
                        <p class="family-teamwork mt-15neg">Hora Preparacion de Despacho: @item.HoraApertura horas</p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="family-teamwork" style="font-size: 18px;">Cantidad Incluida: @item.Cantidad Documentos</p>
                    </div>
                    }
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <table border="1" cellspacing="0" cellpadding="5" class="family-teamwork" style="width: 98%;">
                        <thead>
                            <tr>
                                <td></td>
                                <td class="ta-center">Info. Despacho</td>
                                <td class="ta-center">Info. Documento</td>
                                <td class="ta-center">Monto</td>
                                <td>
                                    
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (AplicacionOperaciones.Models.Finanzas.Despacho item in ViewBag.RenderizadoDespachos)
                            {
                                <tr>
                                    <td class="success ta-center">
                                        @switch (item.TipoDocumento)
                                        {
                                            case "CHQ":
                                                <img src="~/Resources/cheque.png" style="width: 30px;" />
                                                break;
                                        }
                                    </td>
                                    <td class="ta-left" style="font-size: 13px;">Codigo Despacho: @item.CodigoDespacho <br />Codigo Documento: @item.CodigoDocumento</td>
                                    <td class="ta-left" style="font-size: 13px;">Folio de Calculo: @item.Folio <br />Persona Asociada: @item.Beneficiario </td>
                                    <td class="ta-center">@item.Monto</td>
                                    <td class="ta-center">
                                        @using (Ajax.BeginForm("RemoveDocumentoBoxDespacho", "Finanzas", new AjaxOptions()
                                        {
                                            HttpMethod = "POST",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "contentDespacho",
                                            LoadingElementId = "loader"
                                        }))
                                        {
                                            <input type="text" name="codigoPago" class="dspl-none" value="@item.CodigoDocumento" />
                                            <input type="text" name="codigoProceso" class="dspl-none" value="@item.CodigoDespacho" />
                                            <button type="submit" class="btn btn-anulado"
                                                    style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                                                <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                                <span style="display: inline-block; margin-top: -7px;">
                                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Quitar</i>
                                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block;">Documento</i>
                                                </span>
                                            </button>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 ta-center">
            <img src="~/Resources/row-top-right.png" class="dspl-inline-block mt-70" style="width: 100px;" />
            <img src="~/Resources/caja-abierta.png" class="dspl-inline-block mt-40" style="width: 150px; " />
            <div>
                <img src="~/Resources/ilustracionlecturacheque.jpg" style="width: 200px;" />
                <img src="~/Resources/ilustracionlecturadocumentos.jpg" style="width: 200px;" />
            </div>
            <div>
                @if (ViewBag.ReferenciaHtmlMessage != "")
                {
                    <h1 class="family-teamwork">@ViewBag.ReferenciaHtmlMessage</h1>
                }
            </div>
            <div style="border: 1px dashed rgb(150, 150, 150); width: 92%; height: 80px;" class="mt-40">
                <h1 class="family-teamwork" style="color: rgb(100, 100, 100); font-size: 18px;">¿No puedes realizar la léctura del código de barra?</h1>
                <h1 class="family-teamwork" style="color: rgb(100, 100, 100); font-size: 18px;">Haz clic en este apartado y vuelve a realizar la léctura</h1>
                @using (Ajax.BeginForm("AgregarContenidoContenedorDespacho", "Finanzas", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "contentDespacho",
                    LoadingElementId = "loader"
                }, new { @style = "display: block;" }))
                {
                    <input type="text" name="codigoProceso" class="dspl-none" value="@ViewBag.ReferenciaCodigoProceso" />
                    <input type="text" name="barcode" class="dspl-block mt-75neg cursor-pointer" autofocus style="width: 100%; height: 80px; position: relative; background-color: transparent; border: none; outline: none; color: transparent;" />
                    <input type="submit" class="dspl-none" id="btnEventBarcodeDespacho" />
                }
            </div>
        </div>
    </div>
</div>