@if (ViewBag.Redireccionamiento != "" && ViewBag.Redireccionamiento != null)
{
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-120">
        <img src="~/Resources/svg/050-form.svg" class="dspl-block ml-auto mr-auto" width="150" height="150" />
        <h1 class="family-teamwork ta-center">
            @if (ViewBag.TipoEvento == "Uw==")
            {
                @: Espere un momento, Estamos preparando su ambiente para cotización!
            }

            @if (ViewBag.TipoEvento == "RQ==")
            {
                @: Espere un momento, Estamos preparando su ambiente para cargo mod!
            }
        </h1>
        <h2 class="family-teamwork ta-center">Lo estamos redireccionando en este momento...</h2>
    </div>
    <script async>
        setTimeout(() => {
            window.location.href = "@ViewBag.Redireccionamiento"
        }, 200)
    </script>
}
else
{
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-120">
        <h1 class="family-teamwork ta-center">
            @if (ViewBag.TipoEvento == "Uw==")
            {
                @: ¿Seleccione el cliente asociado a la cotización?
            }

            @if (ViewBag.TipoEvento == "RQ==")
            {
                @: ¿Seleccione el cliente asociado al cargo mod?
            }

        </h1>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 mt-50 ml-auto mr-auto" style="display: flex; padding-left: 0; padding-right: 0;">
        <div id="content-complete-autocomplete-cli" style="visibility: hidden; position: absolute; z-index: 9; top: 0; left: 20px; width: 100%; border: 1px solid rgb(200, 200, 200); padding-top: .5%; padding-bottom: .5%;
                background-color: rgb(240, 240, if;" class="ml-auto mr-auto">
            <div onclick="handleClickEnabledCLI()" style="visibility: visible; background-color: rgb(240, 240, 240);">
                <span disabled="disabled" id="enabled-cli" class="dspl-block m-auto pdl-5 pdr-5 pdt-5 pdb-5 family-teamwork ta-center cursor-pointer
                        br-1-solid-200x3 bb-1-solid-200x3 bt-1-solid-200x3 bl-1-solid-200x3" style="width: 99%; font-size: 17px;">SELECCIONE CLIENTE &#x25BE;</span>
            </div>
            <div id="content-busqueda-autocomplete-cli" style="visibility: hidden;">
                @using (Ajax.BeginForm("AutocompleteClientes", "Finanzas", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                    UpdateTargetId = "contentElementAutocomplete-cli",
                    InsertionMode = InsertionMode.Replace
                }, new { @style = "display: block;" }))
                {
                    <input type="text" class="dspl-none" name="empresa" value="@ViewBag.EmpresaMandante" />
                    <input type="text" name="dataFilter" onkeyup="handleKeyUpAutocompleteCLI()" id="busqueda-automplete-cli" autocomplete="off" class="dspl-block m-auto pdl-30 pdr-5 pdt-5 pdb-5 family-teamwork" style="width: 99%;" placeholder="Buscar cliente" />
                    <i class="glyphicon-tw-buscarselect" style="margin-left: 10px; margin-top: -30px; width: 20px; height: 20px; position: absolute;"></i>
                    <input type="submit" id="btnAutocompletecli" class="dspl-none" />
                }
            </div>
            <div id="content-element-autocomplete-cli" class="m-auto family-teamwork" style="visibility: hidden; height: 400px; background-color: #fff; width: 99%; overflow-y: scroll; ">
                <div id="contentElementAutocomplete-cli">
                    @Html.Partial("Teamwork/_ClientesElementAutocomplete")
                </div>
            </div>
        </div>
        <div class="mt-100">
            <h1 class="family-teamwork color-100x3">
                @Html.Raw(ViewBag.TypeAmbiente)
            </h1>
            <h1 class="family-teamwork color-100x3">
                Empresa Teamwork Mandante : @ViewBag.EmpresaMandante
            </h1>
            <span id="contentClienteMandanteSeleccionado">
            </span>
            <p class="family-teamwork color-100x3 pdl-10 bl-5-solid-24017378 mt-10">
                Información importante: <br/>
                Al seleccionar el cliente no podrá ser modificado en etapas posteriores, si por algun motivo hay un error en el cliente que se seleccione, la creación tendrá que realizarse nuevamente, y la solicitud con
                error debe ser eliminada por usted, entendiendo esto, acepta y comprende esta información.
            </p>
        </div>
        <span class="btn btn-success cursor-pointer family-teamwork" id="contentActionActualizar" onclick="handleClickActualizaCliente()" style="text-transform: uppercase; position: fixed; left: 0; bottom: 0; height: 60px; z-index: 99999; display: flex; width: 100%; border-radius: 0px; visibility: hidden;">
            @using (Ajax.BeginForm("ActualizarCliente", Session["Profile"].ToString() == "Finanzas" ? "Finanzas" : "Operaciones", new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "contentCreate",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "loader"
            }, new { @style = "display: block; width: 100%;" }))
            {
                if (ViewBag.TipoEvento == "Uw==")
                {
                    @: Seleccionar Cliente para cotización
                }

                if (ViewBag.TipoEvento == "RQ==")
                {
                    @: Seleccionar Cliente para cargo mod
                }
                <input type="text" name="tipoEvento" value="@ViewBag.TipoEvento" class="dspl-none" />
                <input type="text" name="cliente" value="" id="cliCodigo" class="dspl-none" />
                <input type="text" name="codigoSolicitud" value="@ViewBag.CodigoSolicitud" class="dspl-none" />
                <input type="submit" id="btnSolicitarCargo" class="dspl-none" />
            }
        </span>
    </div>
}

<script async>

    /** Funcion para conversión de triangulo top y triangulo bottom */

    handleClickActualizaCliente = () => {
        document.getElementById("btnSolicitarCargo").click()
    }

    convertTriangleTopBottom = (element) => {
        return element.split(' ▾').join('').split(' ▴').join('')
    }

    handleKeyUpAutocompleteCLI = () => {
        document.getElementById("btnAutocompletecli").click()
    }

    handleClickOptionCLI = (e) => {
        const contentBusquedaAutocompleteCLI = document.getElementById("content-busqueda-autocomplete-cli")
        const contentElementAutocompleteCLI = document.getElementById("content-element-autocomplete-cli")
        const contentCompleteAutocompleteCLI = document.getElementById("content-complete-autocomplete-cli")
        const elementSelectAutocompleteCLI = document.getElementById("enabled-cli")

        document.getElementById("cliCodigo").value = e.value
        elementSelectAutocompleteCLI.innerHTML = `${e.dataset.htmlValue} &#x25BE;`

        const BottomTriangle = `${convertTriangleTopBottom(elementSelectAutocompleteCLI.innerHTML)} &#x25BE;`
        contentElementAutocompleteCLI.style.visibility = 'hidden'
        contentBusquedaAutocompleteCLI.style.visibility = 'hidden'
        contentCompleteAutocompleteCLI.style.visibility = 'hidden'
        elementSelectAutocompleteCLI.innerHTML = BottomTriangle
        document.getElementById("contentActionActualizar").style.visibility = "visible"
        document.getElementById("contentClienteMandanteSeleccionado").innerHTML = 
        `
        <span class="family-teamwork color-100x3 pdl-10 bl-5-solid-9218492 dspl-block" style="font-size: 19px;">
            El siguiente cliente ha sido seleccionado y va ser asignado a la solicitud que esta a punto de crear, el cliente es el siguiente: <br/>
            ${convertTriangleTopBottom(elementSelectAutocompleteCLI.innerHTML)}
        </span>
        `
    }

    handleClickEnabledCLI = () => {
        const contentBusquedaAutocompleteCLI = document.getElementById("content-busqueda-autocomplete-cli")
        const contentElementAutocompleteCLI = document.getElementById("content-element-autocomplete-cli")
        const contentCompleteAutocompleteCLI = document.getElementById("content-complete-autocomplete-cli")

        const elementSelectAutocompleteCLI = document.getElementById("enabled-cli")

        if (contentBusquedaAutocompleteCLI.style.visibility === "hidden") {
            const topTriangle = `${convertTriangleTopBottom(elementSelectAutocompleteCLI.innerHTML)} &#x25B4;`
            contentElementAutocompleteCLI.style.visibility = 'visible'
            contentBusquedaAutocompleteCLI.style.visibility = 'visible'
            contentCompleteAutocompleteCLI.style.visibility = 'visible'
            elementSelectAutocompleteCLI.innerHTML = topTriangle
        }
        else {
            const BottomTriangle = `${convertTriangleTopBottom(elementSelectAutocompleteCLI.innerHTML)} &#x25BE;`
            contentElementAutocompleteCLI.style.visibility = 'hidden'
            contentBusquedaAutocompleteCLI.style.visibility = 'hidden'
            contentCompleteAutocompleteCLI.style.visibility = 'hidden'
            elementSelectAutocompleteCLI.innerHTML = BottomTriangle
        }
    }

</script>