@if (((List<AplicacionOperaciones.Models.Finanzas.SolicTEF>)ViewBag.RenderizadoPagosMasivosInc).Count > 0)
{
    <table border="1" cellspacing="0" cellpadding="5" style="width: 100%;" class="family-teamwork">
        <tbody>
            <tr>
                <td class="ta-center">Solicitud</td>
                <td class="ta-center">Creado</td>
                <td class="ta-center">Cuentas</td>
                <td class="ta-center">Monto Pago</td>
                <td class="ta-center"></td>
            </tr>
            @foreach (AplicacionOperaciones.Models.Finanzas.SolicTEF item in ViewBag.RenderizadoPagosMasivosInc)
            {
                <tr>
                    <td class="ta-center">@item.NombreSolicitud</td>
                    <td class="ta-center">@item.Creado</td>
                    <td class="ta-center">Destino: @item.CuentaDestino <br /> Origen: @item.CuentaOrigen</td>
                    <td class="ta-center" style="font-size: 20px;">@item.MontoTotal</td>
                    <td>
                        @if ((string)item.OptExcluir == "S")
                        {
                            using (Ajax.BeginForm("ConfirmarEvento", "Finanzas", new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "confirmacionEvent",
                                OnSuccess = "ModalConfirmacionEvent",
                                LoadingElementId = "loader"
                            }))
                            {
                                <input type="text" name="option" value="ExcluirPagoProceso" class="dspl-none" />
                                <input type="text" class="dspl-none" name="codigoProceso" value="@ViewBag.CodigoProceso" />
                                <input type="text" class="dspl-none" name="codigoPago" value="@item.CodigoTEF" />
                                <button type="submit" class="btn btn-danger"
                                        style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                    <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                    <span style="display: inline-block; margin-top: -7px;">
                                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Excluir Pago</i>
                                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Proceso Masivo</i>
                                    </span>
                                </button>
                            }

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row mt-30">
        <div class="col-lg-2"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
            <img src="~/Resources/sinresultados.png" style="width: 100px;" class="dspl-block m-auto" />
            <h1 class="family-teamwork ta-center color-70x3 mt-10ne">No se han encontrado Pagos Incluidos</h1>
            <h1 class="family-teamwork ta-center color-70x3 mt-10neg" style="font-size: 50px;">PROCESO MASIVO</h1>
        </div>
        <div class="col-lg-2"></div>
    </div>
}