<div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;" class="success dspl-inline-block glyphicon-tw-check"></div>
    <div style="width: 100px; height: 5px;" class="success dspl-inline-block"></div>
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;" class="success dspl-inline-block glyphicon-tw-check"></div>
    <div style="width: 100px; height: 5px;" class="success dspl-inline-block"></div>
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;"  class="success dspl-inline-block glyphicon-tw-check"></div>
    <div style="width: 100px; height: 5px;" class="success dspl-inline-block"></div>
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;" class="warning dspl-inline-block glyphicon-tw-excel"></div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
    <div style="width: 100px; border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Selección de Tipo de Pago
    </div>
    <div style="width: 60px; height: 5px;" class="dspl-inline-block"></div>
    <div style="width: 100px;border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Incorporación de Transferencias
    </div>
    <div style="width: 60px; height: 5px;" class="dspl-inline-block"></div>
    <div style="width: 100px; border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Confirmación de Incorporaciones
    </div>
    <div style="width: 60px; height: 5px;" class="dspl-inline-block"></div>
    <div style="width: 100px; border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Obtención de Archivo de transferencias
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="family-teamwork"><i class="glyphicon-tw-5 glyphicon-tw-transferbank"></i> Proceso de pago por transferencia: Seleccionar cuenta bancaria de origen TEF</h1>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    @using (Ajax.BeginForm("ConfirmacionProcesoTEF", "Finanzas", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "procesoPago",
        LoadingElementId = "loader"
    }))
    {
        <input type="text" name="codigoProceso" value="@ViewBag.ReferenciaCodigoProceso" class="dspl-none" />
        <input type="text" name="typeTEF" value="@ViewBag.TypeTEF" class="dspl-none" />
        <button type="submit" class="btn btn-danger"
                style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-reasignar" style="display: inline-block;"></i>
            <span style="display: inline-block; margin-top: -7px;">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Volver a Confirmación de</i>
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Transferencias en Proceso</i>
            </span>
        </button>
    }
</div>
<div class="col-lg-1 col-md-1"></div>
<div class="col-12 col-sm-12 col-md-10 col-lg-10 mt-30 ta-center">
    @using (Ajax.BeginForm("SeleccionarCuentaBancariaOrigen", "Finanzas", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "procesoPago",
        LoadingElementId = "loader"
    }, new { @style = "display: block;" }))
    {
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <img src="/Resources/cuentabancaria.png" class="ml-auto mr-auto dspl-inline-block" style="width: 100px;">
                <select class="form-control form-control-lg family-teamwork ta-center mt-30" style="width: 100%; text-align: center;" required name="numeroCuenta">
                    <option value="">Seleccione la cuenta bancaria de origen para el proceso de transferencia</option>
                    @foreach (AplicacionOperaciones.Models.Finanzas.CuentasOrigen item in ViewBag.RenderizadoCuentasOrigenDDL)
                    {
                        <option value="@item.NumeroCuenta">@item.RutCuenta - @item.NumeroCuenta - @item.GlosaCuenta</option>
                    }
                </select>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-30">
                <input type="text" name="codigoProceso" value="@ViewBag.ReferenciaCodigoProceso" class="dspl-none" />
                <button type="submit" class="btn btn-success" id="btnBuscarCuentas"
                        style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Terminar y Obtener</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Archivo de Transferencias</i>
                    </span>
                </button>
            </div>
        </div>
    }

</div>
<div class="col-lg-1 col-md-1"></div>