<a href="#" class="@ViewData["ColorEvent"] color-fx3 ta-center fw-bold dspl-inline-block mt-5 cursor-pointer eventAdministrarCuenta"
        style="width: @ViewData["Tamaño"]; height: @ViewData["Tamaño"]; border-radius: 50%; padding-top: 13px;" 
   data-codificar="@ViewData["Id"]">
    @ViewData["Codigo"]
</a>