<a href="#" id="codigoCli" class="@ViewData["ColorEvent"] color-fx3 ta-center fw-bold dspl-inline-block mt-5 pdt-27 cursor-pointer eventAdministrarCuenta"
   style="width: @ViewData["Tamaño"]; height: @ViewData["Tamaño"]; border-radius: 50%; font-size: 30px;"
   data-codificar="@ViewData["Id"]">
    @ViewData["Codigo"]
</a>
