<div class="col-12 col-sm-12 col-md-12 col-lg-6 mt-5">
    <div style="width: 30%;" class="warning color-fx3 pdl-20 pdr-20 pdt-10 pdb-10 dspl-inline-block">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-12 ta-center">
                <a href="#" data-analista="@ViewData["UsuarioContratos"]" data-estado="" data-tipoestado="" data-tipo="@ViewData["TipoProceso"]" 
                    class="dspl-block text-decoration-none color-fx3 eventFiltrarEspecifico" style="width: 100%;">
                    <h1 class="family-teamwork">@ViewData["Total"]</h1>
                    <h1 class="family-teamwork mt-10neg" style="font-size: 15px;">SOLICITUDES DE</h1>
                    <h1 class="family-teamwork mt-10neg fw-bold" style="font-size: 25px;">@ViewData["Concepto"]</h1>
                </a>
            </div>
        </div>
    </div>
    <div style="width: 69%;" class="teamwork color-fx3 pdl-20 pdr-20 pdt-10 pdb-10 dspl-inline-block">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 ta-center">
                <h1 class="family-teamwork">@ViewData["Twest"]</h1>
                <h1 class="family-teamwork mt-10neg" style="font-size: 15px;">SOLICITUDES</h1>
                <h1 class="family-teamwork mt-10neg fw-bold" style="font-size: 25px;">TWEST</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 ta-center">
                <h1 class="family-teamwork">@ViewData["Twrrhh"]</h1>
                <h1 class="family-teamwork mt-10neg" style="font-size: 15px;">SOLICITUDES</h1>
                <h1 class="family-teamwork mt-10neg fw-bold" style="font-size: 25px;">TWRRHH</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 ta-center">
                <h1 class="family-teamwork">@ViewData["Twc"]</h1>
                <h1 class="family-teamwork mt-10neg" style="font-size: 15px;">SOLICITUDES</h1>
                <h1 class="family-teamwork mt-10neg fw-bold" style="font-size: 25px;">TWC</h1>
            </div>
        </div>
    </div>
</div>