<div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 pdl-5 pdr-5">
                    <div class="mb-5" style="width: 100%; background-color: rgb(240, 240, 240); border: 1px solid rgb(200, 200, 200); min-height: 100px;">
                        <div class="row" style="width: 98%;">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-10">
                                <h2 class="family-teamwork ta-center fw-bold color-100x3 mt-10 mb-10neg" style="font-size: 20px;">TOTAL SOLICITUDES</h2>
                                <h1 class="family-teamwork fw-bold color-428BCA ta-center" style="font-size: 50px;">@ViewBag.TotalSolicitudes</h1>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">    
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <h2 class="family-teamwork ta-center fw-bold color-100x3 mb-3neg" style="font-size: 17px;">CONTRATOS</h2>
                                        <h1 class="family-teamwork fw-bold color-428BCA ta-center" style="font-size: 20px;">@ViewBag.TotalSolContratos</h1>
                                        <div class="w3-dark-grey ml-auto mr-auto" style="width: 80%;">
                                            <div class="w3-blue" style="height: 3px; width: @ViewBag.PercentageSolContratos"]"></div>
                                        </div>
                                        <h1 class="family-teamwork fw-bold color-100x3 ta-center mb-20" style="font-size: 18px;">@ViewBag.PercentageSolContratos</h1>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <h2 class="family-teamwork ta-center fw-bold color-100x3 mb-3neg" style="font-size: 17px;">RENOVACIONES</h2>
                                        <h1 class="family-teamwork fw-bold color-428BCA ta-center" style="font-size: 20px;">@ViewBag.TotalSolRenovaciones</h1>
                                        <div class="w3-dark-grey ml-auto mr-auto" style="width: 80%;">
                                            <div class="w3-blue" style="height:3px; width: @ViewBag.PercentageSolRenovaciones"]"></div>
                                        </div>
                                        <h1 class="family-teamwork fw-bold color-100x3 ta-center mb-20" style="font-size: 18px;">@ViewBag.PercentageSolRenovaciones</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 pdl-5 pdr-5">
                    <div class="mb-5" style="width: 100%; background-color: rgb(240, 240, 240); border: 1px solid rgb(200, 200, 200); min-height: 100px;">
                        <div class="row" style="width: 98%;">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-10">
                                <h2 class="family-teamwork ta-center fw-bold color-100x3 mt-10 mb-10neg" style="font-size: 20px;">TOTAL PROCESOS</h2>
                                <h1 class="family-teamwork fw-bold color-428BCA ta-center" style="font-size: 50px;">@ViewBag.TotalProcesos</h1>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <h2 class="family-teamwork ta-center fw-bold color-100x3 mb-3neg" style="font-size: 17px;">CONTRATOS</h2>
                                        <h1 class="family-teamwork fw-bold color-428BCA ta-center" style="font-size: 20px;">@ViewBag.TotalProcContratos</h1>
                                        <div class="w3-dark-grey ml-auto mr-auto" style="width: 80%;">
                                            <div class="w3-blue" style="height:3px; width: @ViewBag.PercentageProcContratos"></div>
                                        </div>
                                        <h1 class="family-teamwork fw-bold color-100x3 ta-center mb-20" style="font-size: 18px;">@ViewBag.PercentageProcContratos</h1>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <h2 class="family-teamwork ta-center fw-bold color-100x3 mb-3neg" style="font-size: 17px;">RENOVACIONES</h2>
                                        <h1 class="family-teamwork fw-bold color-428BCA ta-center" style="font-size: 20px;">@ViewBag.TotalProcRenovaciones</h1>
                                        <div class="w3-dark-grey ml-auto mr-auto" style="width: 80%;">
                                            <div class="w3-blue" style="height:3px; width: @ViewBag.PercentageProcRenovaciones"></div>
                                        </div>
                                        <h1 class="family-teamwork fw-bold color-100x3 ta-center mb-20" style="font-size: 18px;">@ViewBag.PercentageProcRenovaciones</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-10">
            <div class="nav nav-tabs" id="nav-tab" role="tablist" style="border: 0;">
                
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-10 tab-content" id="nav-tabContent">
            
        </div>
    </div>
</div>