<div class="row mt-100" style="width: 92%; margin: auto;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
            <i class="glyphicon-tw-5 glyphicon-tw-documento"></i> 
            <span class="mt-10neg fs-20 dspl-inline-block">Solicitud Contrato<br />
            <span class="mt-5neg fs-30 dspl-inline-block @ViewData["ColorFont"]">@ViewData["NombreSolicitud"]</span></span>
        </h1>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="btn @ViewData["GlyphiconColor"] dspl-inline-block"
             style="margin-top: -4px; border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-calendario" style="display: inline-block;"></i>
            <span class="dspl-inline-block mt-12neg">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 16px; font-style: normal; display: block; margin-bottom: -8px;">@ViewData["Creado"]</i>
            </span>
        </div>
        <div class="btn @ViewData["GlyphiconColor"] dspl-inline-block"
             style="margin-top: -4px; border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-usuarios" style="display: inline-block;"></i>
            <span class="dspl-inline-block mt-12neg">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 16px; font-style: normal; display: block; margin-bottom: -8px;">Creado por @ViewData["EjecutivoCarga"]</i>
            </span>
        </div>
        <div class="btn @ViewData["GlyphiconColor"] dspl-inline-block"
             style="margin-top: -4px; border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-usuarios" style="display: inline-block;"></i>
            <span class="dspl-inline-block mt-12neg">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 16px; font-style: normal; display: block; margin-bottom: -8px;">Kam de la cuenta @ViewData["EjecutivoName"]</i>
            </span>
        </div>
        <div class="btn @ViewData["GlyphiconColor"] dspl-inline-block"
             style="margin-top: -4px; border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 @ViewData["Glyphicon"]" style="display: inline-block;"></i>
            <span class="dspl-inline-block mt-12neg">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 16px; font-style: normal; display: block; margin-bottom: -8px;">Solicitud Con Prioridad @ViewData["Prioridad"]</i>
            </span>
        </div>
        <div class="btn @ViewData["GlyphiconColor"] dspl-inline-block"
             style="margin-top: -4px; border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-usuarios" style="display: inline-block;"></i>
            <span class="dspl-inline-block mt-12neg">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 16px; font-style: normal; display: block; margin-bottom: -8px;">Analista de Contratos @ViewData["AnalistaContratos"]</i>
            </span>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-20">
        <p class="family-teamwork color-100x3">
            Nombre del proceso
        </p>
        <p class="family-teamwork fs-20 @ViewData["ColorFont"] mt-20neg">
            @ViewData["NombreProceso"]
        </p>
        <p class="family-teamwork color-100x3 mt-10neg">
            Comentarios asociados a la solicitud
        </p>
        <p class="family-teamwork fs-20 @ViewData["ColorFont"] mt-20neg">
            @Html.Raw(ViewData["Comentarios"])
        </p>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="family-teamwork">Datos asociados a la solicitud de contrato</h2>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 mb-100">
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Centro de Negocio</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["BusinessCenter"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Observaciones Carga</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["AuthStatement"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Via Rapida</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["FastTrack"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Rut</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Rut"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Nombres</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Nombre"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Apellido Paterno</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["NativeSurname"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Apellido Materno</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Surname"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Email</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Email"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Fecha de Nacimiento</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Birthdate"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Estado Civil</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["CivilState"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Genero</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Gender"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Dirección</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Address"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Comuna</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Comuna"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Ciudad</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Ciudad"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Nacionalidad</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Country"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Numero de Telefono</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Phone"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Salud</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Salud"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Monto Isapre</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["MontoIsapre"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">AFP</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Afp"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">% AFP</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["PorcentajeAfp"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">% Seguro Mas Comisión AFP</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["PorcentajeSeguroMasComisionAfp"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Banco</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Bank"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Numero de Cuenta</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["BankAccount"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Tipo de Cuenta</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["AccountType"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Profesion</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Profesion"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Ficha Inicio</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["StartDate"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Codigo Caja</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["CodCaja"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Codigo Estudios</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["CodEstudios"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Codigo Sucursal</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["CodCentroCosto"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Codigo Cargo</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["CodCargo"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Numero Hijos</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["NHijos"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Ultimo Empleador</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["UltimoEmpleador"]</p>
            </div>
        </div>

        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Talla Pantalon</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["TallaPantalon"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Talla Polera</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["TallaPolera"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Talla Zapatos</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["TallaZapatos"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Observaciones</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Observaciones"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Categoria</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Categoria"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Tipo Contrato</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["TipoContrato"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Tipo Movimiento</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["TipoMov"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Causal</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Causal"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Observacion</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["ObsCausal"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Fiche Termino</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["FinalDate"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Fecha Inicio Primer Plazo</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["DatePrimPlazoInicio"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Fecha Termino Primer Plazo</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["DatePrimPlazoTermino"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Fecha Inicio Segundo Plazo</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["DateSegPlazoInicio"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Fecha Termino Segundo Plazo</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["DateSegPlazoTermino"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Observaciones</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["ObsMantencion"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Ejecutivo de Cuenta (KAM)</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["EjecutivoName"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Id de Cliente</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["IdCliente"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Horas Semanales</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["HorasTrab"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Horarios</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["HorariosTrab"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Visa</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Visa"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Vencimiento Visa</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["VencVisa"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Colación</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Colacion"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Cargo Real</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["CargoReal"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Reemplazo</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Reemplazo"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Descripcion de Funciones</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["DescripcionFunciones"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Renovación Automática</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["RenovacionAutomatica"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Pasaporte</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Pasaporte"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Empresa</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Empresa"]</p>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>