<div class="row mt-100" style="width: 92%; margin: auto;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
            <i class="glyphicon-tw-5 glyphicon-tw-documento"></i> 
            <span class="mt-10neg fs-20 dspl-inline-block">Solicitud Contrato<br />
            <span class="mt-5neg fs-30 dspl-inline-block @ViewData["ColorFont"]">@ViewData["NombreSolicitud"]</span></span>
        </h1>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="btn @ViewData["GlyphiconColor"] dspl-inline-block"
             style="margin-top: -4px; border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-calendario" style="display: inline-block;"></i>
            <span class="dspl-inline-block mt-12neg">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 16px; font-style: normal; display: block; margin-bottom: -8px;">@ViewData["Creado"]</i>
            </span>
        </div>
        <div class="btn @ViewData["GlyphiconColor"] dspl-inline-block"
             style="margin-top: -4px; border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-usuarios" style="display: inline-block;"></i>
            <span class="dspl-inline-block mt-12neg">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 16px; font-style: normal; display: block; margin-bottom: -8px;">Creado por @ViewData["EjecutivoCarga"]</i>
            </span>
        </div>
        <div class="btn @ViewData["GlyphiconColor"] dspl-inline-block"
             style="margin-top: -4px; border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-usuarios" style="display: inline-block;"></i>
            <span class="dspl-inline-block mt-12neg">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 16px; font-style: normal; display: block; margin-bottom: -8px;">Kam de la cuenta @ViewData["EjecutivoName"]</i>
            </span>
        </div>
        <div class="btn @ViewData["GlyphiconColor"] dspl-inline-block"
             style="margin-top: -4px; border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 @ViewData["Glyphicon"]" style="display: inline-block;"></i>
            <span class="dspl-inline-block mt-12neg">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 16px; font-style: normal; display: block; margin-bottom: -8px;">Solicitud Con Prioridad @ViewData["Prioridad"]</i>
            </span>
        </div>
        <div class="btn @ViewData["GlyphiconColor"] dspl-inline-block"
             style="margin-top: -4px; border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-usuarios" style="display: inline-block;"></i>
            <span class="dspl-inline-block mt-12neg">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 16px; font-style: normal; display: block; margin-bottom: -8px;">Analista de Contratos @ViewData["AnalistaContratos"]</i>
            </span>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-20">
        <p class="family-teamwork color-100x3">
            Nombre del proceso
        </p>
        <p class="family-teamwork fs-20 @ViewData["ColorFont"] mt-20neg">
            @ViewData["NombreProceso"]
        </p>
        <p class="family-teamwork color-100x3 mt-10neg">
            Comentarios asociados a la solicitud
        </p>
        <p class="family-teamwork fs-20 @ViewData["ColorFont"] mt-20neg">
            @Html.Raw(ViewData["Comentarios"])
        </p>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="family-teamwork">Datos asociados a la solicitud de contrato</h2>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 mb-100">
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Ficha Contrato</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Ficha"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Rut Trabajador</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Rut"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Nombre Completo Trabajador</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["NombreCompleto"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Cargo Mod</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["CargoMod"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Fecha Inicio (Contrato)</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["FechaInicio"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Fecha Termino (Ultima renovación)</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["FechaTermino"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Causal</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Causal"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Fecha Inicio Renovación</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["FechaInicioRenov"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Fecha Termino Renovación</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["FechaTerminoRenov"]</p>
            </div>
        </div>
        <div class="row bb-1-solid-200x3 mt-10">
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <p class="family-teamwork" style="font-size: 25px;">Empresa</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                <p class="fw-bold family-teamwork" style="font-size: 25px;">@ViewData["Empresa"]</p>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
