<div class="row" style="width: 92%; margin: auto;">
    @if (!(bool)ViewData["RenderizaSolicitud"])
    {
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-10">
            <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
                <i class="glyphicon-tw-5 glyphicon-tw-documento"></i> @ViewData["PostTitulo"]
            </h1>
        </div>
    }
    else
    {
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
            <h1 class="family-teamwork" style="font-size: 40px;">
                <i class="glyphicon-tw-5 glyphicon-tw-documento dspl-inline-block mb-3"></i> 
                <i class="fst-normal dspl-inline-block mt-20neg">
                <span class="dspl-block color-100x3" style="font-size: 22px;">@ViewData["PostTitulo"]</span>
                <span class="dspl-block mt-8neg">@ViewData["NombreProceso"]</span></i>
            </h1>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-15">
            <a href="#" class="btn @ViewData["GlyphiconColor"]"
               style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">   
                <i class="glyphicon-tw-7 @ViewData["Glyphicon"]" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -5px;">Proceso en</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Estado @ViewData["Estado"]</i>
                </span>
            </a>
            <a href="#" class="btn @ViewData["GlyphiconColor"]"
               style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">   
                <i class="glyphicon-tw-7 glyphicon-tw-calendario" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -5px;">Proceso creado</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">@ViewData["Creado"]</i>
                </span>
            </a>
            <a href="#" class="btn @ViewData["GlyphiconColor"]"
               style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 glyphicon-tw-usuarios" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -5px;">Kam Asignado</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">@ViewData["EjecutivoKam"]</i>
                </span>
            </a>
            <a href="#" class="btn @ViewData["GlyphiconColor"]"
               style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 glyphicon-tw-usuarios" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -5px;">Creado Por</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">@ViewData["EjecutivoCreador"]</i>
                </span>
            </a>
            <a href="#" class="btn @ViewData["GlyphiconColor"]"
               style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 glyphicon-tw-cliente" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -5px;">Para el area de Negocio</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">@ViewData["Cliente"]</i>
                </span>
            </a>
        </div>
    }
    <div class="col-12 col-sm-12 col-md-12 col-lg-9">
        <label style="font-family: 'Open Sans Condensed', sans-serif; line-height: 5px; display: block;">Aplicar Filtrado de Solicitudes</label>
        <select class="form-control family-teamwork eventSearchSolicitudes" id="search_@ViewData["HtmlSearchElement"]" data-eventClick="@ViewData["HtmlSearchElement"]" style="width: 200px; display: inline-block;">
            <option value="TW9zdHJhciBUb2Rv" data-input="input">Seleccione Filtro</option>
            <option value="RmljaGE=" data-input="input">Ficha</option>
            @*<option value="Tm9tYnJlIFNvbGljaXR1ZA==" data-input="input">Nombre Solicitud</option>
            <option value="RXN0YWRv" data-input="select">Estado/Prioridad</option>
            <option value="RmVjaGEgZGUgQ2FyZ2E=" data-input="input">Fecha de Carga</option>
            <option value="UnV0IFRyYWJhamFkb3I=" data-input="input">Rut Trabajador</option>
            <option value="Tm9tYnJlIFByb2Nlc28=" data-input="input">Nombre Proceso</option>
            <option value="Q2xpZW50ZQ==" data-input="input">Cliente (Area Negocio)</option>*@
        </select>
        <input type="text" id="input_@ViewData["HtmlSearchElement"]" class="form-control dspl-none family-teamwork" style="width: 300px;" />
        <a href="#" class="btn btn-teamwork dspl-none btnEventSearchSolicitudes" id="btnEvent_@ViewData["HtmlSearchElement"]" data-tiposolicitud="@ViewData["TipoSolicitud"]" data-eventElementGet="search"
           data-eventDataGet="@ViewData["HtmlSearchElement"]" data-htmlrenderizado="@ViewData["htmlRenderizado"]" data-htmlpagination="@ViewData["htmlPagination"]"
           style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-buscar" style="display: inline-block;"></i>
            <span style="display: inline-block; margin-top: -7px;">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Buscar</i>
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Solicitudes</i>
            </span>
        </a>
        <a href="#" class="btn btn-warning eventRestore"
           style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-deshacer" style="display: inline-block;"></i>
            <span style="display: inline-block; margin-top: -7px;">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Restablecer</i>
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Solicitudes</i>
            </span>
        </a>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <label style="font-family: 'Open Sans Condensed', sans-serif;
                                      font-size: 14px;
                                      color: rgb(150, 150, 150);">@ViewData["ResultSearch"]</label>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        @foreach (AplicacionOperaciones.Models.Prioridades item in (List<AplicacionOperaciones.Models.Prioridades>)ViewData["RenderizadoPrioridades"])
        {
            <div class="btn @item.GlyphiconColor dspl-inline-block mb-10"
                 style="margin-top: -4px; border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 @item.Glyphicon" style="display: inline-block;"></i>
                <span class="dspl-inline-block mt-12neg">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 16px; font-style: normal; display: block; margin-bottom: -8px;">@item.Nombre</i>
                </span>
            </div>
        }
    </div>
</div>
