<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title &bull; Plataforma TeamWork Chile</title>
    <link rel="shortcut icon" href="~/Resources/ico-teamwork.png" />
    <!-- RENDERIZADO DE ESTILOS -->

    @Styles.Render("~/Content/bootstrap.css")

    @Styles.Render("~/Content/teamwork/glyphicon-tw.css")
    @Styles.Render("~/Content/teamwork/form-tw.css")
    @Styles.Render("~/Content/teamwork/btn.css")
    @Styles.Render("~/Content/teamwork/background-color.css")
    @Styles.Render("~/Content/teamwork/background-size.css")
    @Styles.Render("~/Content/teamwork/generic-tw.css")
    @Styles.Render("~/Content/teamwork/color.css")
    @Styles.Render("~/Content/teamwork/display.css")
    @Styles.Render("~/Content/teamwork/height.css")
    @Styles.Render("~/Content/teamwork/margin.css")
    @Styles.Render("~/Content/teamwork/padding.css")
    @Styles.Render("~/Content/teamwork/width.css")
    @Styles.Render("~/Content/teamwork/cursor.css")
    @Styles.Render("~/Content/teamwork/text-decoration.css")
    @Styles.Render("~/Content/teamwork/loader.css")
    @Styles.Render("https://use.fontawesome.com/releases/v5.8.2/css/all.css")
    @Styles.Render("~/MaterialDesign/css/mdb.min.css")
    @Styles.Render("~/Content/teamwork/teamwork-auth.css")

    <!-- RENDERIZADO DE SCRIPTS -->
    @Scripts.Render("~/Scripts/jquery-3.3.1.js")
</head>
<body>
    @RenderBody()

    <!-- RENDERIZADO DE SCRIPTS -->

    @Scripts.Render("~/MaterialDesign/js/popper.min.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/MaterialDesign/js/mdb.min.js")

</body>
</html>