<!DOCTYPE html>
    <html>
    <head>
        <meta name="Access-Control-Allow-Origin" content="http://localhost:46903/" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title &bull; Plataforma TeamWork Chile</title>
        <!-- RENDERIZADO DE ESTILOS -->

        @Styles.Render("~/Content/bootstrap.css")
        @Styles.Render("~/Content/w3.css")

        @Styles.Render("~/Content/teamwork/glyphicon-tw.css")
        @Styles.Render("~/Content/teamwork/form-tw.css")
        @Styles.Render("~/Content/teamwork/btn.css")
        @Styles.Render("~/Content/teamwork/background-color.css")
        @Styles.Render("~/Content/teamwork/background-size.css")
        @Styles.Render("~/Content/teamwork/generic-tw.css")
        @Styles.Render("~/Content/teamwork/color.css")
        @Styles.Render("~/Content/teamwork/display.css")
        @Styles.Render("~/Content/teamwork/height.css")
        @Styles.Render("~/Content/teamwork/margin.css")
        @Styles.Render("~/Content/teamwork/padding.css")
        @Styles.Render("~/Content/teamwork/width.css")
        @Styles.Render("~/Content/teamwork/cursor.css")
        @Styles.Render("~/Content/teamwork/text-decoration.css")
        @Styles.Render("~/Content/teamwork/loader.css")
        @Styles.Render("~/Content/teamwork/menu.css")
        @Styles.Render("~/Content/teamwork/loaderv2.css")
        @Styles.Render("~/Content/owlCarousel/owl.carousel.min.css")
        @Styles.Render("~/Content/teamwork/teamwork-files.css")
        @Styles.Render("~/Content/Chartjs/Chart.min.css")
        @Styles.Render("~/Content/teamwork/Datepicker.css")
        @Styles.Render("~/Content/jquery-ui.css")
        @Styles.Render("~/Content/teamwork/paginator.css")
        @Styles.Render("~/Content/sweetAlert2/sweetAlert.min.css")
        @Styles.Render("~/Content/Switch.css")
        @Styles.Render("~/Content/teamwork/datepicker.css")
        @Styles.Render("~/Content/teamwork/input.css")
        @Styles.Render("~/Content/teamwork/select.css")

        @if (Request.Url.AbsoluteUri.Split('/')[Request.Url.AbsoluteUri.Split('/').Length - 1] == "Informa" &&
             Request.Url.AbsoluteUri.Split('/')[Request.Url.AbsoluteUri.Split('/').Length - 2] == "Teamwork")
        {
            @Styles.Render("~/Content/Editor/samples.css")
            @Styles.Render("~/Scripts/toolbarconfigurator/lib/codemirror/neo.css")
        }

    </head>
    <body>
        @RenderBody()
    </body>
</html>