@if (Convert.ToInt32(ViewBag.NumeroPagina) == 1)
{
    <a href="#" class="family-teamwork height-30 width-40 pdt-5 pdr-10 pdb-5 pdl-10 color-150x3 @ViewBag.HtmlEventAction"
       style="border-radius: 50%;" data-codificado="@ViewBag.FirstItem" data-tiposolicitud="@ViewBag.TipoSolicitud" data-eventsearchget="search" data-eventclick="@ViewBag.HtmlSearchElement"
                                    data-htmlrenderizado="@ViewBag.HtmlRenderizado" data-htmlpaginador="@ViewBag.HtmlPagination">&laquo; Primero</a>

    <a href="#" class="family-teamwork ml-5 mr-5 height-30 width-40 pdt-5 pdr-10 pdb-5 pdl-10 color-150x3 @ViewBag.HtmlEventAction"
       style="border-radius: 50%;" data-codificado="@ViewBag.PreviousItem" data-tiposolicitud="@ViewBag.TipoSolicitud" data-eventsearchget="search" data-eventclick="@ViewBag.HtmlSearchElement"
                                    data-htmlrenderizado="@ViewBag.HtmlRenderizado" data-htmlpaginador="@ViewBag.HtmlPagination">&lsaquo; Anterior</a>

    <a href="#" class="family-teamwork @ViewBag.Active ml-5 mr-5 height-30 width-40 pdt-5 pdr-10 pdb-5 pdl-10 @ViewBag.HtmlEventAction"
       style="border-radius: 50%;" data-codificado="@ViewBag.Codificar" data-tiposolicitud="@ViewBag.TipoSolicitud" data-eventsearchget="search" data-eventclick="@ViewBag.HtmlSearchElement"
                                    data-htmlrenderizado="@ViewBag.HtmlRenderizado" data-htmlpaginador="@ViewBag.HtmlPagination">@ViewBag.NumeroPagina</a>
}
else if (Convert.ToInt32(ViewBag.NumeroPagina) > 0)
{
    <a href="#" class="family-teamwork @ViewBag.Active ml-2 mr-2 height-30 width-40 pdt-5 pdr-10 pdb-5 pdl-10 @ViewBag.HtmlEventAction"
       style="border-radius: 50%;" data-codificado="@ViewBag.Codificar" data-tiposolicitud="@ViewBag.TipoSolicitud" data-eventsearchget="search" data-eventclick="@ViewBag.HtmlSearchElement"
                                    data-htmlrenderizado="@ViewBag.HtmlRenderizado" data-htmlpaginador="@ViewBag.HtmlPagination">@ViewBag.NumeroPagina</a>

    if (Convert.ToInt32(ViewBag.NumeroPagina) == Convert.ToInt32(ViewBag.TotalItems))
    {
        <a href="#" class="family-teamwork height-30 width-40 pdt-5 pdr-10 pdb-5 pdl-10 color-100x3 @ViewBag.HtmlEventAction"
           style="border-radius: 50%;" data-codificado="@ViewBag.NextItem" data-tiposolicitud="@ViewBag.TipoSolicitud" data-eventsearchget="search" data-eventclick="@ViewBag.HtmlSearchElement"
                                    data-htmlrenderizado="@ViewBag.HtmlRenderizado" data-htmlpaginador="@ViewBag.HtmlPagination"> Siguiente &rsaquo;</a>

        <a href="#" class="family-teamwork ml-5 mr-5 height-30 width-40 pdt-5 pdr-10 pdb-5 pdl-10 color-100x3 @ViewBag.HtmlEventAction"
           style="border-radius: 50%;" data-codificado="@ViewBag.LastItem" data-tiposolicitud="@ViewBag.TipoSolicitud" data-eventsearchget="search" data-eventclick="@ViewBag.HtmlSearchElement"
                                    data-htmlrenderizado="@ViewBag.HtmlRenderizado" data-htmlpaginador="@ViewBag.HtmlPagination">Ultimo &raquo;</a>
    }

}