@if (Convert.ToInt16(ViewData["NumeroPagina"]) == 1)
{
    <a href="#" class="family-teamwork height-30 width-40 pdt-5 pdr-10 pdb-5 pdl-10 color-100x3 @ViewData["HtmlEventAction"]"
       style="border-radius: 50%;" data-codificado="@ViewData["FirstItem"]" data-tiposolicitud="@ViewData["TipoSolicitud"]" data-eventsearchget="search" data-eventclick="@ViewData["HtmlSearchElement"]"
                                    data-htmlrenderizado="@ViewData["HtmlRenderizado"]" data-htmlpaginador="@ViewData["HtmlPagination"]">&laquo; Primero</a>

    <a href="#" class="family-teamwork ml-5 mr-5 height-30 width-40 pdt-5 pdr-10 pdb-5 pdl-10 color-100x3 @ViewData["HtmlEventAction"]"
       style="border-radius: 50%;" data-codificado="@ViewData["PreviousItem"]" data-tiposolicitud="@ViewData["TipoSolicitud"]" data-eventsearchget="search" data-eventclick="@ViewData["HtmlSearchElement"]"
                                    data-htmlrenderizado="@ViewData["HtmlRenderizado"]" data-htmlpaginador="@ViewData["HtmlPagination"]">&lsaquo; Anterior</a>

    <a href="#" class="family-teamwork @ViewData["Active"] ml-5 mr-5 height-30 width-40 pdt-5 pdr-10 pdb-5 pdl-10 @ViewData["HtmlEventAction"]"
       style="border-radius: 50%;" data-codificado="@ViewData["Codificar"]" data-tiposolicitud="@ViewData["TipoSolicitud"]" data-eventsearchget="search" data-eventclick="@ViewData["HtmlSearchElement"]"
                                    data-htmlrenderizado="@ViewData["HtmlRenderizado"]" data-htmlpaginador="@ViewData["HtmlPagination"]">@ViewData["NumeroPagina"]</a>
}
else if (Convert.ToInt32(ViewData["NumeroPagina"]) > 0)
{
    <a href="#" class="family-teamwork @ViewData["Active"] ml-2 mr-2 height-30 width-40 pdt-5 pdr-10 pdb-5 pdl-10 @ViewData["HtmlEventAction"]"
       style="border-radius: 50%;" data-codificado="@ViewData["Codificar"]" data-tiposolicitud="@ViewData["TipoSolicitud"]" data-eventsearchget="search" data-eventclick="@ViewData["HtmlSearchElement"]"
                                    data-htmlrenderizado="@ViewData["HtmlRenderizado"]" data-htmlpaginador="@ViewData["HtmlPagination"]">@ViewData["NumeroPagina"]</a>

    if (Convert.ToInt32(ViewData["NumeroPagina"]) == Convert.ToInt32(ViewData["TotalItems"]))
    {
        <a href="#" class="family-teamwork height-30 width-40 pdt-5 pdr-10 pdb-5 pdl-10 color-100x3 @ViewData["HtmlEventAction"]"
           style="border-radius: 50%;" data-codificado="@ViewData["NextItem"]" data-tiposolicitud="@ViewData["TipoSolicitud"]" data-eventsearchget="search" data-eventclick="@ViewData["HtmlSearchElement"]"
                                    data-htmlrenderizado="@ViewData["HtmlRenderizado"]" data-htmlpaginador="@ViewData["HtmlPagination"]"> Siguiente &rsaquo;</a>

        <a href="#" class="family-teamwork ml-5 mr-5 height-30 width-40 pdt-5 pdr-10 pdb-5 pdl-10 color-100x3 @ViewData["HtmlEventAction"]"
           style="border-radius: 50%;" data-codificado="@ViewData["LastItem"]" data-tiposolicitud="@ViewData["TipoSolicitud"]" data-eventsearchget="search" data-eventclick="@ViewData["HtmlSearchElement"]"
                                    data-htmlrenderizado="@ViewData["HtmlRenderizado"]" data-htmlpaginador="@ViewData["HtmlPagination"]">Ultimo &raquo;</a>
    }

}