<a href="#" class="btn @ViewData["GlyphiconColor"]" data-cifrado="@ViewData["CodificarId"]"
   style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
    <i class="glyphicon-tw-7 @ViewData["Glyphicon"]" style="display: inline-block;"></i>
    <span style="display: inline-block; margin-top: -7px;">
        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                  font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">@ViewData["RenderizadoFirstTexto"]</i>
        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 14px; font-style: normal; display: block;">@ViewData["RenderizadoSecondTexto"]</i>
    </span>
</a>