@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Administrar Periodos";
}
<div class="container-fluid" style="width: 92%;">
    <span id="loader" class="dspl-none">
        @Html.Partial("_LoaderTransaccion")
    </span>
    <div class="row mt-100">
        <div class="row col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-7 col-sm-7 col-md-7 col-lg-7">
                <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
                    <i class="glyphicon-tw-5 glyphicon-tw-anexos"></i> Mantenedor Periodo
                </h1>
                <h2 class="family-teamwork fs-20">
                    Portal de Ingreso para gestionar integramente los periodos.
                </h2>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-20">
        <div class="row ml-auto mr-auto mt-auto" id="tablaPeriodos">
            @Html.Partial("Periodo/_ListadoPeriodos")
        </div>
    </div>

    
    @Html.Partial("Periodo/_ModalAgregarPeriodo")
    @Html.Partial("Periodo/_ModalCerrarPeriodo")

    @Scripts.Render("~/bundles/ajaxFuncionesfz")
    @Scripts.Render("~/bundles/administrarperiodos")
    @Scripts.Render("~/bundles/utils")

    


</div>