@{

    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Carga Masiva Kam";
    
}

<div class="row mt-100 ml-auto mr-auto ta-center" style="width: 92%;">
    @{
        foreach (AplicacionOperaciones.Models.CargaMasiva item in (List<AplicacionOperaciones.Models.CargaMasiva>)ViewBag.RenderizadoCargaMasiva)
        {
            Html.RenderPartial("_CargaMasiva", new ViewDataDictionary()
{
                    { "Glyphicon", item.Glyphicon },
                    { "GlyphiconColor", item.GlyphiconColor },
                    { "RenderizadoTituloOne", item.RenderizadoTituloOne },
                    { "RenderizadoTituloTwo", item.RenderizadoTituloTwo },
                    { "RenderizadoDescripcion", item.RenderizadoDescripcion },
                    { "UploadRenderizadoColor", item.UploadRenderizadoColor },
                    { "UploadNombrePlantilla", item.UploadNombrePlantilla },
                    { "UploadNombreHojaCargaMasiva", item.UploadNombreHojaCargaMasiva },
                    { "UploadCifrado", item.UploadCifrado },
                    { "UploadColumnas", item.UploadColumnas },
                    { "UploadNodoPadre", item.UploadNodoPadre },
                    { "UploadNodoHijo", item.UploadNodoHijo },
                    { "UploadRenderizadoGlyphicon", item.UploadRenderizadoGlyphicon },
                    { "UploadRenderizadoOneTexto", item.UploadRenderizadoOneTexto },
                    { "UploadRenderizadoSecTexto", item.UploadRenderizadoSecTexto },
                    { "UploadRenderizadoMensajeImpt", item.UploadRenderizadoMensajeImpt },
                    { "RenderizadoTituloDownload", item.RenderizadoTituloDownload },
                    { "DownloadCifrado", item.DownloadCifrado },
                    { "DownloadRenderizadoColor", item.DownloadRenderizadoColor },
                    { "DownloadRenderizadoGlyphicon", item.DownloadRenderizadoGlyphicon },
                    { "DownloadRenderizadoOneTexto", item.DownloadRenderizadoOneTexto },
                    { "DownloadRenderizadoSecTexto", item.DownloadRenderizadoSecTexto },
                    { "DownloadRenderizadoMensajeImpt", item.DownloadRenderizadoMensajeImpt }
                });
        }
    }

</div>

@Scripts.Render("~/bundles/ajaxfuncionesFZ")
@Scripts.Render("~/bundles/ajaxfunciones")
@Scripts.Render("~/bundles/utils")
@Scripts.Render("~/bundles/anexos")
@Scripts.Render("~/bundles/cargamasiva")