@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Finanzas";

    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Mantención";
}
<div class="row mt-100 ml-auto mr-auto mb-20" style="width: 90%;">
    <div class="col-7 col-sm-7 col-md-7 col-lg-7">
        <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
            <i class="glyphicon-tw-5 glyphicon-tw-anexos"></i> Mantenedor Proveedores
        </h1>
        <div class="col-12">
            <h2 class="family-teamwork fs-20">
                Portal de Ingreso para gestionar integramente los proveedores.
            </h2>
        </div>
    </div>
</div>
@if (ViewBag.CodeCorrect)
{
    switch ((string)ViewBag.EventoMantencion)
    {
        case "RWRpdA==":
            <div class="row mt-100">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <span id="messageEvento"></span>
                </div>
                <!--class="col-12 col-sm-12 col-md-12 col-lg-12"-->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <label>Nombre Actual Proveedor: @ViewBag.NombreProveedor</label>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <label>Nuevo Nombre</label>
                    <input type="text" id="newNombreModal" value="@ViewBag.NombreProveedor" />

                </div>
                <div class="mt-50">




                    <button id="nuevoRut" class="btn btn-warning eventActualizar dspl-inline-block ta-left color-fx3 br-25 height-50"
                            value="@ViewBag.Codificar">
                        <i class="glyphicon-tw-6 glyphicon-tw-check dspl-inlblc mb-15neg"></i>
                        <span class="dspl-inlblc">
                            <i class="family-teamwork dspl-blc fs-14 fst-normal mb-8neg">Actualizar</i>
                            <i class="family-teamwork dspl-blc fs-14 fst-normal">Proveedor</i>
                        </span>
                    </button>
                    

                    <a href="@ViewBag.EnlaceAdministrarProveedor" class="btn btn-danger">
                        Cancelar
                    </a>
                </div>
            </div>
            break;
    }


    @Html.Partial("Proveedor/_ModalConfirmarActualizarProveedor")
}
else
{
    foreach (AplicacionOperaciones.Models.Error item in (List<AplicacionOperaciones.Models.Error>)ViewBag.Error)
    {
        @Html.Partial("_ErrorSistema", new ViewDataDictionary {
            { "Message", item.Message }
        });
    }
}

@Scripts.Render("~/bundles/administrarproveedor")