@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Procesos";
}

<div class="row mt-70 ml-auto mr-auto" style="width: 92%;">
    <span id="loader" class="dspl-none">
        @Html.Partial("_LoaderTransaccion")
    </span>

    @switch ((string)ViewBag.RenderizadoView)
    {
        case "All":
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
                    <i class="glyphicon-tw-5 glyphicon-tw-proceso2"></i> Procesos de Pagos
                </h1>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-30" id="contentPagosPendientes">
                @Html.Partial("Finanzas/_ProcesosPagosPendientes")
            </div>
            break;
        case "Detalle":
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
                    <i class="glyphicon-tw-5 glyphicon-tw-proceso2"></i> Pagos del Proceso
                </h1>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                @foreach (Teamwork.Model.Finanzas.ProcesosPago item in ViewBag.RenderizadoProcesosPago)
                {
                    <h1 class="family-teamwork">Nombre Proceso: @item.NombreProceso</h1>
                    <a href="@ViewBag.ReturnProcesos" class="btn btn-teamwork"
                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-reasignar" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Volver a Procesos</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">De Pago</i>
                        </span>
                    </a>
                    if (item.OptReportePagos == "S")
                    {
                        <a href="@item.DownloadReportePago" class="btn btn-success"
                           style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-excel" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Descargar Reporte</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Pagos Proceso</i>
                            </span>
                        </a>
                    }
                    
                    if (item.OptIniciarProcesoMasivoPago == "S")
                    {
                        using (Ajax.BeginForm("ConfirmarEvento", "Finanzas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "confirmacionEvent",
                            OnSuccess = "ModalConfirmacionEvent",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" name="codigoProceso" value="@item.CodigoProceso" class="dspl-none" />
                            <input type="text" name="option" value="IniciarProcesoMasivoPago" class="dspl-none" />
                            <button type="submit" class="btn btn-teamwork"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-dinero" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Inicar Proceso</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">de Pago Masivo</i>
                                </span>
                            </button>
                        }
                    }

                    if (item.OptContinarProcesoMasivoPago == "S")
                    {
                        using (Ajax.BeginForm("ConfirmarEvento", "Finanzas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "confirmacionEvent",
                            OnSuccess = "ModalConfirmacionEvent",
                            LoadingElementId = "loader"
                        }))
                        {
                            <a href="@item.EnlaceContinuarProcesoMasivo" class="btn btn-warning"
                               style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #000;">
                                <i class="glyphicon-tw-7 glyphicon-tw-dinero" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Continuar Proceso</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">de Pago Masivo</i>
                                </span>
                            </a>
                        }
                    }
                }
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-30" id="contentPagosPendientes">
                @Html.Partial("Finanzas/_PagosPendientes")
            </div>
            break;
        case "SuccessProcesoMasivoPago":
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
                    <i class="glyphicon-tw-5 glyphicon-tw-proceso2"></i> Proceso masivo de pago
                </h1>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                @foreach (Teamwork.Model.Finanzas.ProcesosPago item in ViewBag.RenderizadoProcesosPago)
                {
                    <h1 class="family-teamwork">Nombre Proceso: @item.NombreProceso</h1>
                    <a href="@ViewBag.ReturnProcesos" class="btn btn-teamwork"
                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-reasignar" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Volver a Procesos</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">De Pago</i>
                        </span>
                    </a>
                    if (item.OptReportePagos == "S")
                    {
                        <a href="@item.DownloadReportePago" class="btn btn-success"
                           style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-excel" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Descargar Reporte</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Pagos Proceso</i>
                            </span>
                        </a>
                    }
                    if (item.OptPagarMasivo == "S")
                    {
                        using (Ajax.BeginForm("ConfirmarEvento", "Finanzas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "confirmacionEvent",
                            OnSuccess = "ModalConfirmacionEvent",
                            LoadingElementId = "loader"
                        }))
                        {
                            <input type="text" name="option" value="PagarMasivo" class="dspl-none" />
                            <input type="text" name="codigoProceso" value="@item.CodigoProceso" class="dspl-none" />
                            <button type="submit" class="btn btn-success"
                                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Pagar Masivo</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Proceso Pagos Pendientes</i>
                                </span>
                            </button>
                        }
                    }
                }
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-30">
                <h2 class="family-teamwork">
                    <img src="~/Resources/check.png" style="width: 50px; border-radius: 50%;" class="success dspl-inline-block" /> Pagos Incluidos del proceso masivo
                </h2>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-20" id="contentPagosPendientes">
                @Html.Partial("Finanzas/_PagosMasivosInc")
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-30">
                <h2 class="family-teamwork">
                    <img src="~/Resources/cancel.png" style="width: 50px; border-radius: 50%;" class="danger dspl-inline-block" /> Pagos Excluidos del proceso masivo
                </h2>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-20 mb-100" id="contentPagosPendientes">
                @Html.Partial("Finanzas/_PagosMasivosExc")
            </div>
            break;
        case "ErrorProcesoMasivoPago":
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
                    <i class="glyphicon-tw-5 glyphicon-tw-proceso2"></i> Pagos del Proceso
                </h1>
            </div>
            foreach (Teamwork.Model.Finanzas.ProcesosPago item in ViewBag.RenderizadoProcesosPago)
            {
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">

                    <h1 class="family-teamwork">Nombre Proceso: @item.NombreProceso</h1>
                    <a href="@ViewBag.ReturnProcesos" class="btn btn-teamwork"
                       style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-reasignar" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Volver a Procesos</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">De Pago</i>
                        </span>
                    </a>
                    @if (item.OptReportePagos == "S")
                    {
                        <a href="@item.DownloadReportePago" class="btn btn-success"
                           style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                            <i class="glyphicon-tw-7 glyphicon-tw-excel" style="display: inline-block;"></i>
                            <span style="display: inline-block; margin-top: -7px;">
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Descargar Reporte</i>
                                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Pagos Proceso</i>
                            </span>
                        </a>
                    }
                </div>
                <div class="col-lg-2"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <img src="~/Resources/sinresultados.png" style="width: 100px;" class="dspl-block m-auto" />
                    <h1 class="family-teamwork ta-center color-70x3 mt-10ne">Ups! Lo sentimos, pero no ha iniciado el</h1>
                    <h1 class="family-teamwork ta-center color-70x3 mt-10neg" style="font-size: 50px;">PROCESO DE PAGO MASIVO</h1>
                    <p class="family-teamwork ta-center">Puedes iniciar el proceso masivo de pago</p>
                    <div class="ta-center">
                        @if (item.OptIniciarProcesoMasivoPago == "S")
                        {
                            using (Ajax.BeginForm("ConfirmarEvento", "Finanzas", new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "confirmacionEvent",
                                OnSuccess = "ModalConfirmacionEvent",
                                LoadingElementId = "loader"
                            }))
                            {
                                <input type="text" name="codigoProceso" value="@item.CodigoProceso" class="dspl-none" />
                                <input type="text" name="option" value="IniciarProcesoMasivoPago" class="dspl-none" />
                                <button type="submit" class="btn btn-teamwork"
                                        style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                                    <i class="glyphicon-tw-7 glyphicon-tw-dinero" style="display: inline-block;"></i>
                                    <span style="display: inline-block; margin-top: -7px;">
                                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Inicar Proceso</i>
                                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">de Pago Masivo</i>
                                    </span>
                                </button>
                            }
                        }
                    </div>
                </div>
                <div class="col-lg-2"></div>
            }
            break;
    }


    @Html.Partial("Finanzas/_ModalConfirmacionEvento")
</div>

<script>
    function HideModalConfirmacionEvent() {
        $("#modalConfirmacionEvent").modal("hide");
    }

    function onBegin() { }

    function onSuccess() {
        $("#loader").addClass('dspl-none').removeClass('dspl-block');
    }

    function ModalConfirmacionEvent() {
        $("#modalConfirmacionEvent").modal("show");
    }
</script>