<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
        <i class="glyphicon-tw-5 @ViewData["Glyphicon"] @ViewData["GlyphiconColor"]" style="border-radius: 50%;"></i><br />@ViewData["RenderizadoTituloOne"] @ViewData["RenderizadoTituloTwo"]
    </h1>
    <h2 class="family-teamwork fs-20 mt-5neg">@ViewData["RenderizadoDescripcion"]</h2>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-left" id="messagePlataforma"></div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    @{
        Html.RenderPartial("_UploadFileCargaMasiva", new ViewDataDictionary {
            { "Id", ViewData["UploadCifrado"] },
            { "NombrePlantilla", ViewData["UploadNombrePlantilla"] },
            { "NombreHojaCargaMasiva", ViewData["UploadNombreHojaCargaMasiva"] },
            { "RenderizadoOneTexto", ViewData["UploadRenderizadoOneTexto"] },
            { "RenderizadoSecTexto", ViewData["UploadRenderizadoSecTexto"] },
            { "RenderizadoMensajeImpt", ViewData["UploadRenderizadoMensajeImpt"] },
            { "RenderizadoGlyphicon", ViewData["UploadRenderizadoGlyphicon"] },
            { "RenderizadoColor", ViewData["UploadRenderizadoColor"] },
            { "Tipo", "" },
            { "NodoPadre", ViewData["UploadNodoPadre"] },
            { "NodoHijo", ViewData["UploadNodoHijo"] },
            { "Columnas", ViewData["UploadColumnas"] }
        });
    }
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-30">
    <h1 class="family-teamwork" style="font-size: 30px;">@ViewData["RenderizadoTituloDownload"] @ViewData["RenderizadoTituloTwo"]</h1>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-10">
    @{
        Html.RenderPartial("_DownloadFileCargaMasiva", new ViewDataDictionary {
            { "Id", ViewData["DownloadCifrado"] },
            { "NombrePlantilla", "" },
            { "NombreHojaCargaMasiva", "" },
            { "RenderizadoOneTexto", ViewData["DownloadRenderizadoOneTexto"] },
            { "RenderizadoSecTexto", ViewData["DownloadRenderizadoSecTexto"] },
            { "RenderizadoMensajeImpt", ViewData["DownloadRenderizadoMensajeImpt"] },
            { "RenderizadoGlyphicon", ViewData["DownloadRenderizadoGlyphicon"] },
            { "RenderizadoColor", ViewData["DownloadRenderizadoColor"] }
        });
    }
</div>
<span id="loaderProceso"></span>