<div class="col-12 col-sm-12 col-md-12 col-lg-6 mt-5">
    <div style="width: 99.6%;" class="color-fx3 pdl-20 pdr-20 pdt-10 pdb-5 dspl-inline-block">
        <h1 style="font-size: 15px; width: 30%; border-radius: 50px; z-index: 99; position: relative;" class="family-teamwork warning color-fx3 pdb-10 pdt-10 pdl-20 pdr-20 dspl-inline-block">
            <span style="font-size: 19px;">Analisis Estadistico </span><br />del siguiente analista
        </h1>
        <h2 style="font-size: 15px; width: 50%; border-radius: 50px; z-index: 9; position: relative;" class="ta-left family-teamwork teamwork color-fx3 pdb-10 pdt-10 pdl-60 pdr-20 dspl-inline-block ml-50neg">
            <span style="font-size: 19px;">Analista de Contratos</span><br />@ViewBag.Analista
        </h2>
        <div class="mt-10">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3 col-lg-3 ta-center">
                    <h1 class="color-428BCA family-teamwork fw-bold" style="font-size: 20px;">SOLICITADO</h1>
                    <h1 class="color-428BCA family-teamwork fw-bold">@ViewBag.CSolicitado</h1>
                    <h1 class="color-100x3 family-teamwork fw-bold mt-10neg" style="font-size: 15px;">SOLICITUDES DE</h1>
                    <h1 class="color-100x3 family-teamwork fw-bold mt-10neg fw-bold" style="font-size: 25px;">@ViewBag.ConceptoC</h1>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3 ta-center">
                    <h1 class="color-9218492 family-teamwork fw-bold" style="font-size: 20px;">TERMINADO</h1>
                    <h1 class="color-428BCA family-teamwork fw-bold">@ViewBag.CTerminado</h1>
                    <h1 class="color-100x3 family-teamwork fw-bold mt-10neg" style="font-size: 15px;">SOLICITUDES DE</h1>
                    <h1 class="color-100x3 family-teamwork fw-bold mt-10neg fw-bold" style="font-size: 25px;">@ViewBag.ConceptoC</h1>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3 ta-center">
                    <h1 class="color-428BCA family-teamwork fw-bold" style="font-size: 20px;">SOLICITADO</h1>
                    <h1 class="color-100x3 family-teamwork fw-bold">@ViewBag.RSolicitado</h1>
                    <h1 class="color-100x3 family-teamwork fw-bold mt-10neg" style="font-size: 15px;">SOLICITUDES DE</h1>
                    <h1 class="color-100x3 family-teamwork fw-bold mt-10neg fw-bold" style="font-size: 25px;">@ViewBag.ConceptoR</h1>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3 ta-center">
                    <h1 class="color-9218492 family-teamwork fw-bold" style="font-size: 20px;">TERMINADO</h1>
                    <h1 class="color-9218492 family-teamwork fw-bold">@ViewBag.RTerminado</h1>
                    <h1 class="color-100x3 family-teamwork fw-bold mt-10neg" style="font-size: 15px;">SOLICITUDES DE</h1>
                    <h1 class="color-100x3 family-teamwork fw-bold mt-10neg fw-bold" style="font-size: 25px;">@ViewBag.ConceptoR</h1>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 30%;" class="warning color-fx3 pdl-20 pdr-20 pdt-10 pdb-10 dspl-inline-block">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-12 ta-center">
                <a href="#" data-analista="@ViewBag.Analista" data-estado="" data-tipoestado="" data-tipo="contrato" class="dspl-block text-decoration-none color-fx3 eventFiltrarEspecifico" style="width: 100%;">
                    <h1 class="family-teamwork">@ViewBag.TotalC</h1>
                    <h1 class="family-teamwork mt-10neg" style="font-size: 15px;">SOLICITUDES DE</h1>
                    <h1 class="family-teamwork mt-10neg fw-bold" style="font-size: 25px;">@ViewBag.ConceptoC</h1>
                </a>
            </div>
        </div>
    </div>
    <div style="width: 69%;" class="teamwork color-fx3 pdl-20 pdr-20 pdt-10 pdb-10 dspl-inline-block">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 ta-center">
                <h1 class="family-teamwork">@ViewBag.CTwest</h1>
                <h1 class="family-teamwork mt-10neg" style="font-size: 15px;">SOLICITUDES</h1>
                <h1 class="family-teamwork mt-10neg fw-bold" style="font-size: 25px;">TWEST</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 ta-center">
                <h1 class="family-teamwork">@ViewBag.CTwrrhh</h1>
                <h1 class="family-teamwork mt-10neg" style="font-size: 15px;">SOLICITUDES</h1>
                <h1 class="family-teamwork mt-10neg fw-bold" style="font-size: 25px;">TWRRHH</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 ta-center">
                <h1 class="family-teamwork">@ViewBag.CTwc</h1>
                <h1 class="family-teamwork mt-10neg" style="font-size: 15px;">SOLICITUDES</h1>
                <h1 class="family-teamwork mt-10neg fw-bold" style="font-size: 25px;">TWC</h1>
            </div>
        </div>
    </div>
    <div style="width: 30%;" class="warning color-fx3 pdl-20 pdr-20 pdt-10 pdb-10 dspl-inline-block mt-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-12 ta-center">
                <a href="#" data-analista="@ViewBag.Analista" data-estado="" data-tipoestado="" data-tipo="renovacion" class="dspl-block text-decoration-none color-fx3 eventFiltrarEspecifico" style="width: 100%;">
                    <h1 class="family-teamwork">@ViewBag.TotalR</h1>
                    <h1 class="family-teamwork mt-10neg" style="font-size: 15px;">SOLICITUDES DE</h1>
                    <h1 class="family-teamwork mt-10neg fw-bold" style="font-size: 25px;">@ViewBag.ConceptoR</h1>
                </a>
            </div>
        </div>
    </div>
    <div style="width: 69%;" class="teamwork color-fx3 pdl-20 pdr-20 pdt-10 pdb-10 dspl-inline-block mt-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 ta-center">
                <h1 class="family-teamwork">@ViewBag.RTwest</h1>
                <h1 class="family-teamwork mt-10neg" style="font-size: 15px;">SOLICITUDES</h1>
                <h1 class="family-teamwork mt-10neg fw-bold" style="font-size: 25px;">TWEST</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 ta-center">
                <h1 class="family-teamwork">@ViewBag.RTwrrhh</h1>
                <h1 class="family-teamwork mt-10neg" style="font-size: 15px;">SOLICITUDES</h1>
                <h1 class="family-teamwork mt-10neg fw-bold" style="font-size: 25px;">TWRRHH</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 ta-center">
                <h1 class="family-teamwork">@ViewBag.RTwc</h1>
                <h1 class="family-teamwork mt-10neg" style="font-size: 15px;">SOLICITUDES</h1>
                <h1 class="family-teamwork mt-10neg fw-bold" style="font-size: 25px;">TWC</h1>
            </div>
        </div>
    </div>
</div>