<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lectura Inteligente Codigo de Barra</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/w3.css")

    @Styles.Render("~/Content/teamwork/glyphicon-tw.css")
    @Styles.Render("~/Content/teamwork/form-tw.css")
    @Styles.Render("~/Content/teamwork/btn.css")
    @Styles.Render("~/Content/teamwork/background-color.css")
    @Styles.Render("~/Content/teamwork/background-size.css")
    @Styles.Render("~/Content/teamwork/generic-tw.css")
    @Styles.Render("~/Content/teamwork/color.css")
    @Styles.Render("~/Content/teamwork/display.css")
    @Styles.Render("~/Content/teamwork/height.css")
    @Styles.Render("~/Content/teamwork/margin.css")
    @Styles.Render("~/Content/teamwork/padding.css")
    @Styles.Render("~/Content/teamwork/width.css")
    @Styles.Render("~/Content/teamwork/cursor.css")
    @Styles.Render("~/Content/teamwork/text-decoration.css")
    @Styles.Render("~/Content/teamwork/loader.css")
    @Styles.Render("~/Content/teamwork/menu.css")
    @Styles.Render("~/Content/owlCarousel/owl.carousel.min.css")
    @Styles.Render("~/Content/teamwork/teamwork-files.css")
    @Styles.Render("~/Content/Chartjs/Chart.min.css")
    @Styles.Render("~/Content/teamwork/Datepicker.css")
    @Styles.Render("~/Content/jquery-ui.css")
    @Styles.Render("~/Content/teamwork/paginator.css")

    <!-- RENDERIZADO DE SCRIPTS -->
    @Scripts.Render("~/Scripts/jquery-3.3.1.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/Datepicker.js")
    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/xlsx.full.min.js")
    @Scripts.Render("~/Scripts/owlCarousel/owl.carousel.min.js")
    @Scripts.Render("~/Scripts/Chartjs/Chart.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/MaterialDesign/js/popper.min.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
</body>
</html>