<a href="@ViewData["Redirection"]" class="btn @ViewData["GlyphiconColor"] ta-left color-fx3 @ViewData["AddClass"]" id="@ViewData["Identificador"]" data-pdf="@ViewData["DataValor"]"
   style="border-radius: 25px; width: 100%; height: 40px;">
    <i class="glyphicon-tw-7 @ViewData["Glyphicon"] dspl-inline-block"></i>
    <span class="dspl-inline-block mt-9neg">
        <i class="family-teamwork fst-normal dspl-block mb-2neg">@ViewData["Glosa"]</i>
    </span>
</a>