@foreach (Teamwork.Model.Operaciones.SolicitudCargo item in ViewBag.RenderizadoSolicitudCargoMod)
{
    <i class="family-teamwork @item.GlyphiconColor color-fx3 fst-normal pdt-10 pdl-20 pdr-20 pdb-10 mr-10">
        <i class="@item.Glyphicon" style="width: 25px; height: 25px; margin-bottom: -7px; display: inline-block;"></i> @item.Estado
    </i>
    <h1 class="family-teamwork mt-10 mb-10"><b>@item.NombreSolicitud</b></h1>
    <i class="family-teamwork @item.GlyphiconColor color-fx3 fst-normal pdt-10 pdl-20 pdr-20 pdb-10 mr-10">Creado @item.Creado</i>
    <i class="family-teamwork @item.GlyphiconColor color-fx3 fst-normal pdt-10 pdl-20 pdr-20 pdb-10 mr-10">Ultima Actualización @item.UltimaActualizacion</i>
    <i class="family-teamwork @item.GlyphiconColor color-fx3 fst-normal pdt-10 pdl-20 pdr-20 pdb-10 mr-10">Cliente @item.Cliente</i>
    <i class="family-teamwork @item.GlyphiconColor color-fx3 fst-normal pdt-10 pdl-20 pdr-20 pdb-10 mr-10">Creado Por @item.CreadoPor</i>
    <p class="family-teamwork mt-15 bl-5-solid-B703FA pdl-5 pdt-5 pdb-5" style="font-size: 25px;">Comentarios: @item.Comentarios</p>
}